<div class="main-container main-container-full" [ngClass]="{'subscription-pending': user?.primary_organization?.subscription_pending}">
  <main class="main-content" role="main">
    <section class="manage-subscription-hero">
      <div class="section-content">
        <div class="overview">
          <h1 class="page-title-large">Manage subscription</h1>
          <p class="paragraph-intro">
            You can upgrade or cancel your Temperate package at any time. If the below packages 
            don't suit your needs, <a href="mailto:{{ supportEmail }}">contact us</a> so we can 
            figure out what works for you.
          </p>
        </div>
      
        <div class="current plan-notice" *ngIf="user?.primary_organization.isFreeTrial() && !user?.primary_organization?.subscription_pending">
          <h3 class="heading">Free trial</h3>
          <div class="description">
            Your 15-day free trial ends on
            {{ user?.primary_organization?.subscription_end_date | date:'longDate' }}
          </div>
        </div>
        
        <div class="current plan-notice" *ngIf="!user?.primary_organization.isFreeTrial()">
          <div class="description" *ngIf="!user?.primary_organization?.subscription_pending">
            Your <strong>{{ getSubscription(user?.primary_organization?.subscription).nickName }}</strong> subscription ends on
            {{ user?.primary_organization?.subscription_end_date | date:'longDate' }}
          </div>
          <div class="description" *ngIf="user?.primary_organization?.subscription_pending">
            Your purchase of the <strong>{{ getSubscription(user?.primary_organization?.subscription).nickName }}</strong> package is pending review.
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="section-content">
        <h3 class="heading">Select a package</h3>
        <app-plan-selector [org]="user?.primary_organization"
                           (selected)="selectPlan($event)"></app-plan-selector>
      </div>
    </section>
    
    <section class="section-extra-plans">
      <div class="section-content">
        <h3 class="heading">Not seeing what you need above?</h3>
        <div class="plan-cards">

          <div class="plan-card" [ngClass]="{active: customPlan.name === user?.primary_organization?.subscription}">
            <h4 class="heading">{{ customPlan.header }}</h4>
            <p class="description">{{ customPlan.description }}</p>
            
            <span class="button-container"
                  tooltip="Further changes disabled while subscription pending"
                  placement="top"
                  container="body"
                  *ngIf="user?.primary_organization?.subscription_pending">
              <button class="button button-positive" disabled>
                Contact us
              </button>
            </span>

            <button class="button button-positive"
                    [disabled]="customPlan.name === user?.primary_organization?.subscription"
                    (click)="selectPlan(customPlan)"
                    *ngIf="!user?.primary_organization?.subscription_pending">
              {{ customPlan.name === user?.primary_organization?.subscription ? 'Selected' : 'Contact us' }}
            </button>

            <div class="plan-tag" 
                 [ngClass]="{'positive': !user?.primary_organization?.subscription_pending}" 
                 *ngIf="customPlan.name === user?.primary_organization?.subscription">
                 {{ user?.primary_organization?.subscription_pending ? 'Pending' : 'Current plan' }}</div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>

<app-modal-template #selectSubscriptionModal
                    title="Upgrade subscription">
  <div *ngIf="activeModalStep === modalStep.Select">
    <h2 class="subscription-modal-plan">
      <span class="plan-name">{{ selectedPlan?.name | titlecase }}</span> package
    </h2>
    <iframe name="manage-subscription-iframe"
            id="manage-subscription-iframe"
            src="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8">
    </iframe>
    <form ngNoForm
        id="manage-subscription-form"
        action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8"
        method="POST"
        target="manage-subscription-iframe">
      <input type=hidden name="oid" value="00D700000008ZTW">
      <input type=hidden name="retURL" value="{{ url }}">
      <input type=hidden id="lead_source" name="lead_source" value="Temperate">

      <input id="first_name" name="first_name" type="hidden" value="{{ user?.first_name }}">
      <input id="last_name" name="last_name" type="hidden" value="{{ user?.last_name }}">
      <input id="email" name="email" type="hidden" value="{{ user?.email }}">
      <input id="company" name="company" type="hidden" value="{{ user?.primary_organization?.name }}">
      <input  id="state" name="state" type="hidden" value="">

      <input id="00N0g000003o4q3"
             name="00N0g000003o4q3"
             title="Temperate Support Package"
             type="hidden"
             value="{{ selectedPlan?.name | titlecase }}">

      <div *ngIf="selectedPlan?.name === customSubscription" class="form-control-container">
        <label>Tell us more about what you&rsquo;re looking for</label>
        <textarea class="form-control" id="00N700000036oeq" name="00N700000036oeq" rows="3" type="text" wrap="soft" autofocus></textarea>
      </div>
    </form>
    <footer class="modal-footer">
      <button *ngIf="selectedPlan?.name !== customSubscription" form="manage-subscription-form" type="submit" name="submit"
              class="button button-primary"
              (click)="submitPlanChange(selectedPlan)">Send me the invoice</button>
      <button *ngIf="selectedPlan?.name === customSubscription" form="manage-subscription-form" type="submit" name="submit"
              class="button button-primary"
              (click)="submitPlanChange(selectedPlan)">Send</button>
    </footer>
  </div>
  <div *ngIf="activeModalStep === modalStep.Review">
    <h2>Great! We&rsquo;re excited to help you on this journey</h2>
    <p>
      You should receive an invoice in your email soon. Please pay the invoice within 
      30 days to continue building your adaptive plan in Temperate!
    </p>
    <footer class="modal-footer">
      <button class="button button-primary"
              (click)="closeModal(selectSubscriptionModal)">Okay</button>
    </footer>
  </div>
</app-modal-template>
