<header class="header-primary" role="banner">
  <a href="/dashboard" class="logo"><img src="assets/images/climate-logo-black.svg" alt="Climate by Azavea logo"></a>
  <div class="button-group">
    <button class="contact-iclei button button-primary button-small"
            (click)="openModal(template)">Create an Account</button>
    <button class="button button-secondary button-small" data-toggle="modal" data-target="#modal-login">Log In</button>
  </div>
</header>
<main class="main-content" role="main">
  <section class="container-hero container-fullheight">
    <div class="container-content hero-content light-content">
      <h1 class="heading text-jumbo">Find out how to best plan for climate change.</h1>
      <p><strong>Climate</strong> offers planners fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis.</p>
      <button class="contact-iclei button button-primary button-large"
              (click)="openModal(template)">Create an Account</button>
    </div>
    <div class="helper-arrow">What is this?</div>
  </section>
  <section class="container-standard">
    <div class="container-content">
      <h2 class="heading">Climate Change Data for your Community</h2>
      <p class="paragraph-intro"><strong>Climate</strong> gives you access to more data, identifies major risks to your region, assists you in anticipating the impacts of climate change on your community, and lets you come away with a robust first draft of an adaptation plan. It goes beyond the presentation of generic information by tailoring the projected risk factors to your specific city or town.</p><p>Unlike other applications that simply give you the data and expect you to know how to translate that into a plan, as a registered <strong>Climate</strong> member, you will have access to experts to help you find the right information, understand the impacts of climate change on your community, and create an adaptation plan for you to share with other stakeholders.</p>
    </div>
  </section>
  <section class="container-standard">
    <div class="container-content">
      <h2 class="heading">Think through the impacts</h2>
      <p class="paragraph-intro">Digesting the data is just the first step in the process. <strong>Climate</strong> will guide you through the next steps, which include conducting a vulnerability assessment and planning for action.</p>
    </div>
    <div class="illustration-fullwidth">
      <div class="illustration-row">
        <figure id="figure-1" class="illustration figure-third">
          <img src="https://lorempixel.com/201/200/" alt="" />
          <figcaption>Access dependable projection data</figcaption>
        </figure>
        <figure id="figure-2" class="illustration figure-third">
          <img src="https://lorempixel.com/203/200/" alt="" />
          <figcaption>Collaborate with your team</figcaption>
        </figure>
        <figure id="figure-3" class="illustration figure-third">
          <img src="https://lorempixel.com/200/200/" alt="" />
          <figcaption>Create and export an assessment</figcaption>
        </figure>
      </div>
      <div class="illustration-row">
        <figure id="figure-4" class="illustration figure-full">
          <img src="https://lorempixel.com/202/200/" alt="" />
          <figcaption>receive support from ICLEI every step of the way</figcaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="container-standard container-cta">
    <div class="container-content light-content">
      <h2 class="heading">Get expert guidance</h2>
      <p class="paragraph-intro">As a registered member, you’ll have on-demand access to a adaptation planner at ICLEI. With more than 25 years of experience helping local governments adopt sustainable practices, ICLEI staff will assist you in building your adaptation plan.</p>
      <button class="contact-iclei button button-inverted button-large"
              (click)="openModal(template)">Create an account</button>
    </div>
  </section>
</main>

<!-- Footer -->
<footer class="site-footer" role="contentinfo">
  <a href="index.html" class="logo"><img src="assets/images/climate-logo-white.svg" alt="Climate by Azavea logo"></a>
  <div class="site-information">
    <p>© 2016-2017 <a href="https://www.azavea.com">Azavea,</a> using technology to inform research for civic and social impact. All rights reserved.</p>
    <p>Components of the Climate API have been developed with support from the US Dept. of Energy (DE‐SC0011303).</p>
    <p>Contact us at <strong>climate@azavea.com</strong></p>
  </div>
</footer>


<!-- Create Account Modal template -->
<ng-template #template>
  <div class="modal-header">
    <h1>Create an account</h1>
    <button type="button" class="button button-modal-close" (click)="modalRef.hide()">
      <i class="icon-cancel"></i>
    </button>
  </div>
  <div class="modal-body">
    <new-user-form></new-user-form>
  </div>
  <div class="modal-footer">
    <div class="button-group">
      <button type="button" class="button button-secondary button-small" (click)="modalRef.hide()">Cancel</button>
      <input type="submit" class="button button-primary button-small" value="Create" form="new-user-form">
    </div>
  </div>
</ng-template>

