<div class="main-container main-container-full">
  <main class="main-content" role="main">
    <alert type="success" *ngIf="showDownloadMessage">
      Check your browser downloads for your adaptation plan CSV.
      <strong>See you soon!</strong>
      <button type="button"
              class="button button-icon button-inverse-dark pull-right"
              aria-label="Close"
              (click)="showDownloadMessage = false">
        <i class="icon-cancel"></i>
      </button>
    </alert>
    <section class="marketing-hero">
      <div class="section-content">
        <div class="overview">
          <h1 class="heading">Your climate adaptation planning companion</h1>
          <p class="description">
            Temperate guides you through creating a plan for your community from
            start to finish.
          </p>
          <button class="button button-positive button-large"
                  routerLink="/register">Try for free</button>
          <p class="secondary-text">
            Already have an account? <a routerLink="/login">Log in</a>
          </p>
        </div>
        <div class="image marketing-hero-image" role="img" aria-label="Photograph of a hill that has a road with cars and a school bus on it. There are a few houses in view, and all is framed by a forest."></div>
      </div>
    </section>

    <section class="section-data">
      <div class="section-content">
        <div class="image-container">
          <img srcset="/assets/images/marketing/browser_inapp.png 1x, /assets/images/marketing/browser_inapp@2x.png 2x"
              class="image browser-image"
              src="/assets/images/marketing/browser_inapp.png" alt="Three overlapping browser screenshots highlighting areas of the Temperate app, including: A descriptive chart detailing the calculation of a risk's adaptive need, a page with risks that a user has decided to take action upon, and a page with interactive charts for various climate indicators">
        </div>
        <div class="overview">
          <h2 class="heading">Dependable data specific to your location</h2>
          <p>
            Temperate goes beyond presenting pages of generic graphs. We create easy to understand projection charts customized to your location and the risks you selected.
          </p>
        </div>
      </div>
    </section>

    <section class="section-build-plan">
      <div class="section-content">
        <div class="overview">
          <img src="/assets/images/marketing/coast.jpg" class="image" alt="Road by California cliffs on a sunny day, with waves crashing up against the shore" />
          <h2 class="heading">Assistance every step of the way</h2>
          <p>
            Planning for climate change is complex. Registered Temperate members have access to adaptation experts who can help you create an adaptation plan that meets your individual needs.
          </p>
          <p>
            With access to hundreds of existing strategies, regularly updated trustworthy data, and support from our partners at ICLEI-USA, your custom adaptation plan will be ready to share with stakeholders in no time.
          </p>
        </div>
        <ul class="feature-list">
          <li class="feature">
            <img src="/assets/images/marketing/illustration_risks.svg" class="image" alt="Icons depicting heat wave and hurricane hazards">
            <p class="description">Explore potential risks</p>
          </li>
          <li class="feature">
            <img src="/assets/images/marketing/illustration_assessment.svg" class="image" alt="A clipboard holding a report">
            <p class="description">Create a comprehensive vulnerability assessment</p>
          </li>
          <li class="feature">
            <img src="/assets/images/marketing/illustration_collaborate.svg" class="image" alt="Icon of a person with a plus sign">
            <p class="description">Collaborate with your team and engage stakeholders</p>
          </li>
          <li class="feature">
            <img src="/assets/images/marketing/illustration_actions.svg" class="image" alt="Icon of a globe">
            <p class="description">Access strategies from other cities</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="section-cta">
      <div class="section-content">
        <div class="overview">
          <h2 class="heading">Start building your plan</h2>
          <p class="description">
            Try Temperate for free for 15 days with no fees or credit card required. Get started on building your adaptation plan while exploring the software. Questions? <a href="mailto:support@temperate.io">Contact us</a> or check out our <a routerLink="/faq">FAQ page.</a>
          </p>
        </div>
        <button class="button button-primary button-large"
                routerLink="/register">Try for free</button>
      </div>
    </section>
  </main>
</div>
