<div class="main-container page-template">
  <main class="main-content" role="main">
    <div class="page-header">
      <h1 class="page-title-large">Methodology</h1>
      <p class="paragraph-intro">This is the methodology behind all of the components of Temperate.</p>
    </div>
    <div class="page-content">
      <section class="page-section">
        <h2>Indicator data</h2>
        <p>Using <a href="https://docs.climate.azavea.com/">Azavea’s Climate API,</a> Temperate features 22 temperature and precipitation climate change indicators derived from either the <a href="https://cds.nccs.nasa.gov/nex-gddp/">NASA NEX-GDDP</a> or <a href="http://loca.ucsd.edu/">UCSD LOCA</a> datasets.</p> 
        <p>Currently, the Climate API includes data for 1,000 cities across the USA historically and under two popular carbon emission scenarios projected until the end of the century. To provide the most detail possible, by default Temperate averages more than 30 climate models provided by a variety of research institutions around the globe. For those who have particular models in mind, when looking at a specific indicator, Temperate users can select one or more models of interest.</p>
      </section>
      
      <section class="page-section">
        <h2>Top concerns</h2>
        <p>The Temperate dashboard will display some potential future climate hazards for the user’s city, based on the geographic regions used in and findings included in the 2014 <a href="https://nca2014.globalchange.gov/">National Climate Assessment.</a> If for some reason those hazards are not a concern for a user’s city, the user can delete them from the list of top concerns.</p>
      </section>

      <section class="page-section">
        <h2>Suggested risks</h2>
        <p>Temperate uses the <a href="https://b8f65cb373b1b7b15feb-c70d8ead6ced550b4d987d7c03fcdd1d.ssl.cf3.rackcdn.com/cms/guidance_docs/pdfs/000/000/015/original/Compact-of-Mayors_2016_guidance_doc_(1).pdf?1455637590">list of hazards and community systems</a> that the <a href="https://www.globalcovenantofmayors.org/">Global Covenant of Mayors for Climate and Energy</a> has adopted. </p>
        <p>The hazards that are temperature or precipitation related will be linked to a subset of related climate change indicators. Those hazards that are not temperature or precipitation related will not have any related climate change indicators (although we hope to add additional resources and context to those hazards in the future). For each potential future climate hazard, Temperate selects two to five community systems that may be impacted, based on the experience of the adaptation planners at <a href="http://icleiusa.org/">ICLEI-USA.</a></p>
      </section>

      <section class="page-section">
        <h2>Adaptive need</h2>
        <p>Description pending</p>
      </section>

      <section class="page-section">
        <h2>Suggested actions</h2>
        <p>Description pending</p>
      </section>
    </div>
  </main>
</div>
