<div class="modal-header">
  <h1>Create an account</h1>
  <button type="button" class="button button-modal-close" (click)="onClose()">
    <i class="icon-cancel"></i>
  </button>
</div>
<div class="modal-body">
  <p>Please enter your information below to create a <strong>Climate</strong> account.</p>
  <form #newUserForm="ngForm" class="form" id="new-user-form" (ngSubmit)="onSubmit()">
    <!-- First name -->
    <div class="required form-group">
      <label for="firstName">First Name</label>
      <input class="form-control" type="text" required autocomplete="given-name"
        [(ngModel)]="model.firstName" #firstName="ngModel" name="firstName">
      <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched || newUserForm.submitted)"
        class="alert alert-danger">
        <p *ngIf="firstName.errors.required">First name is required.</p>
      </div>
    </div>

    <!-- Last Name -->
    <div class="required form-group">
      <label for="lastName">Last Name</label>
      <input class="form-control" type="text" required autocomplete="family-name"
        [(ngModel)]="model.lastName" #lastName="ngModel" name="lastName">
    </div>

    <!-- Email Address -->
    <div class="required form-group">
      <label for="email">Email Address</label>
      <input class="form-control" type="email" required autocomplete="email"
        [(ngModel)]="model.email" #email="ngModel" name="email">
    </div>

    <!-- Organization -->
    <div class="form-group">
      <label for="organization">Organization Name</label>
      <input class="form-control" type="text" autocomplete="organization"
        [(ngModel)]="model.organization" #organization="ngModel" name="organization">
    </div>

    <!-- Password -->
    <div class="required form-group">
      <label for="password1">Password</label>
      <input class="form-control" type="password" required autocomplete="new-password"
        [(ngModel)]="model.password1" #password1="ngModel" name="password1">
    </div>

    <div class="required form-group">
      <label for="password2">Password (confirm)</label>
      <input class="form-control" type="password" required autocomplete="new-password"
        [(ngModel)]="model.password2" #password2="ngModel" name="password2">
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button type="button" class="button button-secondary button-small" (click)="onClose()">Cancel</button>
    <input type="submit" [disabled]="newUserForm.invalid" class="button button-primary button-small"
      value="Create" form="new-user-form">
  </div>
</div>
