<div class="main-container page-template">
    <main class="main-content" role="main">
      <div class="page-header">
        <h1 class="page-title-large">Partnerships</h1>
      </div>
      <div class="page-content">
        <section class="page-section">
          <p>
            Temperate was created by <a href="https://www.azavea.com">Azavea Inc.</a> in partnership with <a href="http://icleiusa.org">ICLEI-USA</a>, with support from the US Dept. of Energy (DE‐SC0011303). Support for Temperate users is provided by the experts at ICLEI-USA.
          </p>
          <p>
            The initial strategies displayed in the Take Action feature were provided by Melissa Stults, and were compiled as part of her dissertation research, which can be found <a href="https://deepblue.lib.umich.edu/bitstream/handle/2027.42/135830/stultsm_1.pdf?sequence=1&isAllowed=y">here.</a>
          </p>
          <p>
            Resources regarding funding strategies for adaptation work were provided by the <a href="https://efc.umd.edu">Environmental Finance Center at the University of Maryland.</a>
          </p>
        </section>
        <section class="page-section partner-logos">
          <a href="http://www.azavea.com" target="_blank"
             class="partner-logo-container azavea-partner-logo">
            <img src="../assets/images/partnerships/logo-azavea.svg" alt="Azavea logo">
          </a>
          <a href="http://icleiusa.org/" target="_blank"
             class="partner-logo-container">
            <img src="../assets/images/partnerships/logo-iclei.svg" alt="ICLEI logo">
          </a>
          <a href="https://efc.umd.edu/" target="_blank"
             class="partner-logo-container">
            <img src="../assets/images/partnerships/logo-environmental-finance-center.png" alt="University of Maryland Environmental Finance Center logo">
          </a>
        </section>
      </div>
    </main>
  </div>
