<div class="main-container page-template">
    <main class="main-content" role="main">
      <div class="page-header">
        <h1 class="page-title-large">Partnerships</h1>
      </div>
      <div class="page-content">
        <section class="page-section">
          <p>Temperate was created by <a href="https://www.azavea.com">Azavea, Inc.</a> in partnership with <a href="http://icleiusa.org">ICLEI-USA</a>, with support from the US Dept. of Energy (DE‐SC0011303). Support for Temperate users is provided by the experts at ICLEI-USA.</p>
        </section>
        <section class="page-section">
          <p>The initial strategies displayed in the Take Action feature were provided by Melissa Stults, and were compiled as part of her dissertation research, which can be found <a href="https://deepblue.lib.umich.edu/bitstream/handle/2027.42/135830/stultsm_1.pdf?sequence=1&isAllowed=y">here</a>.</p>
        </section>
        <section class="page-section">
          <p>Resources regarding funding strategies for adaptation work was provided by the <a href="https://efc.umd.edu">University of Maryland’s Environmental Finance Center</a>. </p>
        </section>
      </div>
    </main>
  </div>
