<div class="plan-card-container">
  <div class="plan-card"
      [ngClass]="{active: activePlan.name === plan.name}"
      *ngFor="let plan of visiblePlans">
    <h4 class="header">{{ plan.label }}</h4>
    <span class="icon" [ngClass]="plan.iconClass"></span>
    <div>
      <span>{{ plan.header }} <span *ngIf="plan.yearlyValue">*</span></span>
      <span>${{ plan.yearlyCost | number }} / year</span>
    </div>
    <p>{{ plan.description }}</p>
    <button class="button"
            (click)="planSelected(plan)"
            *ngIf="plan.name !== activePlan.name">Select</button>
    <span *ngIf="plan.yearlyValue">*${{ plan.yearlyValue | number }} value</span>
  </div>
</div>
