<div class="plan-cards">
  <div class="plan-card"
      [ngClass]="{active: activePlan && activePlan.name === plan.name}"
      *ngFor="let plan of visiblePlans">
    <h4 class="tier">{{ plan.nickName }}</h4>
    <h5 class="heading">
      <span class="offering">{{ plan.header }}&thinsp;</span>
      <span class="cost">${{ plan.yearlyCost | number }}<span class="peryear">/year</span></span>
    </h5>
    <p class="description">{{ plan.description }}</p>

    <button class="button button-primary"
      [disabled]="plan.name === activePlan.name || org?.subscription_pending"
      (click)="planSelected(plan)">
      {{ activePlan && plan.name === activePlan.name && !org?.subscription_pending ? 'Selected' : 'Select package' }}</button>

    <div class="plan-tag" 
         [ngClass]="{'positive': !org.subscription_pending}" 
         *ngIf="activePlan && plan.name === activePlan.name">
         {{ org.subscription_pending ? 'Pending' : 'Current plan' }}</div>

    <div class="recommended"
         *ngIf="(!activePlan || activePlan.name === 'free_trial') && (plan.nickName | lowercase) === 'insights'"
         >Recommended</div>
  </div>
</div>
