<div class="plan-cards">
  <div class="plan-card"
      [ngClass]="{active: activePlan && activePlan?.name === plan.name}"
      *ngFor="let plan of visiblePlans">
    <h4 class="tier">{{ plan.nickName }}</h4>
    <h5 class="heading">
      <span class="offering">{{ plan.header }}&thinsp;</span>
      <span class="cost">
        <span class="promo-text">${{ plan.promoCost | number }}</span>
        <span class="promo-strikethrough" aria-hidden="true">${{ plan.yearlyCost | number }}</span>
        <span class="peryear">/year</span>
      </span>
    </h5>
    <p class="description">{{ plan.description }}</p>

    <span class="button-container"
          tooltip="Further changes disabled while subscription pending"
          placement="top"
          container="body"
          *ngIf="org?.subscription_pending">
      <button class="button button-primary" disabled>
        Select package
      </button>
    </span>

    <button class="button button-primary"
            [disabled]="plan.name === activePlan?.name"
            (click)="planSelected(plan)"
            *ngIf="org && !org?.subscription_pending">
      {{ activePlan && plan.name === activePlan.name ? 'Selected' : 'Select package' }}</button>

    <div class="plan-tag"
         [ngClass]="{'positive': !org.subscription_pending}"
         *ngIf="activePlan && plan.name === activePlan?.name">
         {{ org.subscription_pending ? 'Pending' : 'Current plan' }}</div>

    <div class="recommended"
         *ngIf="(!activePlan || activePlan.name === 'free_trial') && (plan.nickName | lowercase) === 'insights'"
         >Recommended</div>
  </div>
</div>
