<div class="main-container page-template">
  <main class="main-content" role="main">
    <div class="page-header">
      <h1 class="page-title-large">Terms of Service</h1>
      <p class="paragraph-intro">Applicability. This Exhibit applies to all instances of the Temperate product.</p>
    </div>
    <div class="page-content">
      <section class="page-section">
        <h2>Access by ICLEI-USA</h2>
        <p>Azavea may grant access to all User Content submitted to Temperate to ICLEI-USA, Azavea’s service provider affiliate. In order to provide the Services, the User grants to ICLEI- USA a worldwide, royalty-free, transferable right to use, copy, cache, publish, display, distribute, modify, create derivative works, and store such User Content and to allow others to do so ("Content License"). The User also grants ICLEI- USA the right to use the User Content in ICLEI-USA’s own research and program efforts. This license applies only to users of Azavea’s Temperate application and supersedes any other Terms of Use related to User Submitted Content.</p>
      </section>

      <section class="page-section">
        <p>As Azavea’s service provider affiliate for Temperate, Azavea shall give <a href="http://icleiusa.org/" target="_blank">ICLEI-USA</a> access to all User contact information, User usage logs, and all User Content. ICLEI-USA may also use your name, address, and e-mail to send you marketing materials and newsletters unless you notify ICLEI-USA at <a href="mailto:temperate@iclei.org">temperate@iclei.org</a> that you do not want to receive these materials.</p>
      </section>

      <section class="page-section">
        <p>On termination of a Subscriber's subscription to the Site, the User must contact <a href="mailto:temperate@iclei.org">temperate@iclei.org</a> if the User wishes to have their User Content removed from the Site.</p>
      </section>
    </div>
  </main>
</div>
