<div class="step-header">
  <div *ngIf="isDisabled" class="alert alert-warning">
    You must match a hazard to a community system to save this risk.
  </div>
  <h3 class="step-title">Review</h3>
</div>

<div class="step-content">
  <section class="review-section">
    <div class="review-section-header">
      <h4 class="review-section-title">Identify risk</h4>
      <button class="button-icon-only icon-edit" goToStep="0" title="Edit fields"></button>
    </div>
    <div class="review-item">
      <span class="answer-label">Hazard:</span>
      {{ risk.weather_event?.name || "--" }}
    </div>
    <div class="review-item">
      <span class="answer-label">Community system at risk:</span>
      {{ risk.community_system?.name || "--" }}
    </div>
  </section>

  <section class="review-section">
    <div class="review-section-header">
      <h4 class="review-section-title">Hazard</h4>
      <button class="button-icon-only icon-edit" goToStep="1" title="Edit fields"></button>
    </div>
    <div class="review-item">
      <span class="answer-label">Probability of hazard occurring: </span>
      {{ risk?.getProbabilityLabel() || "--" }}
    </div>
    <div class="review-item">
      <span class="answer-label">Frequency over the next five years: </span>
      {{ risk?.getFrequencyLabel() || "--" }}
    </div>
    <div class="review-item">
      <span class="answer-label">Intensity over the next five years: </span>
      {{ risk?.getIntensityLabel() || "--" }}
    </div>
  </section>

  <section class="review-section">
    <div class="review-section-header">
      <h4 class="review-section-title">Potential Impact</h4>
      <button class="button-icon-only icon-edit" goToStep="2" title="Edit fields"></button>
    </div>
    <div class="review-item">
      <span class="answer-label">Potential impact on this community system: </span>
      {{ risk?.getImpactMagnitudeLabel() || "--" }}
    </div>
    <div class="review-item">
      <span class="answer-label">Description: </span>
      <span class="review-description">{{ risk.impact_description || '--' }}</span>
    </div>
  </section>

  <section class="review-section">
    <div class="review-section-header">
      <h4 class="review-section-title">Adaptive capacity</h4>
      <button class="button-icon-only icon-edit" goToStep="3" title="Edit fields"></button>
    </div>
    <div class="review-item">
      <span class="answer-label">Your community’s adaptive capacity: </span>
      {{ risk?.getAdaptiveCapacityLabel() || "--" }}
    </div>
    <div class="review-item">
      <span class="answer-label">Adaptive capacity factors: </span>
      <span *ngIf="!risk.related_adaptive_values?.length">--</span>
      <div class="multiselect" *ngIf="risk.related_adaptive_values?.length > 0">
        <div class="selected-option" *ngFor="let relatedAdaptiveValue of risk.related_adaptive_values">
          {{ relatedAdaptiveValue }}
        </div>
      </div>
    </div>
    <div class="review-item">
      <span class="answer-label">Description:</span>
      <span class="review-description">{{ risk.adaptive_capacity_description || "--" }}</span>
    </div>
  </section>
</div>

<footer class="step-footer">
  <div class="step-footer-navigation">
    <button type="button" class="button button-primary"
        [disabled]="isDisabled"
        (click)="finish()">Finish</button>
  </div>
</footer>
