<p *ngIf="isDisabled" class="alert alert-warning">
  You must match a hazard to a community system to save this risk.
</p>
<h3 *ngIf="!isDisabled">{{ risk.weather_event.name }} impact on {{ risk.community_system.name | lowercase }}</h3>

<div>
    Probability: {{ chanceOptions.get(risk.probability)?.label }}
    <button class="button icon-edit" goToStep="1"></button>
</div>

<div>
    Frequency: {{ directionalOptions.get(risk.frequency)?.label }}
    <button class="button icon-edit" goToStep="1"></button>
</div>

<div>
    Intensity: {{ directionalOptions.get(risk.intensity)?.label }}
    <button class="button icon-edit" goToStep="1"></button>
</div>

<div>
    Potential Impact: {{ impactOptions.get(risk.impact_magnitude)?.label }}
    <button class="button icon-edit" goToStep="2"></button>
    <div *ngIf="risk.impact_description" class="review-description">{{ risk.impact_description }}</div>
</div>

<div>
    Adaptive Capacity: {{ chanceOptions.get(risk.adaptive_capacity)?.label }}
    <button class="button icon-edit" goToStep="3"></button>
    <div *ngIf="risk.adaptive_capacity_description" class="review-description">{{ risk.adaptive_capacity_description }}</div>
    <div class="freeform-multiselect" *ngIf="risk.related_adaptive_values?.length > 0">
        <div class="selected-option" *ngFor="let relatedAdaptiveValue of risk.related_adaptive_values">
            {{ relatedAdaptiveValue }}
        </div>
    </div>
</div>

<button type="button" [disabled]="isDisabled" (click)="finish()">Finish</button>
