<div *ngIf="showSplash" class="main-container splash-container">
  <main class="main-content splash-content" role="main">
    <header class="splash-header">
      <p class="splash-title">Let&rsquo;s get started</p>
      <h1 class="splash-intro">Create your city&rsquo;s adaptation plan</h1>
    </header>

    <div class="splash-prompt">
      <div class="splash-prompt-content">
        <p>
          You can now enter your plan&rsquo;s basic information, such as aspects of your
          changing climate and aspects of your community that you want to focus on.
        </p>
        <p>
          If you have questions or need assistance at any time, click &ldquo;Ask an expert&rdquo; to enlist the help of climate experts at ICLEI-USA.
        </p>
        <button class="button button-primary button-large button-icon-right" (click)="showSplash = false">
          Set up plan<span class="icon-arrow-right"></span>
        </button>
      </div>
    </div>
  </main>
</div>

<div *ngIf="!showSplash">
  <app-plan-wizard [organization]="organization"></app-plan-wizard>
</div>
