POSTGRES_HOST=database.service.planit.internal
POSTGRES_PORT=5432
POSTGRES_USER=planit
POSTGRES_PASSWORD=planit
POSTGRES_DB=planit
DJANGO_ENV=Development
DJANGO_DEFAULT_FROM_EMAIL=planit@azavea.com
DJANGO_SECRET_KEY=secret
DJANGO_LOG_LEVEL=INFO
AWS_PROFILE=planit
CCAPI_HOST=https://app.staging.climate.azavea.com
PLANIT_APP_HOME=http://localhost:4210

# Replace your CC API credentials below
CCAPI_EMAIL=test@test.com
CCAPI_PASSWORD=testpw

ESRI_CLIENT_ID=fake
ESRI_CLIENT_SECRET=fake
