.pricing-faq {
  padding-top: $pricing-section-padding-vertical-large;
  padding-bottom: $pricing-section-padding-vertical-large;
}

.pricing-section.pricing-faq {
  background-color: $neutral-2;
}

.pricing-faq > .section-content {
  @media screen and (max-width: $pricing-breakpoint) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  > .heading {
    margin-bottom: $space-xxlarge * 2;
    font-size: $text-display;
    font-weight: $font-weight-light;

    @media screen and (max-width: $pricing-breakpoint) {
      text-align: center;
    }
  }

  > .faq-list {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (max-width: $pricing-breakpoint) {
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
    }

    > .faq {
      width: calc(50% - #{$space-medium});
      min-width: $pricing-card-min-width;
      margin-bottom: $space-xlarge;
      padding: $space-xxlarge;
      background-color: $white;
    }

    > .faq > .question {
      font-size: $text-medium;
      font-weight: $font-weight-light;
    }
  }
}
