/* Temporary promo */
.pricing-card .promo-strikethrough {
  color: $neutral-3!important;
}
.plan-card .cost {
  position: relative;
  float: right;
}
.plan-card .promo-text {
  position: absolute;
  top: 0.5rem;
  right: 3.15rem;
  font-weight: bold;
  color: $brand-black;
  text-shadow: -1px 1px 0 $white,
               1px 1px 0 $white,
               1px -1px 0 $white;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 2.25rem;
  font-variant-numeric: lining-nums tabular-nums;
  pointer-events: none;
  z-index: 1;
}

@media all and (-ms-high-contrast:none) {
  .plan-card .promo-text {
    top: 0;
  }
}

@supports (-ms-ime-align:auto) {
  .plan-card .promo-text {
    top: 0;
  }
}
/* Temporary promo */

.pricing-section.pricing-plans {
  background-color: $brand-primary;
  padding-top: $pricing-section-padding-vertical-large;
  padding-bottom: $pricing-section-padding-vertical-large;

  .description {
    a {
      color: $white;
      border-color: rgba($white, 0.5);

      &:hover {
        border-color: rgba($white, 1);
      }
    }
  }
}

.pricing-plans > .section-content {
  @media screen and (max-width: $pricing-breakpoint) {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  > .heading {
    @include light-on-dark();
    max-width: 40rem;
    margin-bottom: $space-xlarge;
    color: $white;
    font-size: $text-display;
    font-weight: $font-weight-light;

    @media screen and (max-width: $pricing-breakpoint) {
      text-align: center;
    }
  }

  > .description {
    @include light-on-dark();
    max-width: 40rem;
    margin-bottom: $space-xxlarge * 2;
    color: $white;

    @media screen and (max-width: $pricing-breakpoint) {
      text-align: center;
    }
  }
}
