/* Temporary promo */
.promo-banner {
  margin-bottom: 0!important;
  background-color: $upgrade-banner-background;
  border-top: 1px solid darken( $upgrade-banner-background, 10% );
  color: $upgrade-banner-font-color;
  padding: $space-large $space-xxlarge;
  text-align: center;

  @media (max-width: 37.5rem) {
    font-size: $text-tiny;
  }
}

.pricing-hero .cta {
  position: relative;
}

.promo-strikethrough {
  text-decoration: line-through;
  opacity: 0.5;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  color: $brand-black!important;
}

@media all and (-ms-high-contrast:none) {
  .promo-strikethrough {
    opacity: 0;
  }
}

.pricing-hero .promo-text {
  position: absolute;
  top: 48.5%;
  right: 2.75rem;
  font-weight: bold;
  text-shadow: -1px 1px 0 $brand-leaf,
               1px 1px 0 $brand-leaf,
               1px -1px 0 $brand-leaf;
  text-transform: uppercase;
  transform: translateY(-50%);
  font-size: 1.85rem;
  font-variant-numeric: lining-nums tabular-nums;
  pointer-events: none;
}
/* Temporary promo */

.pricing-section.pricing-hero {
  min-height: 42rem;
  background-color: $neutral-1;
  overflow-x: hidden;
}

.pricing-hero > .section-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: $pricing-breakpoint-hero) {
    flex-flow: column nowrap;
  }

  > .overview {
    display: flex;
    flex: initial;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: $pricing-headline-max-width;
    margin-right: 4%;

    @media all and (min-width: $pricing-headline-min-width) {
      min-width: $pricing-headline-min-width;
    }

    @media screen and (max-width: $pricing-breakpoint-hero) {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
      margin-right: 0;
      text-align: center;
    }

    > .superhead {
      margin-bottom: $space-small;
      font-size: $text-small;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }

    > .heading {
      margin-bottom: $space-xlarge;
      font-size: $text-display;
      font-weight: $font-weight-light;
    }

    > .description {
      margin-bottom: $space-xlarge;
    }

    > .cta {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
      min-width: $marketing-hero-button-width;

      > .button {
        margin-top: $space-xxlarge;
        min-width: $marketing-hero-button-width;
        white-space: nowrap;
      }

      > .secondary-text {
        margin-top: $space-large;
        font-style: $marketing-hero-secondary-font-style;
        text-align: center;
      }

    }

  }

  > .image {
    position: relative;
    width: auto;
    height: 100%;

    @media screen and (max-width: $pricing-breakpoint-hero) {
      display: none;
    }
  }
}
