<div class="main-container">
  <main class="main-content" role="main">
    <header class="page-header" *ngIf="weatherEvent?.name">
      <h1 class="page-title-small">Action steps</h1>
      <h2 class="page-title-large">{{ weatherEvent?.name }}</h2>
      <p class="paragraph-intro">
        Take action to mitigate the potential impact of <strong>{{ weatherEvent?.name | lowercase}}</strong> 
        on each of the community systems below.
      </p>
    </header>

    <div class="loading-container" *ngIf="risks === undefined">
      <div class="loading loading-spinner loading-large loading-primary"></div>
    </div>

    <section *ngIf="risks !== undefined">
      <div *ngIf="!isARiskAssessed" class="actions-empty">
        <h3>You&rsquo;ll need to assess risks before you can take action.</h3>
        <p>
          Once you have risks assessed in your Vulnerability Assessment, you can plan to 
          mitigate their impact here.
        </p>
        <a class="button" routerLink="/assessment">Assess risks</a>
      </div>

      <div *ngIf="isARiskAssessed" class="actions-available">
        <div class="card-container">
          <!-- Show risks in the order they return, so that a risk always shows at the same
               position. This helps consistency for users. -->
          <ng-container *ngFor="let risk of risks">
            <as-action-card *ngIf="risk.action"
                            [action]="risk.action"
                            [risk]="risk"
                            (delete)="deleteAction($event)"></as-action-card>
            <as-risk-card *ngIf="!risk.action" [risk]="risk"></as-risk-card>
          </ng-container>
        </div>
      </div>
    </section>
  </main>
</div>

<app-confirmation-modal #confirmDeleteModal></app-confirmation-modal>
