<div class="main-container">
  <main class="main-content" role="main">
    <section>
      <h1 class="heading">Adaptation Actions</h1>
      <button class="button icon-edit" [routerLink]="['/actions/action/wizard/', '']"></button>
    </section>
    <section *ngIf="risks">
      <div *ngIf="!haveAssessedRisks" class="actions-empty">
        <h2>You'll need to assess risks before you can take action.</h2>
        <p>Once you have risks assessed in your Vulnerability Assessment, you can plan to mitigate their impact here.</p>
        <a class="button" routerLink="/assessment">Assess Risks</a>
      </div>
      <div *ngIf="haveAssessedRisks" class="actions-available">
        <h2>Risks acted upon</h2>
        <progressbar class="progress" [max]=risks.length [value]="risksWithActionsCount">
        </progressbar>
        <h2>In Progress</h2>
        <div class="action-card-container">
          <as-action-card *ngFor="let action of actions"
                          [action]="action"
                          [risk]="getMatchingRiskFromId(action)"
                          (actionDeleted)="onActionDeleted($event)"></as-action-card>
          <as-risk-card *ngFor="let risk of risksWithoutActions"
                        [risk]="risk"></as-risk-card>
        </div>
      </div>
    </section>
  </main>
</div>
