<div class="main-container">
  <main class="main-content" role="main">
    <header class="page-header" *ngIf="weatherEvent?.name">
      <h1 class="page-title-small">Action steps</h1>
      <h2 class="page-title-large">{{ weatherEvent?.name }}</h2>
      <p class="paragraph-intro">
        Take action to mitigate the potential impact of <strong>{{ weatherEvent?.name | lowercase}}</strong>
        on each of the community systems below.
      </p>
    </header>

    <div class="loading-container" *ngIf="risks === undefined">
      <div class="loading loading-spinner loading-large loading-primary"></div>
    </div>

    <alert type="success" *ngIf="showFirstActionMessage">
      <strong>Great work!</strong>
      Take further action on the risks below. Or
      <a class="alert-link" routerLink="/dashboard">return to the dashboard</a>
      to work on a different hazard.
    </alert>
    <alert type="success" *ngIf="showActionsCompleteMessage">
      <strong>Great work!</strong>
      You’ve completed this hazard’s risks.
      <a class="alert-link" routerLink="/dashboard">Return to the dashboard</a>
      to work on another hazard.
    </alert>

    <section *ngIf="risks !== undefined">
      <div *ngIf="!areAnyRisksAssessed" class="actions-empty">
        <h3>You&rsquo;ll need to assess risks before you can take action.</h3>
        <p>
          Once you have risks assessed in your Vulnerability Assessment, you can plan to
          mitigate their impact here.
        </p>
        <a class="button" routerLink="/assessment">Assess risks</a>
      </div>
      <as-action-card-container [risks]="risks" *ngIf="areAnyRisksAssessed">
      </as-action-card-container>
    </section>
  </main>
</div>

<app-modal-template #reviewYourPlanModal title="Great job!">
    <!-- Tempy image -->
    You&rsquo;re all done with your adaptation plan!
    <footer class="modal-footer">
      <a class="button" routerLink="/review-plan" (click)="this.reviewYourPlanModal.close()">Review your plan</a>
    </footer>
</app-modal-template>
