<main class="main-content forgot-password-page" role="main">
  <section class="container-standard">
    <div class="container-content">
      <header class="modal-header">
        <h1 class="modal-title">Reset your password</h1>
      </header>
      <div class="modal-body">
        <form class="form" id="form-reset-password">
          <!-- Email Address/Username -->
          <div class="form-control-container">
            <label for="email-address">Email Address</label>
            <input class="form-control" id="email-address"
                [(ngModel)]="username"
                type="email" name="textfield" autocomplete="email" required>
            <div *ngIf="errors.email" class="form-control-error">
              <p *ngFor="let error of errors.email">
                {{ error }}
              </p>
            </div>
          </div>
        </form>
        <div *ngIf="errors.non_field_errors" class="form-control-error">
          <p *ngFor="let error of errors.non_field_errors">
            {{ error }}
          </p>
        </div>
        <div *ngIf="emailSent" class="alert">
          <p>An email with a link to reset your password has been sent to
          <strong>{{ username }}</strong> if the account exists.
          This link will expire in 24 hours.
          </p>
        </div>
      <footer class="modal-footer">
        <button type="submit" class="button button-primary"
               (click)="forgotPassword()" form="form-reset-password">Reset password</button>
      </footer>
      </div>
    </div>
  </section>
</main>
