<main class="main-content forgot-password-page" role="main">
  <section class="container-standard">
    <div class="container-content">
      <div class="modal-header">
        <h1>Reset Your Password</h1>
      </div>
      <div class="modal-body">
        <form class="form" id="form-reset-password">
          <!-- Email Address/Username -->
          <div class="required form-group">
            <label for="email-address">Email Address</label>
            <input class="form-control" id="email-address"
                [(ngModel)]="username"
                type="email" name="textfield" autocomplete="email" required>
            <div *ngIf="errors.email" class="alert alert-danger">
              <div *ngFor="let error of errors.email">
                <p>{{ error }}</p>
              </div>
            </div>
          </div>
        </form>
        <div *ngIf="errors.non_field_errors" class="alert alert-danger">
          <div *ngFor="let error of errors.non_field_errors">
            <p>{{ error }}</p>
          </div>
        </div>
        <div *ngIf="emailSent" class="alert">
          <p>An email with a link to reset your password has been sent to
          <strong>{{ username }}</strong> if the account exists.
          This link will expire in 24 hours.
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <a routerLink="/login" class="pull-left">Back to Login</a>
        <input type="submit" class="button button-primary button-small pull-right"
               (click)="forgotPassword()" value="Reset password" form="form-reset-password">
      </div>
    </div>
  </section>
</main>
