<main class="main-content" role="main">
   <!-- Intro -->
  <section class="page-intro">
    <h1 class="heading">Indicators</h1>
    <p class="paragraph-intro">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </section>
  <section>
    <h2>Top Concerns</h2>
    <p>These are the indicators that we think you should be including in your risk assessment. Feel free to add or remove any—you know your city best!</p>
    <div id="top-concerns" class="card card-full">
      <div class="card-content">
        <div id="indicator-1" class="concern">
          <div class="concern-options">
            <button id="view-concern" class="button button-primary button-small"><i class="icon-eye"></i></button>
            <button id="delete-concern" class="button button-danger button-small"><i class="icon-trash"></i></button>
          </div>
          <div class="concern-stats">
            <div class="stat"><div class="number">8.5</div><button class="button button-link">in</button><span class="forward-slash">&#x2F;</span><button class="button button-link">cm</button></div>
            <div class="stat-description">more rain/snow/sleet</div>
          </div>
        </div>
        <div id="indicator-2" class="concern">
          <div class="concern-options">
            <button id="view-concern" class="button button-primary button-small"><i class="icon-eye"></i></button>
            <button id="delete-concern" class="button button-danger button-small"><i class="icon-trash"></i></button>
          </div>
          <div class="concern-stats">
            <div class="stat"><div class="number">5.1°</div><button class="button button-link">F</button><span class="forward-slash">&#x2F;</span><button class="button button-link">C</button></div>
            <div class="stat-description">hotter</div>
          </div>
        </div>
        <div id="indicator-3" class="concern">
          <div class="concern-options">
            <button id="view-concern" class="button button-primary button-small"><i class="icon-eye"></i></button>
            <button id="delete-concern" class="button button-danger button-small"><i class="icon-trash"></i></button>
          </div>
          <div class="concern-stats">
            <div class="stat"><div class="number">24%</div></div>
            <div class="stat-description">more extreme events</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="indicators">
    <h2>All Indicators</h2>
    <p>Below are all of the indicators for your city.</p>
  </section>
</main> 
