<app-navbar></app-navbar>
<div class="main-container">
  <app-sidebar></app-sidebar>
  <main class="main-content" role="main">
    <section class="page-intro">
      <h1 class="heading">Indicators</h1>
      <p class="paragraph-intro">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </section>
    <section>
      <h2>Top Concerns</h2>
      <p>These are the indicators that we think you should be including in your risk assessment. Feel free to add or remove any—you know your city best!</p>
      <div id="top-concerns" class="card card-full">
        <app-top-concerns></app-top-concerns>
      </div>
    </section>
    <section class="indicators">
      <h2>All Indicators</h2>
      <p>Below are all of the indicators for your city.</p>
      <div id="accordion" class="card-container" role="tablist" aria-multiselectable="true">
        <app-indicator-chart *ngFor="let indicator of allIndicators"
                             [indicator]="indicator"
                             [city]="city">
        </app-indicator-chart>
      </div>
    </section>
  </main>
</div>
