<div class="main-container">
  <main class="main-content" role="main">
    <aside class="map-sidebar">
      <label>Visualization</label>
      <select class="form-control"
              (change)="setLayer()"
              [(ngModel)]="layer">
        <option [value]="null">---</option>
        <option *ngFor="let layer of layers; index as i" [value]="i">{{ layer.label }}</option>
      </select>
    </aside>
    <section class="map-container">
      <div class="map-content">
        <aol-map>
          <aol-control-zoom [duration]="0"></aol-control-zoom>
          <aol-interaction-doubleclickzoom [duration]="0"></aol-interaction-doubleclickzoom>
          <aol-interaction-mousewheelzoom [duration]="0"></aol-interaction-mousewheelzoom>
          <aol-interaction-pinchzoom [duration]="0"></aol-interaction-pinchzoom>
          <aol-interaction-dragpan [kinetic]="false"></aol-interaction-dragpan>
          <aol-view [zoom]="11">
            <aol-coordinate [x]="location.geometry.coordinates[0]" [y]="location.geometry.coordinates[1]" [srid]="'EPSG:4326'"></aol-coordinate>
          </aol-view>
          <aol-layer-vector [zIndex]="2" #boundsLayer>
            <aol-source-vector>
              <aol-feature *ngIf="organization.bounds">
                <aol-geometry-polygon>
                  <aol-collection-coordinates
                      [coordinates]="organization.bounds.coordinates"
                      [srid]="'EPSG:4326'"
                  >
                  </aol-collection-coordinates>
                </aol-geometry-polygon>
              </aol-feature>
            </aol-source-vector>
          </aol-layer-vector>
          <aol-layer-image *ngIf="layer && layers[layer].mapTypeUrl" [zIndex]="1">
            <aol-source-imagearcgisrest
              projection="EPSG:3857"
              [url]="layers[layer].mapTypeUrl"
            ></aol-source-imagearcgisrest>
          </aol-layer-image>
        </aol-map>
      </div>

    </section>
  </main>
</div>
