<div class="chart card-block">
  <div class="chart-controls">
    <div class="chart-toggle">
      <span>Scenario</span>
      <app-scenario-toggle [scenario]="scenario"
                           (onScenarioSelected)="scenarioSelected($event)">
      </app-scenario-toggle>
    </div>
    <div class="chart-toggle">
      <span>Models</span>
      <app-model-modal [dataset]="dataset"
                       [models]="models"
                       (onModelsChanged)="modelsChanged($event)">
      </app-model-modal>
    </div>
    <div class="chart-toggle" *ngIf="indicator?.available_units">
      <span>Units</span>
      <app-units-dropdown [unit]="unit"
                          [units]="indicator.available_units"
                          (unitSelected)="unitSelected($event)"></app-units-dropdown>
    </div>
    <div class="chart-toggle">
      <span>Dataset</span>
      <app-dataset-toggle [dataset]="dataset"
                          [city]="location"
                          [models]="models"
                          (onDatasetSelected)="datasetSelected($event)">
      </app-dataset-toggle>
    </div>
  </div>
  <div class="chart-controls">
    <app-threshold-parameters
        *ngIf="isThresholdIndicator(indicator.name)"
        [indicator]="indicator"
        [extraParams]="extraParams"
        (thresholdParamSelected)="onExtraParamsSelected($event)">
    </app-threshold-parameters>
    <app-basetemp-parameters
        *ngIf="isBasetempIndicator(indicator.name)"
        [indicator]="indicator"
        [extraParams]="extraParams"
        (basetempParamSelected)="onExtraParamsSelected($event)">
    </app-basetemp-parameters>
    <!-- both percentile and historic extra parameters -->
    <app-percentile-historic-parameters
        *ngIf="isPercentileIndicator(indicator.name) &&
               isHistoricIndicator(indicator.name)"
        [indicator]="indicator"
        [extraParams]="extraParams"
        (percentileHistoricParamSelected)="onExtraParamsSelected($event)">
    </app-percentile-historic-parameters>
    <app-percentile-parameters
        *ngIf="isPercentileIndicator(indicator.name) &&
               !isHistoricIndicator(indicator.name)"
        [indicator]="indicator"
        [extraParams]="extraParams"
        (percentileParamSelected)="onExtraParamsSelected($event)">
    </app-percentile-parameters>
    <app-historic-parameters
        *ngIf="isHistoricIndicator(indicator.name) &&
               !isPercentileIndicator(indicator.name)"
        [indicator]="indicator"
        [extraParams]="extraParams"
        (historicParamSelected)="onExtraParamsSelected($event)">
    </app-historic-parameters>
  </div>
  <app-chart [indicator]="indicator"
         [point]="location.geometry"
         [models]="models"
         [dataset]="dataset"
         [scenario]="scenario"
         [unit]="unit"
         [extraParams]="extraParams"></app-chart>
</div>
