.tab-content {
  margin-bottom: $space-xxlarge;

  > .button {
    margin-bottom: $space-medium;
    float: right;
  }

  .va-summary-table {
    min-width: auto!important;
    margin-bottom: 0;

    thead {
      th:nth-child(2) {
        width: 40%;
      }
    }
  }
}

.tab-actions {
  padding-bottom: 0;
}