.profile-progress-container {
  background: $profile-summary-progress-container-background;
}

.icon-finished-section {
  color: $profile-summary-finished-icon-color;
  font-size: $profile-summary-finished-icon-size;
}

.aside-block-container .aside-footer {
  flex: 1 0 100%;

  .button {
    width: 100%;
    margin-top: $space-xlarge;
  }
}

// All in progress
.all-inprogress .profile-progress-container {
  flex: 0 1 49%;
  padding: $space-medium $space-medium $space-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.all-inprogress .overall-progress {
  .progress-number {
    font-size: $profile-summary-progress-overall-size;
    font-weight: $profile-summary-progress-overall-label-weight;
    line-height: $profile-summary-progress-overall-line-height;
  }
}

.all-inprogress .progress-title {
  margin-top: $space-xxlarge; 
  line-height: $profile-summary-progress-label-line-height;
}

// Required fields are complete
.overall-inprogress .profile-progress-container {
  flex: 1 1 100%;
  display: flex;
  justify-content: stretch;
  margin-bottom: $space-small;
  padding: $space-small;
  height: 5rem;
  align-items: center;
}

.overall-inprogress .progress-title {
  line-height: $profile-summary-progress-label-line-height;
}

.overall-inprogress .required-progress {
  background: $profile-summary-required-done-background;
  color: $profile-summary-required-done-color;

  .icon {
    margin-right: $space-small;
  }
}

.overall-inprogress .overall-progress {
  padding-left: $space-medium;

  .progress-number {
    margin-right: $space-medium;
    font-size: $profile-summary-required-done-progress-overall-size;
    line-height: 0;
  }
}

// All fields are complete
.none-inprogress {
  flex-wrap: nowrap;
  align-items: center;
}

.none-inprogress .aside-title {
  margin-bottom: 0;
  margin-left: -$space-medium;
}
