.profile-progress-container {
  background: $profile-summary-progress-container-background;
}

.aside-block-container .aside-footer {
  flex: 1 0 100%;

  .button {
    width: 100%;
    margin-top: $space-xlarge;
  }
}

// All in progress
.in-progress .profile-progress-container {
  flex: 0 1 49%;
  padding: $space-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  
  // IE11
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    padding: 1rem 0;
  }
}

.in-progress .overall-progress {
  .progress-number {
    font-size: $profile-summary-progress-overall-size;
    font-weight: $profile-summary-progress-overall-label-weight;
    line-height: $profile-summary-progress-overall-line-height;
  }
}

.in-progress .progress-title {
  margin-top: $space-xlarge; 
  line-height: $profile-summary-progress-label-line-height;
}

.in-progress .required-progress .progress-title {
  margin-top: $space-medium; 
}

// Required fields are complete
.in-progress .required-finished {
  background: $profile-summary-required-done-background;
  color: $profile-summary-required-done-color;

  .icon {
    color: $profile-summary-finished-icon-color;
    font-size: $profile-summary-required-done-icon-size;
    line-height: $profile-summary-progress-label-line-height;
  }
}

// All fields are complete
.all-complete {
  flex-wrap: nowrap;
  align-items: center;
}

.all-complete .icon {
  color: $profile-summary-finished-icon-color;
  font-size: $profile-summary-all-complete-icon-size;
}

.all-complete .aside-title {
  margin-bottom: 0;
  margin-left: -$space-medium;
}
