.profile-progress {
  background: $neutral-0;
}

.icon-finished-section {
  color: $brand-positive;
  font-size: $text-medium;
}

.aside-block-container .aside-footer {
  flex: 1 0 100%;

  .button {
    width: 100%;
    margin-top: $space-xlarge;
  }
}

// All in progress
.all-inprogress .profile-progress {
  flex: 0 1 49%;
  padding: 1rem $space-medium 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.all-inprogress .overall-progress {
  .progress-number {
    font-size: $text-jumbo;
    line-height: 2.25;
  }
}

.all-inprogress .progress-title {
  margin-top: 3rem; 
  line-height: 1;
}

// Required fields are complete
.overall-inprogress .profile-progress {
  flex: 1 1 100%;
  display: flex;
  justify-content: stretch;
  margin-bottom: $space-small;
  padding: $space-small;
}

.overall-inprogress .progress-title {
  line-height: 1;
}

.overall-inprogress .required-progress {
  background: lighten( $brand-positive, 50% );
  color: $brand-primary;
  align-items: center;

  .icon {
    margin-right: $space-small;
  }
}

.overall-inprogress .overall-progress {
  padding-left: $space-medium;
  align-items: baseline;

  .progress-number {
    margin-right: $space-medium;
  }
}

// All fields are complete
.none-inprogress {
  flex-wrap: nowrap;
  align-items: center;
}

.none-inprogress .aside-title {
  margin-bottom: 0;
  margin-left: -1rem;
}
