.hazard-header {
  display: flex;
  background: $white;
  padding: $space-large;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.hazard-priority {
  margin-right: $space-small;
}

.hazard-priority-empty {
  color: $neutral-2;
  margin-right: $space-small;
}

.hazard-title {
  margin-bottom: 0;
  font-size: $text-base;
}

.hazard-risks-number {
  font-size: $text-small;
  color: $neutral-3;
}

//////////////////////////
// Grouped risk blocks
//////////////////////////
.hazard-summary {
  background-color: $white;
  padding: 0 $space-tiny $space-tiny;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  margin-bottom: $space-medium;
}

.hazard-block {
  display: flex;
  background: $neutral-0;
  padding: $space-medium;
  border-radius: $border-radius;

  .progress {
    height: 8px;
    margin-bottom: 0;
    box-shadow: none;
    background-color: $neutral-1;

    .progress-bar {
      box-shadow: none;
    }
  }

  .button {
    flex: 0 0 12rem;
    margin-left: $space-large;
  }
}

.hazard-block-title {
  font-size: $text-small;
  color: $neutral-4;
  margin-bottom: 0;
}

.progress-percentage {
  font-size: $text-tiny;
  color: $neutral-3;
}

.hazard-action-block {
  margin-top: $space-tiny;
  padding-top: $space-large;
}

.hazard-block-progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 1 auto;
}

.hazard-summary .button-link {
  border-bottom: none;
  color: $brand-primary;
}

//////////////////////////
// Change color based on 
// Assessment or Action steps
//////////////////////////
.hazard-assessment-block {
  .progress {
    .progress-bar {
      background: $brand-teal;
    }
  }
}

.hazard-action-block {
  .progress {
    .progress-bar {
      background: $brand-positive;
    }
  }
}