<div class="step-header">
  <h3 class="step-title">Community systems at risk</h3>
  <p>Select aspects of your community that you believe will be most impacted by the changing climate.
    Identifying community systems that are most susceptible to climate change helps direct and
    prioritize your adaptation plan in Temperate. You can add community systems later.</p>
</div>

<div class="step-content">
  <form [formGroup]="form">
    <div class="concerns-header">
      <span class="form-control-hint">Suggested: 3–6 systems</span>
    </div>
    <app-add-community-systems formControlName="selectedCommunitySystems"></app-add-community-systems>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button"
            previousStep>Previous</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button button-primary"
            (click)="finish()">Finish</button>
  </div>
</footer>
