{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}

<head>
    <title>{% block title %}Your profile{% endblock %}</title>
</head>

{% block precontent %}
<section class="background-light section-user section-user-welcome">
  <div class="container">
    <div class="row stack-xs">
      <div class="column-6">
        <h1>Welcome to the Climate App!</h1>
        <p>Here you will be able to view your API token, read documentation, and configure your user profile.</p>
      </div>
      <div class="column-6 text-center">
      </div>
    </div>
  </div>
</section>
{% endblock precontent %}

{% block content %}

<div class="row stack-xs">
  <div class="column-6">
    <section class="section-user">
      <div name="apitoken">
        <h3>API token</h3>
        <pre>{{ user.auth_token }}</pre>
      </div>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newTokenModal">
        Get New API Token
      </button>
    </section>

    <section class="section-user">
      <div name="feedback">
        <h3>Feedback</h3>
        Please share with us how we can improve the app. Was the documentation clear? Was the information we provided helpful? We want to hear your thoughts!
        <p>
          <a href="mailto:{{ DEFAULT_TO_EMAIL }}">Contact us</a>
        </p>
      </div>
    </section>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newTokenModal" tabindex="-1" role="dialog" aria-labelledby="newTokenModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newTokenModalLabel">Replace API token?</h4>
      </div>
      <div class="modal-body">
        Any existing apps that use the current token will no longer work.
      </div>
      <div class="modal-footer">
        <form action="new_token/" method="post">
          {% csrf_token %}
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger" href="{% url 'new_token' %}">Do It</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
