{% load premailer %}
{% premailer %}
<html>
    <p>Hi {{ user.first_name }},</p>
    <p>Welcome to Temperate!</p>
    <p>Sign in at <a href="{{ url }}">{{ url }}</a></p>
    <p>We’re excited to help you on your journey to making your city more resilient to climate change.</p>
    <p>If you have any questions, don’t hesitate to reach us at <a href="mailto:{{ support_email }}?subject=Help%20request">{{ support_email }}</a>.</p>
    <p>&nbsp;</p>
    <p>See you soon!</p>
</html>
{% endpremailer %}
