<div class="main-container">
  <main class="main-content" role="main">
    <section class="page-intro">
      <h2 class="heading">Vulnerability Assessment</h2>
      <h1 *ngIf="weatherEvent?.name">{{ weatherEvent?.name }}</h1>
      <p>Based on your chosen scope, we have identified the below risks as
        a high priority to assess vulnerability and include in your report.
        Click on a row to assess each risk.
          <button class="button-link"
                  [popover]="learnMoreRiskPopover"
                  [outsideClick]="true"
                  container="body"
                  placement="bottom">Learn why we selected these risks.</button>
      </p>
    </section>
    <section>
      <app-assessment-overview-table [risks]="risks"></app-assessment-overview-table>
      <button class="button" routerLink="risk/new">Add new risk</button>
      <button class="button button-positive"
              *ngIf="risks?.length && getAssessedRisks().length >= 1"
              [routerLink]="['/actions']"
              [queryParams]="{hazard: weatherEvent?.id}">
        Take action
      </button>
    </section>
  </main>
</div>

<ng-template #learnMoreRiskPopover>
  <div>
    These potential risks were selected based on the geographic regions used by the
    <a href="https://data.globalchange.gov/file/ca9c6f09-9890-41db-ace4-827f9cbeb93a" target="_blank">National Climate Assessment</a>
    and the potential future climate hazards that are most likely to exist.
    For more on this, visit our <a routerLink="/methodology">Methodology</a> page.
  </div>
</ng-template>
