<div class="main-container">
  <main class="main-content" role="main">
    <header class="page-header" *ngIf="weatherEvent?.name">
      <h1 class="page-title-small">Vulnerability Assessment</h1>
      <h2 class="page-title-large">{{ weatherEvent?.name }}</h2>
      <p class="paragraph-intro" *ngIf="weatherEvent">
        Identify how {{ weatherEvent.name | lowercase }} may affect different aspects of your community.
      </p>
    </header>
    <section class="hazard-impacts" *ngIf="impacts.length > 0">
      <div class="impact-header">
        <h3 class="text-small"><strong>Known effects of {{ weatherEvent.name | lowercase }}</strong></h3>
        <a class="impact-toggle text-small" (click)="impactsShown = !impactsShown">
          <ng-container *ngIf="impactsShown">Hide <i class="icon icon-chevron-up"></i></ng-container>
          <ng-container *ngIf="!impactsShown">Show <i class="icon icon-chevron-down"></i></ng-container>
        </a>
      </div>
      <div class="impact-body" *ngIf="impactsShown">
        <p>
          Here are some ways in which {{ weatherEvent.name | lowercase }} will affect your area, based on climate data. Keep them in mind as you build your vulnerability assessment.
        </p>
        <ul class="impact-list">
          <li *ngFor="let impact of impacts">
            {{ impact.tagline ? impact.tagline : impact.label }}
            <span class="map-impacts-trigger"
                  tooltip="See related impacts on a map"
                  placement="top"
                  container="body"
                  *ngIf="impact.map_layer">
              <button
                class="map-impacts-trigger-button button-icon-only"
                (click)="openMapModal(impact)"
              >
                <span class="icon icon-map-marked-alt"></span>
              </button>
            </span>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <va-assessment-overview-table [(risks)]="risks" [weatherEvent]="weatherEvent"></va-assessment-overview-table>
      <button class="button" routerLink="risk/new">Add new risk</button>
      &nbsp;
      <button class="button button-positive"
              *ngIf="risks?.length && getAssessedRisks().length >= 1"
              [routerLink]="['/actions']"
              [queryParams]="{hazard: weatherEvent?.id}">
        Take action
      </button>
    </section>
  </main>
</div>

<app-impact-map-modal #impactsMapModal
  title="Maps related to {{ weatherEvent?.name }}"
  [impacts]="impacts"
  [impact]="mapImpact">
</app-impact-map-modal>
