<div class="step-header">
  <h3>Categories</h3>
</div>
<div class="step-content">
  <div class="container action-card-container action-categories">
    <div class="row card-group">
      <div class="col-4" *ngFor="let category of actionCategories">
        <div class="action-category-card"
          [ngClass]="{'selected': category.selected}"
          (click)="selectActionCategory(category)">
          <span><i class="{{ category.icon }}"></i> {{ category.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="step-footer">
  <button type="button"
    [disabled]="!haveSelectedActionCategory()" nextStep>Continue</button>
  <button type="button" previousStep>Back</button>
</div>
