<div class="step-intro">
  <h3 class="step-header">Categories</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat maximus finibus.</p>
</div>
<div class="step-content">
  <div class="switch-list container action-card-container action-categories">
    <button class="switch-item"
        [ngClass]="{selected: category.selected}"
          *ngFor="let category of actionCategories"
          (click)="selectActionCategory(category)">
        <span *ngIf="category.selected"
          class="icon icon-status"></span>
        <span *ngIf="!category.selected"
              class="icon icon-status"
              tooltip="Add category"
              tooltipPlacement="right"></span>
          <span class="icon icon-primary {{ category.icon }}"></span>
        {{ category.name }}
    </button>
  </div>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button button-secondary" 
            *ngIf="!action?.name"
            (click)="cancel()">Cancel</button>
    <button type="button" class="button button-secondary" 
            *ngIf="!!action?.name"
            (click)="finish()">Finish later</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button button-secondary" 
            nextStep>Skip Step</button>
    <button type="button" class="button button-primary" 
            nextStep>Continue</button>
  </div>
</footer>
