<div class="step-header">
  <h3>Categories</h3>
</div>
<div class="step-content">
  <div class="switch-list container action-card-container action-categories">
    <button class="switch-item"
        [ngClass]="{selected: category.selected}"
          *ngFor="let category of actionCategories"
          (click)="selectActionCategory(category)">
        <span *ngIf="category.selected"
          class="icon icon-status"></span>
        <span *ngIf="!category.selected"
              class="icon icon-status"
              tooltip="Add to top concerns"
              tooltipPlacement="right"></span>
          <span class="icon icon-primary {{ category.icon }}"
            ></span>
        {{ category.name }}
    </button>
  </div>
</div>
<div class="step-footer">
  <button type="button"
    [disabled]="!haveSelectedActionCategory()" nextStep>Continue</button>
  <button type="button" previousStep>Back</button>
</div>
