<div class="actions-available">
  <div class="card-container">
    <!-- Show risks in the order they return, so that a risk always shows at the same
         position. This helps consistency for users. -->
    <ng-container *ngFor="let risk of risks">
      <as-action-card *ngIf="risk.action"
                      [action]="risk.action"
                      [risk]="risk"
                      (delete)="deleteAction($event)"></as-action-card>
      <as-risk-card *ngIf="!risk.action" [risk]="risk"></as-risk-card>
    </ng-container>
  </div>
</div>
