<ng-template #popoverTemplate>
  <div class="row">
    <div class="va-popover-description col-5">
      <p class="va-popover-title">How is <strong>adaptive need</strong> calculated?</p>
      <p>
      Here explain what "adaptive need" is and how we are calculating this.
      </p>
    </div>
    <div class="adaptive-need-table col-6">
      <span class="chart-left">Potential Impact</span>
      <table cellpadding="2">
        <thead>
          <tr>
            <th colspan="5">Adaptive Capacity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let potentialImpactIndex of [4, 3, 2, 1, 0]">
            <td *ngFor="let adaptiveCapacityIndex of [4, 3, 2, 1, 0]"
                class="adaptive-capacity-box ac-{{ adaptiveCapacityIndex }} pi-{{ potentialImpactIndex }}"
              [ngClass]="{'selected': potentialImpactIndex == potentialImpactBin
                && adaptiveCapacityIndex == adaptiveCapacityBin}">
              &nbsp;
            </td>
            <td *ngIf="potentialImpactIndex == 4">High</td>
            <td *ngIf="potentialImpactIndex == 3" rowspan="3" class="arrow-down"><div></div></td>
            <td *ngIf="potentialImpactIndex == 0">Low</td>
          </tr>
          <tr>
            <td>High</td>
            <td colspan="3" class="arrow-over"><div></div></td>
            <td>Low</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<span [ngClass]="['adaptive-need-box', 'pi-' + potentialImpactBin, 'ac-' + adaptiveCapacityBin]"
      [popover]="popoverTemplate"
                placement="{{ popoverPlacement || 'right'}}"
                container="body"
                containerClass="va-popover container-fluid"
                triggers="mouseenter:mouseleave"
      *ngIf="(potentialImpactBin !== undefined &&
             adaptiveCapacityBin !== undefined)">&nbsp;</span>
<span *ngIf="potentialImpactBin === undefined || adaptiveCapacityBin === undefined">--</span>
