<ng-template #popoverTemplate>
  <div class="popover-row">
    <p class="popover-title">How is <strong>adaptive need</strong> calculated?</p>
    <p>
      Adaptive need represents a risk’s priority, from yellow (lowest) to deep red
      (highest). Its value depends on the risk’s <strong>potential impact</strong>
      and your location’s <strong>adaptive capacity</strong> to manage it.
    </p>
  </div>

  <div class="popover-row adaptive-need-table-container">
    <table class="adaptive-need-table">
      <thead>
        <tr class="table-horizontal-title-container">
          <td></td>
          <td></td>
          <th scope="colgroup" colspan="5">Adaptive capacity</th>
        </tr>
        <tr class="table-horizontal-label-container">
          <td></td>
          <td></td>
          <th scope="col" class="table-label arrow-shaft table-horizontal-label">High</th>
          <th scope="col" class="hidden-header">Medium high</th>
          <th scope="col" class="hidden-header">Medium</th>
          <th scope="col" class="hidden-header">Medium low</th>
          <th scope="col" class="table-label arrow-end table-horizontal-label">Low</th>
        </tr>
      </thead>
      <tbody>
        <th scope="rowgroup" rowspan="6" class="table-header-vertical"><span>Potential impact</span></th>
        <tr *ngFor="let potentialImpactIndex of [4, 3, 2, 1, 0]">
          <td *ngIf="potentialImpactIndex == null"></td>
          <th *ngIf="potentialImpactIndex == 4" scope="row" class="table-label arrow-shaft table-vertical-label">High</th>
          <th *ngIf="potentialImpactIndex == 3" scope="row" class="hidden-header">Medium high</th>
          <th *ngIf="potentialImpactIndex == 2" scope="row" class="hidden-header">Medium</th>
          <td *ngIf="potentialImpactIndex == 1" scope="row" class="hidden-header">Medium low</td>
          <th *ngIf="potentialImpactIndex == 0" scope="row" class="table-label arrow-end table-vertical-label">Low</th>
          <td *ngFor="let adaptiveCapacityIndex of [4, 3, 2, 1, 0]"
              class="adaptive-capacity-box ac-{{ adaptiveCapacityIndex }} pi-{{ potentialImpactIndex }}"
            [ngClass]="{'selected': potentialImpactIndex == potentialImpactBin
              && adaptiveCapacityIndex == adaptiveCapacityBin}">
            &nbsp;
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<span [ngClass]="['adaptive-need-box', 'pi-' + potentialImpactBin, 'ac-' + adaptiveCapacityBin]"
      [popover]="popoverTemplate"
                placement="{{ popoverPlacement || 'right'}}"
                container="body"
                containerClass="va-popover popover-two-column"
                triggers="mouseenter:mouseleave"
      *ngIf="(potentialImpactBin !== undefined &&
             adaptiveCapacityBin !== undefined)">&nbsp;</span>
<span class="adaptive-need-box-empty"
      tooltip="You haven’t assessed this risk yet"
      placement="right"
      container="body"
      *ngIf="!potentialImpact || !adaptiveCapacity">&nbsp;</span>
<span class="adaptive-need-box-unsure"
      tooltip="You answered unsure on the potential impact or adaptive capacity step of the vulnerability assessment wizard"
      placement="right"
      container="body"
      *ngIf="potentialImpact === 'unsure' || adaptiveCapacity === 'unsure' && !!potentialImpact && !!adaptiveCapacity">&nbsp;</span>
