.actions-empty {
  display:flex;
  flex-direction: column;
  align-items: center;

  background-color: $gray-1;
  padding: 10rem 15rem;

  & > h2 {
    margin-bottom: 3rem;
  }
}

app-action-review-step {
  .review-icon-box {
    display: flex;
    align-items: center;

    & > span {
      font-size: 30px;
    }

    & > div {
      padding: 1rem;
      h4 {
        margin-top: 2rem;
      }
    }
  }
  .review-description {
    white-space: pre-wrap;
  }
}
