app-city-profile {
  .main-container .main-content {
    max-width: $content-max-width-small;

    .profile-required:after {
      margin-left: 0.4rem;
      content: '*';
      color: $brand-danger;
    }
  }
  .radio-button-item, .checkbox-item {
    cursor: pointer;
  }
  .panel-title header > .icon.completed {
    margin-left: auto;
    margin-right: $space-medium;
    color: $brand-positive;
  }
}
