app-plan-step-hazards,
app-plan-step-community-systems {
  .concerns-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    p {
      margin-bottom: 0.5rem;
    }
  }

  .switch-list-container {
    margin-top: $space-xxlarge;
  }
}

