app-plan-step-hazards,
app-plan-step-community-systems,
app-add-weather-events {
  .switch-list-container {
    margin-top: $space-xxlarge;
  }
}

app-plan-step-hazards {
  .concerns-header {
    .concern-title {
      margin-bottom: 0.5rem;
    }
  }
}

app-plan-step-due-date {
  .date-picker-control {
    max-width: 12rem;
  }
}

app-plan-step-area {
  .draw-header {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .error {
    color: $error-color;
  }
  .map-help {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-right: auto;
    }

    .map-help-size {
      font-variant-numeric: tabular-nums;
    }
  }
  .map-container {
    border: 2px solid $neutral-1;
    position: relative;
    font: $body-font-family;

    aol-map {
      height: 400px;
      width: 100%;
      display: block;
    }
    .redraw-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      box-shadow: 0 0 10px rgba($neutral-5, 0.5),
                  0 0 0px 2px rgba($neutral-5, 0.25);
    }
  }

  .map-layer-switcher {
    display: flex;
    align-items: center;
    margin-top: $space-base;
    z-index: 1;

    .map-layer-toggle {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-left: $space-medium;
      }

      input {
        margin-right: $space-base;
      }
    }
  }

  .overlay-popup {
    padding: $space-small $space-base;
    border-radius: $border-radius;
    color: $white;
    background: rgba($neutral-5,0.9);

    p {
      margin-bottom: 0.15rem;
    }
  }
}

.splash-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.splash-container .splash-content {
  display: flex;
  height: 100%;
  padding: 0;
}

.splash-header, .splash-prompt {
  flex: 1 1 50%;
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem;
}

.splash-header {
  background-color: $splash-header-background;
}

.splash-title {
  font-size: $splash-title-size;
  font-weight: $splash-title-weight;
  color: $splash-title-color;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.splash-intro {
  font-size: $splash-intro-size;
  font-weight: $splash-intro-weight;
  color: $splash-intro-color;
  line-height: $splash-intro-line-height;
  max-width: 35rem;
}

.splash-prompt {
  background: $splash-prompt-background;
  font-size: $splash-prompt-size;
  align-items: center;
  justify-content: center;

  p {
    max-width: $splash-prompt-max-width;
  }

  button {
    margin-top: $space-large;
  }
}
