app-dashboard {
  .main-content {
    display: flex;
    flex-wrap: wrap;
  }

  .page-header {
    flex: 1 0 100%;
  }

  .section-header {
    max-width: 65rem;
  }
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-right: $space-medium;
}

.dashboard-sidebar {
  flex: 0 0 350px;
  padding: $space-large;
}

.dashboard-no-risks {
  justify-content: center;
  align-items: center;
}
