app-indicators {
  .main-container .main-content {
    max-width: $content-max-width-small;
  }

  .top-concerns.empty-state {
    background: $white;
  }
  
  .indicators-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: $space-medium;

    > h2 {
      margin-bottom: 0;
    }
  }

  .filter-container {
    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }

  .top-concerns .concern {
    @include compact-concern();

    @media screen and (max-width: 50rem) {
      width: 49%;
    }

    @media screen and (max-width: 30rem) {
      width: 100%;
      margin-right: 0;
    }
  }
}
