#manage-subscription-iframe {
  visibility: hidden;
  height: 0;
  width: 0;
}


.subscription-modal-plan {
  margin-top: $space-large;
  color: $brand-positive;
  font-size: $text-display;
}

app-manage-subscription {
  app-plan-selector {
    .plan-cards {
      .plan-card {
        &:hover {
          box-shadow: $pricing-plan-card-shadow;
        }
      }
    }
  }
}
