app-map {
  .main-container {
    height: 100%;
  }
  .main-content {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .map-sidebar {
    flex: 0 0 35rem;
    padding: 2rem;

    .legend {
      list-style-type: none;
      padding-left: 0.8rem;

      .swatch {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 1px solid #000;
      }
    }
  }

  .map-container {
    flex: auto;

    .map-content {
      position: relative;
      height: 100%;

      aol-map {
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }
}
