app-map {
  .main-content {
    display: flex;
    flex-direction: row;
  }

  .map-sidebar {
    flex: 0 0 30rem;

    .legend {
      list-style-type: none;
      padding-left: 0.8rem;

      .swatch {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 1px solid #000;
      }
    }
  }

  .map-container {
    flex: auto;

    .map-content {
      position: relative;

      aol-map {
        height: 400px;
        width: 100%;
        display: block;
      }
    }
  }
}
