app-map {
  .main-content {
    display: flex;
    flex-direction: row;
  }

  .map-sidebar {
    flex: 0 0 30rem;
  }

  .map-container {
    flex: auto;

    .map-content {
      position: relative;

      aol-map {
        height: 400px;
        width: 100%;
        display: block;
      }
    }
  }
}
