<app-top-community-systems [communitySystems]="selectedSystems"
                           (removed)="remove($event)"></app-top-community-systems>
<div class="switch-list-container">
  <div class="switch-list">
    <h2>All community systems</h2>
    <button class="switch-item"
        [ngClass]="{selected: isSelected(option)}"
        *ngFor="let option of communitySystems"
        (click)="addOrRemove(option)">
      <span *ngIf="isSelected(option)"
            class="icon icon-status"></span>
      <span *ngIf="!isSelected(option)"
            class="icon icon-status"
            tooltip="Add to top concerns"
            tooltipPlacement="right"></span>
      <span class="icon icon-primary"
          [ngClass]="option.display_class"
          ></span>
      {{ option.name }}
    </button>
  </div>
</div>
