<header class="modal-header">
  <h1 class="modal-title">Reset your password</h1>
</header>
<div class="modal-body">
  <form class="form" id="form-login">
    <!-- Password 1 -->
    <div class="form-control-container">
      <label for="new_password1">Password</label>
      <input class="form-control" id="password1"
          [(ngModel)]="new_password1" auto
          type="password" name="new_password1" required>
      <div *ngIf="errors.new_password1" class="form-control-error">
        <p *ngFor="let error of errors.new_password1">
          {{ error }}
        </p>
      </div>
    </div>
    <!-- Password 2 -->
    <div class="form-control-container">
      <label for="new_password2">Confirm password</label>
      <input class="form-control" id="password2"
          [(ngModel)]="new_password2" auto
          type="password" name="new_password2" required>
      <div *ngIf="errors.new_password2" class="form-control-error">
        <p *ngFor="let error of errors.new_password2">
          {{ error }}
        </p>
      </div>
    </div>
  </form>
  <div *ngIf="errors.non_field_errors" class="form-control-error">
      <p *ngFor="let error of errors.non_field_errors">
        {{ error }}
      </p>
  </div>
  <footer class="modal-footer">
    <div class="button-group">
      <button type="input" class="button button-primary"
          (click)="submit()" form="form-login">Reset password</button>
    </div>
  </footer>
</div>
