<header class="modal-header">
  <h1 class="modal-title">Reset your password</h1>
</header>
<div class="modal-body">
  <form class="form" id="form-login">
    <!-- Password -->
    <div class="form-control-container">
      <label for="password">Password</label>
      <div class="input-group">
        <input class="form-control"
               [type]="passwordVisible ? 'input' : 'password'"
               required
               autocomplete="new-password"
               [(ngModel)]="new_password1"
               [appPasswordValidator]="[user?.first_name, user?.last_name, user?.email]"
               #popover="bs-popover"
               [popover]="passwordPopover"
               placement="bottom"
               container="body"
               triggers=""
               (focus)="popover.show()"
               (blur)="popover.hide()"
               #password="ngModel"
               id="password"
               name="password">
        <button type="button" class="button-icon-only"
                (click)="passwordVisible = !passwordVisible">
          <span class="icon icon-eye" *ngIf="!passwordVisible"></span>
          <span class="icon icon-eye-slash" *ngIf="passwordVisible"></span>
        </button>
      </div>
      <div *ngIf="errors.new_password2" class="form-control-error">
        <p *ngFor="let error of errors.new_password2">
          {{ error }}
        </p>
      </div>
    </div>

    <div *ngIf="errors.non_field_errors" class="form-control-error">
      <p *ngFor="let error of errors.non_field_errors">
        {{ error }}
      </p>
    </div>

    <!-- Note this must be inside the <form> to use the password template reference -->
    <ng-template #passwordPopover>
      <app-password-validator-popover [control]="password">
      </app-password-validator-popover>
    </ng-template>
  </form>
  <footer class="modal-footer">
    <div class="button-group">
      <button type="input" class="button button-primary"
          (click)="submit()" form="form-login">Reset password</button>
    </div>
  </footer>
</div>
