<div class="modal-header">
  <h1>Reset your password</h1>
  <button type="button" class="button button-modal-close"
      (click)="closeModal()" aria-label="Close"><i class="icon-cancel"></i></button>
</div>
<div class="modal-body">
  <form class="form" id="form-login">
    <!-- Password 1 -->
    <div class="required form-group">
      <label for="password1">Password</label>
      <input class="form-control" id="password1"
          [(ngModel)]="password1" auto
          type="password" name="password1" required>
      <div *ngIf="errors.password1" class="alert alert-danger">
        <div *ngFor="let error of errors.password1">
          <p>{{ error }}</p>
        </div>
      </div>
    </div>
    <!-- Password 2 -->
    <div class="required form-group">
      <label for="password2">Confirm Password</label>
      <input class="form-control" id="password2"
          [(ngModel)]="password2" auto
          type="password" name="password2" required>
      <div *ngIf="errors.password2" class="alert alert-danger">
        <div *ngFor="let error of errors.password2">
          <p>{{ error }}</p>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="errors.non_field_errors" class="alert alert-danger">
      <div *ngFor="let error of errors.non_field_errors">
          <p>{{ error }}</p>
      </div>
  </div>
</div>
<div class="modal-footer">
  <div class="button-group">
    <button type="button" class="button button-secondary button-small"
        (click)="closeModal()" aria-label="Close">Cancel</button>
    <input type="submit" class="button button-primary button-small"
        (click)="submit()" value="Reset Password" form="form-login">
  </div>
</div>
