<div class="main-container">
  <main class="main-content wizard-container wizard-no-nav" role="main">
    <header class="wizard-header">
      <h1 class="wizard-title-large">Welcome, {{ user.first_name }}!</h1>
    </header>
    <form [formGroup]="form">
      <wizard #wizard
              navigationMode="free"
              navBarLocation="">

        <app-organization-city-step class="wizard-step"
                                    #cityStep
                                    wizardStep
                                    [form]="form"
                                    navigationSymbol="{{ cityStep.navigationSymbol }}">
        </app-organization-city-step>

        <app-organization-invite-step class="wizard-step"
                                      #inviteStep
                                      [wizard]="wizard"
                                      [form]="form"
                                      wizardStep>
        </app-organization-invite-step>
      </wizard>
    </form>
  </main>
</div>
