<div class="step-header">
  <h3 class="step-title">Outcomes</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat maximus finibus.</p>
</div>

<div class="step-content">
  <form [formGroup]="form">
    <label for="adaptive-capacity-effect">Effect on adaptive capacity</label>
    <textarea id="adaptive-capacity-effect" formControlName="improvements_adaptive_capacity"></textarea>

    <label for="impact-reduction">
      Reduction in potential impact
    </label>
    <textarea id="impact-reduction" formControlName="improvements_impacts"></textarea>

    <label for="collaborators">
      Collaborators
      <span class="icon icon-question-circle"
            tooltip="Select or enter other departments you will need to collaborate with to develop and implement this strategy. Keep in mind that additional stakeholder engagement is a key component of adaptation planning."
            placement="right"></span>
    </label>
    <app-freeform-multiselect
      id="collaborators"
      formControlName="collaborators"
      [options]="collaboratorValues">
    </app-freeform-multiselect>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button"   
            *ngIf="!action?.name"
            (click)="cancel()">Cancel</button>
    <button type="button" class="button"  
            *ngIf="!!action?.name"
            (click)="finish()">Finish later</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button"   
            nextStep>Skip Step</button>
    <button type="button" class="button button-primary"   
            [disabled]="!form.valid" 
            nextStep>Continue</button>
  </div>
</footer>
