<div class="step-header">
  <h3>Anticipated Improvements</h3>
</div>
<div class="step-content">
  <form [formGroup]="form">

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat maximus finibus.
    </p>

    <label for="improvements_adaptive_capacity">
      Effect on adaptive capacity
    </label>
    <textarea formControlName="improvements_adaptive_capacity"></textarea>

    <label for="improvements_impacts">
      Reduction in potential impacts
    </label>
    <textarea formControlName="improvements_impacts"></textarea>

    <label for="collaborators">
      Collaborator(s)
    </label>
    <app-freeform-multiselect
      formControlName="collaborators"
      [options]="collaboratorValues">
    </app-freeform-multiselect>
  </form>
</div>
<div class="step-footer">
  <button type="button"
          tabindex="3"
          [disabled]="!form.valid"
          nextStep>Continue</button>
  <button type="button" previousStep>Back</button>
</div>
