.action-card-unassessed, .action-card {
  .card-header {
    display: flex;
    justify-content: space-between;
  }

  .risk-priority {
    margin-right: $space-medium;
  }

  .card-title {
    margin-bottom: 0;
    font-size: $text-small;
    color: $brand-black;
  }

  .button {
    flex: 0 0 auto;
  }
}

.action-card-unassessed {
  .card-header {
    padding: $space-medium $space-large;
  }
  .card-content {
    display: flex;
    justify-content: space-between;
    padding: $space-medium;
  }
}

.action-card {
  .card-header {
    padding: $space-xlarge $space-xxlarge $space-xlarge $space-large;
  }

  .card-content {
    background: $neutral-0;
    margin: 0 $space-tiny;
    padding: $space-xlarge $space-xlarge $space-xxlarge 4.35rem;
    display: flex;
    justify-content: space-between;
  }

  .action-name {
    flex: 1 0 70%;
    margin-right: $space-xlarge;
  }

  .card-content-title  {
    font-weight: $font-weight-bold;
  }
  .card-content-value {
    color: $brand-black;
    font-size: $text-base;
  }

  .action-details {
    flex: 1 0 auto;

    .detail-container {
      margin-bottom: $space-large;
    }

    .category-icon {
      font-size: $text-medium;
      color: $neutral-4;
    }
  }
}