.action-picker {
  .suggested-actions-cta {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $neutral-1;
    padding: $space-xlarge;
  }

  .suggested-actions-overview {
    display: flex;
    flex: auto;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;

    > .recommended {
      margin-bottom: $space-base;
      color: $neutral-4;
      font-size: $text-tiny;
      text-transform: uppercase;
    }

    > .title {
      font-size: $text-medium;
      font-weight: $font-weight-bold;
      color: inherit;
    }

    > .description {
      font-size: $text-small;
      color: inherit;
    }
  }

  .suggested-actions-button {
    flex: none;
    margin-left: $space-xxlarge;
  }

  .suggested-actions-description {
    margin-bottom: $space-xlarge;
  }

  .suggested-action {
    display: flex;
    flex-direction: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: $space-large;
    padding: $space-xlarge;
    background-color: $neutral-1;

    > .action-main {
      display: flex;
      flex: initial;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      margin-right: $space-xlarge;

      > .action-name {
        margin-bottom: $space-large;
        font-size: $text-base;
        font-weight: $font-weight-regular;
        line-height: 1.5;
      }

      > .action-source {
        margin-bottom: $space-xlarge;
        font-size: $text-tiny;
        opacity: .7;

        > a {
          border-bottom-width: 0;

          &:hover {
            border-bottom-width: 1px;
          }
        }
      }

      > .button {
        margin-bottom: $space-tiny;
      }
    }

    > .action-metadata-list {
      flex: none;
      width: 16rem;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: $text-tiny;

      > .action-metadata-item {
        margin: $space-small 0;
      }
    }
  }

  .modal-footer {
    margin-top: $space-xlarge;
    text-align: right;
  }
}
