.action-picker {
  .suggested-actions-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: $space-xxlarge $space-large;
    border: 0;
    background-color: $brand-positive;
    color: $black;
    text-align: left;

    &:hover {
      @include light-on-dark();
      color: $white;
    }

    > .icon {
      flex: none;
      width: 14rem;
      height: 14rem;
      margin: 0 $space-xlarge 0 $space-large;
      background-color: $white;
      color: $brand-positive;
      border-radius: 50%;
      font-size: 10rem;
      line-height: 1.3;
    }

    > .suggested-actions-invitation {
      display: flex;
      flex: auto;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;

      > .title {
        font-size: $text-medium;
        font-weight: $font-weight-bold;
        color: inherit;
      }

      > .description {
        font-size: $text-small;
        color: inherit;
      }
    }
  }

  .suggested-actions-description {
    margin-bottom: $space-xlarge;
  }

  .suggested-action {
    display: flex;
    flex-direction: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: $space-large;
    padding: $space-xlarge;
    background-color: $neutral-1;

    > .action-main {
      display: flex;
      flex: initial;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      margin-right: $space-large;

      > .action-name {
        margin-bottom: $space-large;
        font-size: $text-small;
        font-weight: $font-weight-regular;
        line-height: 1.5;
      }

      > .action-source {
        margin-bottom: $space-xlarge;
        font-size: $text-tiny;
      }
    }

    > .action-metadata-list {
      flex: none;
      width: 16rem;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: $text-tiny;

      > .action-metadata-item {
        margin: $space-small 0;
      }
    }
  }

  .modal-footer {
    margin-top: $space-xlarge;
    text-align: right;
  }
}
