.card.action-card-unassessed, .card.action-card {
  margin-bottom: $space-medium;

  .card-header {
    display: flex;
    justify-content: space-between;
  }

  .action-priority {
    margin-right: $space-medium;
  }

  .card-title {
    margin-bottom: 0;
    font-size: $action-card-title-size;
    color: $action-card-title-color;
  }

  .button {
    flex: 0 0 auto;
  }
}

.action-card-unassessed {
  padding: 0 $space-tiny;

  .card-header {
    padding: $space-medium $space-large;
  }
  .card-content {
    display: flex;
    justify-content: space-between;
    padding: $space-medium;
  }
}

.action-card {
  padding: 0 $space-tiny $space-tiny $space-tiny;

  .card-header {
    padding: $space-xlarge $space-large $space-xlarge $space-large;
  }

  .card-content {
    background: $action-card-background;
    padding: $space-xlarge $space-xlarge $space-xxlarge 4.35rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
  }

  .action-name {
    flex: 1 0 70%;
    margin-right: $space-xlarge;
  }

  .card-content-title  {
    font-weight: $action-card-content-title-weight;
    height: auto;
    opacity: 1;
  }

  .card-content-value {
    color: $brand-black;
    font-size: $text-base;
  }

  .action-details {
    flex: 1 1 auto;

    .detail-container {
      margin-bottom: $space-large;
    }

    .category-icon {
      font-size: $action-card-content-value-size;
      color: $action-card-content-value-color;
    }
  }
}

.action-card-closed {
  .toggle-button-more {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;

    span {
      display: inline-block;
      background: $action-toggle-button-background;
      padding: $space-small;
      border-radius: $button-border-radius $button-border-radius 0 0;
      margin: 0 auto;
    }

    &:hover {
      color: $action-toggle-button-color-hover;
    }
  }

  .card-content {
    max-height: $action-card-title-height;
    padding-right: 4.35rem;

    &:after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 4rem;
      background: $action-toggle-button-fadeaway;
    }
  }

  .card-content-title {
    height: 0;
    opacity: 0;
  }

  .action-name {
    flex: 1 0 100%;
  }
}