/* * * *
 * Screen Sizes
 * Used in _mixins.scss > @mixin respond-to($breakpoint)
 * * * */
$breakpoints: (

  'xxs': (max-width: 480px),

  'xs': (max-width: 767px),

  'sm': "(min-width: 768px) and (max-width: 991px)",
  'sm-up': (min-width: 768px),
  'sm-down': (max-width: 991px),

  'md': "(min-width: 992px) and (max-width: 1200px)",
  'md-up': (min-width: 992px),
  'md-down': (max-width: 1200px),

  'lg': (min-width: 1201px),
);


/* * * *
 * Settings
 *
 * * * */
$border-radius: 2px;


/* * * *
 * Colors
 *
 * * * */
$brand-evergreen: #15514b;
$brand-teal: #46b6ae;
$brand-black: #032a1d;
$brand-leaf: #85c005;
$brand-turmeric: #f2c706;
$brand-persimmon: #ed5c14;
$brand-lavender: #8186d9;

$brand-teal-v-light: #d3eae9;
$brand-teal-light: #a8ddda;


$brand-primary: $brand-evergreen;
$brand-secondary: $brand-teal;
$brand-positive: $brand-leaf;
$brand-warning: $brand-turmeric;
$brand-danger: $brand-persimmon;

$white: #fff;
$gray: #f2f2f2;
$black: $brand-black;

$neutral-0: #fafaf9;
$neutral-1: #ededeb;
$neutral-2: #c9c9c3;
$neutral-3: #a4a49a;
$neutral-4: #5F5F55;
$neutral-5: #363630;

$border-color: $neutral-1;

$dark-grey-background: darken(grey, 25%);
$light-grey-background: lighten(grey, 25%);


/* * * *
 * Layout
 *
 * * * */

$padding-unit: 1rem;
$space-tiny: 2px;
$space-small: 0.35rem;
$space-base: 0.65rem;
$space-medium: 1rem;
$space-large: 1.25rem;
$space-xlarge: 2rem;
$space-xxlarge: 3rem;
$main-background: $neutral-1;
$content-max-width: 125rem;
$content-max-width-small: 92rem;


/* * * *
 * z-index
 *
 * * * */
$zindex-modal: 1050;
$zindex-typeahead: 1060;
$zindex-dropdown-menu: 1070;
$zindex-popover: 1080;
$zindex-tooltip: 1080;
$zindex-spinner: 1090;
$zindex-contact-iclei: 1040;

/* * * *
 * Columns
 * * * */
$column-count: 12;
$column-padding: 1rem;


/* * * *
 * Typography
 *
 * * * */
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 700;

$modular-scale: 1.25;
$font-size-base: 16px;
$font-size-body: $font-size-base;
$body-line-height: 1.5;
$body-font-color: $neutral-4;
$body-font-weight: $font-weight-regular;
$body-font-family: National, Arial, sans-serif;
$monospace-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

$text-jumbo: $font-size-base * exponential($modular-scale, 5);
$text-display: $font-size-base * exponential($modular-scale, 4);
$text-large: $font-size-base * exponential($modular-scale, 3);
$text-medium: $font-size-base * exponential($modular-scale, 2);
$text-base: $font-size-base * exponential($modular-scale, 1);
$text-small: $font-size-base;
$text-tiny: $font-size-base / $modular-scale;

$icon-font-family: temperate;

$heading-line-height: 1.1;
$heading-font-color: $neutral-5;
$heading-font-weight: $font-weight-regular;
$heading-font-family: National, Arial, sans-serif;
$heading-margin-bottom: 1.4rem;

$paragraph-margin: 1.4rem;
$paragraph-max-width: 60rem;

/* * * *
 * Page
 *
 * * * */
$page-template-background: linear-gradient(to top, $neutral-1, $neutral-2);
$page-title-large-size: $text-display;
$page-title-large-color: $brand-black;
$page-title-large-weight: $font-weight-regular;

$page-title-small-color: $neutral-4;
$page-title-small-size: $text-small;
$page-title-small-weight: $font-weight-regular;

$page-content-background: $white;
$page-content-border: 1px solid $neutral-2;


/* * * *
 * Loading
 *
 * * * */
$loading-color: $neutral-2;
$loading-dimension: 3rem;
$loading-dimension-large: 5rem;
$loading-dimension-small: 1.7rem;
$loading-border-width: .8rem;
$loading-background-color: $neutral-0;
$loading-splash-text-size: 16px;  // same units as inline styles in index.html
$loading-splash-text-color: $neutral-3;
$loading-splash-background-color: $neutral-1;

/* * * *
 * Button
 *
 * * * */
$button-font-family: $heading-font-family;
$button-border-radius: $border-radius;
// Default button
$button-padding-vertical: 0.8rem;
$button-padding-horizontal: 1.8rem;
// Small button
$button-padding-vertical-small: $button-padding-vertical*0.55;
$button-padding-horizontal-small: $button-padding-horizontal*0.75;
// Large button
$button-padding-vertical-large: $button-padding-vertical*1.45;
$button-padding-horizontal-large: $button-padding-horizontal*1.95;

$button-disabled-background: $neutral-2;


/* * * *
 * Fields
 *
 * * * */
$field-text-weight: $font-weight-regular;
$field-border: 1px solid $neutral-1;
$field-border-dark: 1px solid $neutral-2;
$field-border-radius: $border-radius;
$field-disabled-border-color: $neutral-2;
$field-disabled-border-color-dark: $neutral-3;
$field-error-border: 0 0 0 2px rgba($brand-danger, 0.8);
$label-weight: $font-weight-bold;
$required-color: $neutral-3;
$required-weight: $font-weight-bold;
$optional-color: $neutral-3;
$optional-weight: $font-weight-regular;
$recommended-color: $brand-black;
$required-size: $text-tiny;
$hint-size: $text-tiny;
$error-color: $brand-danger;

$multiselect-pill-background: $brand-teal-light;
$multiselect-pill-color: $neutral-5;

/* * * *
 * Dropdown
 *
 * * * */
$dropdown-menu-border: 1px solid $neutral-1;
$dropdown-menu-border-radius: $border-radius;
$dropdown-menu-border-padding: $space-base;
$dropdown-menu-min-width: 16rem;
$dropdown-menu-background: $white;
$dropdown-menu-shadow: 0px 0px 20px rgba($neutral-4, 0.2);

$dropdown-menu-link-color: $neutral-4;
$dropdown-menu-link-color-hover: $black;
$dropdown-menu-link-background-hover: $brand-teal-v-light;
$dropdown-menu-link-background-active: $brand-teal;

$dropdown-label-font-size: $text-base;
$dropdown-label-font-weight: $font-weight-bold;
$dropdown-description-font-size: $text-small;


/* * * *
 * Tooltip
 *
 * * * */
$tooltip-font-family: $body-font-family;
$tooltip-font-size: $text-tiny;
$tooltip-font-weight: $font-weight-regular;
$tooltip-padding-vertical: $space-medium;
$tooltip-padding-horizontal: $space-large;
$tooltip-background: $neutral-5;
$tooltip-arrow-width: 0.8rem;
$tooltip-arrow-height: 0.5rem;
$tooltip-shadow: 0 0 15px rgba($black,0.4);
$tooltip-max-width: 20rem;
$tooltip-wide-max-width: 40rem;

$tooltip-trigger-color: rgba( $neutral-5, 0.35 );
$tooltip-trigger-color-hover: $brand-teal;

/* * * *
 * Modal
 *
 * * * */
$modal-overlay-opacity: 0.9;
$modal-width: 60rem;
$modal-width-large: 80rem;
$modal-width-small: 50rem;
$modal-width-max: 90vw;
$modal-header-padding: ($space-base - .4rem) $space-base $space-base $space-xlarge;
$modal-body-padding: $space-xlarge;
$modal-footer-padding: $space-xlarge;
$modal-footer-primary-button-min-width: 12rem;
$modal-border-radius: $border-radius;
$modal-shadow: 0 14px 28px rgba($black, 0.25), 0 10px 10px rgba($black, 0.22);

/* * * *
 * Tables
 *
 * * * */
$table-min-width: 860px;
$table-color: $brand-black;
$table-border-color: $border-color;
$table-column-max-width: 40%;
$table-line-height: 1.35;

$table-header-background: $white;
$table-header-weight: $font-weight-bold;

$table-row-background: $neutral-0;
$table-row-weight: $font-weight-regular;

$table-caption-color: $neutral-4;
$table-caption-border-color: $brand-positive;

/* * * *
 * Alert
 *
 * * * */
$alert-padding-vertical: 1.4rem;
$alert-padding-horizontal: 1.8rem;
$alert-border-radius: $border-radius;
$alert-ghost-style: false;
$alert-font-size: $font-size-body;
$alert-heading-font-size: $font-size-body;
$alert-heading-font-weight: $heading-font-weight;
$alert-font-color: $black;
$alert-font-color-primary: $white;


/* * * *
 * Popover
 *
 * * * */
$popover-padding-vertical: $space-xlarge;
$popover-padding-horizontal: $space-xxlarge;
$popover-border-radius: $border-radius;
$popover-font-size: $font-size-body;
$popover-heading-font-size: $text-medium;
$popover-font-color: $heading-font-color;
$popover-background-color: $white;
$popover-margin: 7px;
$popover-max-width: 50rem;
$popover-box-shadow: 0 0 20px rgba($neutral-5, 0.4);
$popover-border: none;
$popover-arrow: 8px;


/* * * *
 * Chart
 *
 * * * */

$chart-line: $brand-teal;
$chart-minmax: $chart-line;
$chart-minmax-outline: 1px solid $neutral-2;
$chart-trendline: $brand-persimmon;
$chart-min-bar: $neutral-5;
$chart-max-bar: $brand-turmeric;
$chart-axis: $neutral-4;
$chart-grid: $neutral-1;
$chart-scrubline: $chart-axis;
$color-header: $neutral-5;
$chart-toggle-label-weight: $font-weight-bold;
$chart-legend-text-size: $text-small;
$chart-legend-datasets-text-size: $text-tiny;
$chart-legend-datasets-border-top: 1px solid $neutral-1;


/* * * *
 * Cards
 *
 * * * */
$card-toggle-background: $white;
$card-dropshadow: 0 0 40px rgba($neutral-2, 0.2);
$card-border-radius: $border-radius;
$card-border: 1px solid $neutral-1;


 /* * * *
 * Progress bars
 *
 * * * */
$progress-bar-height: 8px;
$progress-border-radius: $progress-bar-height;
$progress-bar-background: $neutral-1;
$progress-bar-color: $white;
$progress-bar-font-size: $text-tiny;
$progress-bar-line-height: 1;
$progress-bar-highlight-background-default: $brand-teal;
$progress-bar-highlight-background-action: $brand-positive;



/* * * *
 * Animations
 *
 * * * */
 $speed-very-fast: 0.1s;
 $speed-fast: 0.25s;
 $speed-normal: 0.35s;
 $speed-slow: 0.5s;
 $speed-very-slow: 1s;


/* * * *
 * Special checkboxes
 * These appear in the:
 * - Add Hazard(/weatherevent) component
 * - Add Community System component
 * - Add Category component
 *
 * * * */
$switch-border-radius: $border-radius;
$switch-title-size: $text-base;
$switch-title-color: $brand-black;

$switch-description-size: $text-small;
$switch-description-color: $neutral-4;
$switch-description-line-height: 1.25;

$switch-background: $neutral-0;
$switch-background-hover: $brand-teal-v-light;
$switch-background-selected: $brand-teal-v-light;
$switch-border: 1px solid $neutral-1;
$switch-border-hover: 1px solid $brand-teal-light;
$switch-border-selected: 3px solid $brand-teal-light;

$switch-status-icon-size: $text-base;

$switch-unchecked-icon-color: $neutral-2;
$switch-unchecked-icon-color-hover: $brand-teal;
$switch-checked-icon-color: $brand-teal;
$switch-checked-icon-color-hover: $brand-danger;

$switch-primary-icon-color: $brand-black;
$switch-primary-icon-size: $text-large;

$switch-readonly-icon-color: $neutral-2;
$switch-readonly-icon-color-selected: $neutral-4;
$switch-readonly-icon-size: $text-small;


/* * * *
 * Top Concerns
 * These appear in the:
 * - Add Hazard(/weatherevent) component
 * - Add Community System component
 *
 * * * */
 $concern-background: $white;
 $concern-border: 1px solid $neutral-2;
 $concern-border-hover: 1px solid $brand-teal;
 $concern-outline-width: 4px;
 $concern-outline: $concern-outline-width solid $neutral-1;
 $concern-outline-hover: $concern-outline-width solid $brand-teal-light;

 $concern-title-size: $text-base;
 $concern-title-line-height: 1.25;
 $concern-title-color: $neutral-4;
 $concern-title-color-hover: $brand-black;

 $concern-stats-size: $text-small;
 $concern-stats-color: $neutral-3;
 $concern-stats-line-height: 1.2;

 $concern-readonly-icon-color: $neutral-2;


/* * * *
 * Wizards
 *
 * * * */
$wizard-header-padding-top: $space-xxlarge;
$wizard-header-padding-bottom: $space-xxlarge;
$wizard-background: $white;

$wizard-navigation-width: 25rem;

$wizard-title-small-color: $neutral-4;
$wizard-title-small-size: $text-small;
$wizard-title-small-weight: $font-weight-regular;

$wizard-title-large-color: $brand-black;
$wizard-title-large-size: $text-display;
$wizard-title-large-weight: $font-weight-regular;

$wizard-step-prompt-color: $neutral-4;
$wizard-step-prompt-size: $text-small;

$wizard-step-number-background: $neutral-1;
$wizard-step-number-background-complete: $brand-positive;
$wizard-step-number-background-current: $brand-teal;
$wizard-step-number-border: 2px solid $neutral-2;
$wizard-step-number-color: $neutral-3;
$wizard-step-number-color-special: $black;
$wizard-step-number-divider-color: $neutral-2;
$wizard-step-number-divider-width: 1px;
$wizard-step-number-weight: $font-weight-regular;
$wizard-step-number-size: $text-small;
$wizard-step-number-ring: 0px 0px 0px 3px $main-background,
                          0px 0px 0px 4px $neutral-2;
$wizard-step-number-ring-current: 0px 0px 0px 3px $main-background,
                          0px 0px 0px 5px $brand-teal-light;

$wizard-step-link-color: $neutral-5;
$wizard-step-link-color-hover: $black;
$wizard-step-link-weight: $font-weight-regular;
$wizard-step-link-size: $text-small;

$wizard-step-border: 1px solid $neutral-2;
$wizard-step-padding: 15px 12px 17px;
$wizard-step-header-size: $text-medium;
$wizard-step-header-color: $brand-evergreen;
$wizard-step-header-weight: $font-weight-bold;

$review-header-size: $text-base;
$review-header-weight: $font-weight-regular;
$review-item-background: $neutral-1;
$review-item-label-weight: $font-weight-bold;
$review-item-label-color: $black;

$review-item-warning-color: $brand-warning;
$review-item-success-color: $brand-positive;

$review-feedback-header-size: $text-base;
$review-feedback-header-weight: $font-weight-bold;
$review-feedback-color: $black;
$review-feedback-background: $neutral-0;
$review-feedback-list-size: $text-base;
$review-feedback-icon-size: $text-medium;
$review-feedback-icon-background: $brand-teal-light;
$review-feedback-row-background: $white;


/* * * *
 * Splash page
 *
 * * * */
$splash-header-background: $brand-primary;
$splash-title-size: $text-base;
$splash-title-weight: $font-weight-light;
$splash-title-color: $white;
$splash-intro-size: $text-jumbo;
$splash-intro-weight: $font-weight-light;
$splash-intro-color: $white;
$splash-intro-line-height: 1.2;
$splash-prompt-background: $white;
$splash-prompt-size: $white;
$splash-prompt-max-width: 45rem;

/* * * *
 * Dashboard
 *
 * * * */
$dashboard-header-max-width: 65rem;
$dashboard-aside-background: $white;
$dashboard-aside-title-size: $text-base;
$dashboard-view-tab-color-active: $brand-teal;
$dashboard-view-tabs-height: 3.4rem;
$dashboard-org-details-color: $black;
$dashboard-org-details-separator-color: $neutral-4;
$dashboard-org-details-weight: $font-weight-regular;


/* * * *
 * Grouped Risks
 *
 * * * */
$grouped-risk-header-background: $white;
$grouped-risk-header-title-size: $text-base;
$grouped-risk-priority-empty-border: 1px dashed $neutral-2;
$grouped-risk-risks-number-color: $neutral-3;
$grouped-risk-risks-number-size: $text-small;

$grouped-risk-summary-background: $white;
$grouped-risk-progress-container-background: $neutral-0;

$grouped-risk-progress-percentage-size: $text-tiny;
$grouped-risk-progress-percentage-color: $neutral-3;

$grouped-risk-progress-title-size: $text-small;
$grouped-risk-progress-title-color: $neutral-4;

$grouped-risk-indicator-color: $brand-teal;


/* * * *
 * City profile summary
 *
 * * * */
$profile-summary-progress-container-background: $neutral-0;

$profile-summary-progress-overall-size: $text-jumbo;
$profile-summary-progress-overall-label-weight: $font-weight-light;
$profile-summary-progress-overall-line-height: 1.25;

$profile-summary-progress-label-color: $brand-black;
$profile-summary-progress-label-line-height: 1;

$profile-summary-required-done-background: lighten( $brand-positive, 50% );
$profile-summary-required-done-color: $brand-black;
$profile-summary-required-done-progress-overall-size: $text-medium;
$profile-summary-required-done-icon-size: $text-jumbo;

$profile-summary-circle-label-size: $text-base;
$profile-summary-circle-label-weight: $font-weight-regular;

$profile-summary-circle-stroke-width: 6px;
$profile-summary-circle-stroke: $neutral-1;
$profile-summary-circle-stroke-highlight: $brand-teal;

$profile-summary-finished-icon-color: $brand-positive;
$profile-summary-all-complete-icon-size: $text-medium;


/* * * *
 * Empty states
 *
 * * * */
$empty-state-background: $neutral-1;
$empty-state-background-light: $white;
$empty-state-header-color: $brand-black;
$empty-state-header-size: $text-base;
$empty-state-text-style: italic;
$empty-state-text-max-width: 30rem;


/* * * *
 * Adaptive Need
 *
 * * * */
$adaptive-need-popover-max-width: 60rem;
$adaptive-need-popover-title-size: $text-large;
$adaptive-need-popover-title-line-height: 1.15;
$adaptive-need-size: 20px;
$adaptive-need-empty-color: $neutral-3;
$adaptive-need-unsure-border: 1px solid $neutral-2;
$adaptive-need-unsure-color: repeating-linear-gradient(
                             -45deg,
                             $neutral-2,
                             $neutral-2 1px,
                             transparent 2px,
                             $neutral-2 4px,
                             transparent 5px,
                             $neutral-2 7px,
                             transparent 8px,
                             $neutral-2 10px,
                             transparent 11px,
                             $neutral-2 13px,
                             transparent 14px,
                             $neutral-2 16px,
                             transparent 17px,
                             transparent 18px);

$adaptive-need-wizard-size: 26px;
$adaptive-need-wizard-empty-size: 24px;
$adaptive-need-wizard-empty-border-color: $neutral-3;

$adaptive-need-table-label-size: $text-tiny;
$adaptive-need-table-label-weight: $font-weight-regular;
$adaptive-need-table-label-color: $neutral-3;

$adaptive-need-table-label-arrow-background: $neutral-2;
$adaptive-need-table-label-arrow-thickness: 1px;
$adaptive-need-table-label-arrow-shaft-length: 10rem;
$adaptive-need-table-label-arrow-end-length: 0.5rem;

$adaptive-need-table-cell-size: 3.5rem;

$adaptive-need-high: #ed3814;
$adaptive-need-mod-high: $brand-danger;
$adaptive-need-mod: #fa8530;
$adaptive-need-mod-low: #f7a526;
$adaptive-need-low: $brand-warning;


/* * * *
 * Action card
 *
 * * * */
$action-card-title-size: $text-small;
$action-card-title-complete-weight: $font-weight-bold;
$action-card-title-color: $black;
$action-card-title-height: 10rem;
$action-card-background: $neutral-0;

$action-card-content-title-weight: $font-weight-bold;
$action-card-content-value-size: $text-medium;
$action-card-content-value-color: $neutral-4;

$action-toggle-button-background: $action-card-background;
$action-toggle-button-color-hover: $brand-teal;
$action-toggle-button-fadeaway: linear-gradient(rgba($action-card-background, 0), $action-card-background);

$suggestion-cta-background: $neutral-1;
$suggestion-cta-recommended-color: $neutral-4;
$suggestion-cta-recommended-size: $text-tiny;
$suggestion-cta-title-size: $text-medium;
$suggestion-cta-title-weight: $font-weight-bold;
$suggestion-cta-description-size: $text-small;
$suggestion-cta-description-size: $text-small;

$suggestion-background: $neutral-1;
$suggestion-title-size: $text-base;
$suggestion-title-weight: $font-weight-regular;
$suggestion-title-line-height: 1.5;
$suggestion-title-height: 12rem;
$suggestion-source-size: $text-tiny;
$suggestion-metadata-list-size: $text-tiny;
$suggestion-toggle-button-fadeaway: linear-gradient(rgba($suggestion-background, 0), $suggestion-background);
$suggestion-footer-background: $neutral-1;
$suggestion-footer-border: 2px solid $neutral-0;

/* * * *
 * Marketing page
 *
 * * * */
$marketing-background-color: $neutral-0;
$marketing-hero-max-width: 150rem;
$marketing-hero-heading-size: $text-display;
$marketing-hero-heading-weight: $font-weight-light;
$marketing-hero-description-size: $text-base;
$marketing-hero-button-width: 20rem;
$marketing-hero-secondary-font-style: italic;
$marketing-overview-max-width: 50rem;
$marketing-overview-small-max-width: 39rem;

$marketing-image-background-color: $neutral-2;
// Should we have mobile/desktop sizes here?
$marketing-dark-background: $neutral-1;
$marketing-data-section-image-max-width: 110rem;

$marketing-feature-image-width: 8rem;
$marketing-feature-description-max-width: 20rem;



/* * * *
 * Pricing page
 *
 * * * */
$pricing-max-width: 80rem;
$pricing-section-padding-vertical-small: 4rem;
$pricing-section-padding-vertical-large: 2 * $pricing-section-padding-vertical-small;
$pricing-section-padding-horizontal: 2rem;
$pricing-headline-min-width: 33rem;
$pricing-headline-max-width: 39rem;
$pricing-card-min-width: 39rem;
$pricing-card-min-width-narrow: 36rem;
$pricing-plan-tier-header-border: 1px solid $neutral-1;
$pricing-plan-card-shadow: 2px 2px 20px rgba($black, .22);
$pricing-plan-card-shadow-hover: 2px 2px 30px rgba($black, .66);
$pricing-bottom-text-shadow: 0 0 8px rgba($black, .67);
$pricing-breakpoint: 55rem;
$pricing-breakpoint-hero: 40rem;


/* * * *
 * Manage Subscriptions page
 *
 * * * */
$subscription-modal-title-color: $brand-positive;
$subscription-modal-title-size: $text-display;

$subscription-notice-background: $white;
$subscription-notice-border: 1px solid $neutral-1;
$subscription-notice-border-left: 4px solid $brand-positive;

$subscription-notice-heading-size: $text-base;
$subscription-notice-heading-weight: $font-weight-bold;


/* * * *
 * Upgrade banner
 *
 * * * */
$upgrade-banner-background: $brand-lavender;
$upgrade-banner-font-color: $black;


/* * * *
 * Badges
 *
 * * * */
$badge-font-color: $black;
$badge-font-size: $text-tiny;
$badge-font-color-primary: $white;
$badge-padding-vertical: 0;
$badge-padding-horizontal: $space-medium;
$badge-border-radius: $space-small;


/* * * *
 * Panels
 * - City profile
 * * * */
$panel-label-font-size: $text-base;
$panel-label-color: $neutral-4;
$panel-toggle-color-hover: $brand-black;
$panel-toggle-background-hover: $brand-teal-v-light;


/* * * *
 * Tabs
 *
 * * * */
$tab-header-background: darken($gray, 10%);
$tab-border: 2px solid $tab-header-background;
$tab-background: $gray;
$tab-color: $neutral-4;
$tab-color-hover: $black;
$tab-color-active: $black;
$tab-background-active: $white;


/* * * *
 * Review plan page
 *
 * * * */
$review-page-review-section-title-color: $neutral-4;
$review-page-review-section-title-size: $text-small;
$review-page-review-section-title-weight: $font-weight-bold;
$review-page-review-item-background-dark: darken($gray, 4%);
$review-page-review-item-background-light: lighten($gray, 2%);


/* * * *
 * Maps
 *
 * * * */
$map-sidebar-width: 35rem;
$swatch-width: 2rem;
$swatch-border-radius: $border-radius;
$swatch-border: 1px solid $white;
$swatch-box-shadow: 0 0 0 1px rgba($neutral-2, 20%);
