<div class="chart-body">
    <div class="chart-message" *ngIf="!(chartData && chartData.length)">
        <div class="loading-wrapper" *ngIf="!error">
          <div class="loading loading-spinner loading-large"></div>
        </div>
        <div *ngIf="!!error">
            <div *ngIf="requestErrorCount > 0 && requestErrorCount <= 2">
                <p>Oops – loading the indicator data failed.</p>
                <button class="button button-primary retry-button" (click)="retryDataLoad()">Retry</button>
            </div>
            <div *ngIf="requestErrorCount > 2">
                Sorry – we seem to be having a problem. Please try again later or
                <a href="mailto:{{ supportEmail }}">email us</a>.
            </div>
        </div>
    </div>
    <div class="chart-graphic" *ngIf="chartData && chartData.length">
        <div class="line-graph">
            <app-line-graph
                [data]="chartData"
                [indicator]="indicator"
                [hover]="isHover"
                [unit]="unit">
            </app-line-graph>
        </div>

        <div *ngIf="maskSlider" class="row align-center">
          <a class="button button-small" (click)="expandYearRange()">See more dates</a>
        </div>
        <div *ngIf="!maskSlider" class="chart-options slider">
            <div class="chart-options-body">
                <nouislider class="chart-options-group"
                            [config]="sliderConfig"
                            [ngModel]="dateRange"
                            (change)="sliceChartData($event)">
                </nouislider>
            </div>
        </div>

        <div class="chart-legend">
            <div class="chart-legend-icons">
                <span><span class="chart-legend-line"></span> {{ unit }}</span>
                <span><span class="chart-legend-minmax"></span> Range between min/max of selected models</span>
            </div>
            <div class="chart-legend-description">
                {{ indicator.description }}
            </div>
        </div>

        <div class="chart-legend chart-legend-datasets">
            <span *ngIf="dataset.name === 'NEX-GDDP'">Derived from the NASA Earth Exchange Global Daily Downscaled Projections (NEX-GDDP) dataset. Data available at <a target="_blank" href="https://nex.nasa.gov/nex/projects/1356/">https://nex.nasa.gov/nex/projects/1356/<i class="icon-link-ext-alt"></i></a>.</span>
            <span *ngIf="dataset.name === 'LOCA'">Downscaled from CMIP5, using the Localized Constructed Analogs (LOCA) statistical technique. Data available at <a target="_blank" href="http://loca.ucsd.edu">loca.ucsd.edu<i class="icon-link-ext-alt"></i></a>.</span>
        </div>

        <div class="chart-options buttons">
            <div class="chart-options-body">
                <div class="chart-options-group btn-group">
                    <button class="button" type="button"
                        id="exportDropUp" (click)="onDownloadImageClicked()">
                        <i class="icon icon-download"></i>
                        Download
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
