<div class="user-dropdown" dropdown placement="bottom right">
  <button dropdownToggle type="button" *ngIf="primaryOrganization"
    class="button button-profile button-inverse-light dropdown-toggle">
    {{ primaryOrganization.name }} <i class="icon-chevron icon-chevron-down"></i>
  </button>
  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
    <li role="menuitem"
        *ngFor="let org of organizations"
        [ngClass]="{active: org === primaryOrganization.name }">
      <a class="dropdown-item" (click)="setOrganization(org)">
        <span [ngClass]="{'dropdown-label': org}">{{ org }}</span>
      </a>
    </li>
    <li role="separator" class="divider"></li>
    <li role="menuitem">
      <a class="dropdown-item" (click)="setOrganization('')">
        <span [ngClass]="{'dropdown-label': 'Create new organization'}">Create new organization</span>
      </a>
    </li>
  </ul>
</div>
