.navbar {
  @extend %clearfix;
  position: relative;
  padding-top: 2.5rem;

  .container {
    display: flex;

    @include respond-to('xxs') {
      flex-direction: column;
      text-align: center;
    }
  }

  nav {
    display: inline-block;
    vertical-align: middle;

    a {
      color: $shade-light;
      padding: 1.5rem 1.5rem;

      &:hover {
        color: darken($shade-light, 5%);
      }
    }
  }
}

.navbar {
  margin-bottom: 70px;
  margin-top: 0;
  nav a {
    font-weight: 600;
  }
  @include respond-to(xxs) {
    margin-bottom: -10px;
    nav a {
      margin-top: 30px;
      border: 2px solid #6F6F76;
      padding: 8px !important;
      border-radius: 2px;
      color: #6F6F76;
    }
  }
}

.navbar.navbar-secondary {
  background: $shade-normal;
  padding: 1rem;

  nav a:hover {
    color: #fff;
  }
}

.navbar-left {
  flex: 1;
}

.navbar-right {

  @include respond-to('sm-down') {
    justify-content: flex-end;
  }
}

.brand {
  display: inline-block;
  vertical-align: middle;

  > img {
    max-width: 10.8rem;
    position: relative;
    top: 1.3rem;
  }
}

.navbar-vertical-divider {
  display: inline-block;
  width: 1px;
  height: 48px;
  background-color: $shade-dark;
  vertical-align: middle;

  @include respond-to('xxs') {
    display: none;
  }
}
