<div class="card card-full action-card-unassessed">
  <header class="card-header">
    <h3 class="card-title">
      <span class="action-priority">
        <va-adaptive-need-box 
          [adaptiveCapacity]="risk.adaptive_capacity"
          [popoverPlacement]="'right'"
          [potentialImpact]="risk.impact_magnitude">
        </va-adaptive-need-box>
      </span>
      {{ showFullTitle ? risk.title() : risk.community_system.name }}
    </h3>

    <span class="take-action-container"
          tooltip="You need to assess this risk first"
          placement="top"
          container="body"
          *ngIf="!risk.isAssessed()">
    <button class="take-action button button-positive button-small disabled" disabled>Take action</button>
    </span>

    <button class="take-action button button-positive button-small"
            (click)="openModal(actionPicker)"
            *ngIf="risk.isAssessed()">Take action</button> 
  </header>
</div>

<!-- action prompt template -->
<ng-template #actionPicker>
  <app-action-picker [risk]="risk" (closed)="modalRef.hide()"></app-action-picker>
</ng-template>
