.action-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.action-card {
  height: 200px;
  width: 310px;
  margin: 5px;
  background-color: $gray-1;
  border: #bdc0ea 1px solid;
  border-radius: 4px;
  text-align: center;
}

.action-card-content {
  margin-top: 20%;
}

.take-action {
  background-color: #48e166;
  color: white;
}
