wizard {
  .wizard-step {
    padding: 3rem;

    .step-header {
      margin: 2rem 0;

    }

    .step-content {
      margin-bottom: 4rem;

      .step-form-control {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
      }

      label {
        display: block;
      }

      textarea {
        width: 100%;
      }
    }

    .step-footer {
      float: right;
    }
  }

  .icon-related-indicators {
    float: right;
  }
}
