app-collapsible-chart {
  width: 100%;

  .chart-controls {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: $space-small 0;
  }

  .chart-controls > .chart-toggle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: $space-medium;
    }

    span {
      margin-bottom: 0.25rem;
      font-weight: $chart-toggle-label-weight;
    }

    button {
      padding-right: $space-large;
      padding-left: $space-large;

      &:focus {
        box-shadow: none;
        @include button-focus-outline();
      }
    }
  }

  .optional-parameters-label {
    font-weight: $font-weight-bold;
  }

  .chart-legend {
    font-size: $chart-legend-text-size;
    padding: 0 0 $space-medium 0;

    &.chart-legend-datasets {
      font-size: $chart-legend-datasets-text-size;
      border-top: $chart-legend-datasets-border-top;
      padding-top: $space-medium;
      padding-bottom: $space-xlarge;
    }
  }

  .chart {
    width: 100%;
  }
}

// Extra parameters
app-indicator-chart {
  display: flex;

  .form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;

    .form-control {
      margin-bottom: 0;
    }

    > * {
      flex: 0 1 auto;
      width: auto;
      margin: 0 $space-base 0 0;
    }
  }

  .dropdown {
    i.caret {
      padding-left: 0.5rem;
    }
  }

  input[type="number"] {
    width: 5rem;
    margin-right: $space-small;
    margin-left: $space-small;
  }

  select {
    font-variant: tabular-nums;
  }
}
