.wizard-header {
  p {
    font-size: $text-medium;
  }

  h2 {
    margin-left: 1rem;
    font-size: $text-large;
  }
}

wizard {
  .wizard-step {
    padding: 3rem;

    .step-header {
      margin: 2rem 0;

    }

    .step-content {
      margin-bottom: 4rem;

      .step-form-control {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
      }

      label {
        display: block;
      }

      textarea {
        width: 100%;
      }

      .review-step {
        margin-bottom: 4rem;

        .review-item {
          background-color: $gray-1;
          padding: 2rem;
          margin-bottom: 0.5rem;

          &.warning {
            background-color: $brand-warning;
          }

          &.success {
            background-color: $brand-success;
          }

          h4 > .button {
            float: right;
          }
        }
      }
    }

    .step-footer {
      float: right;
    }
  }

  .icon-related-indicators {
    float: right;
  }

  &.custom-steps > wizard-navigation-bar {
    .step-number {
      position: absolute;
      top: 0;
      left: -50px;
      width: 50px;
      height: 50px;
      content: '';
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      transition: 0.25s;
      border-radius: 100%;
      background-color: #E6E6E6;
      color: black;

      &.complete {
        border-color: #49A078;
        color: white;
        background-color: #49A078;
      }
    }

    li.current, li.editing, li.done:last-child {
      .step-number {
        border-color: #6184D8;
        color: white;
        background-color: #6184D8;
      }
    }

    ul.steps-indicator li:after {
      display: none;
    }
  }
}

typeahead-container {
  ul.dropdown-menu {
    width: fit-content;
  }
}
