app-collapsible-chart {
  width: 100%;

  .card-block {
    .chart-controls {
      display: flex;
      flex-direction: row;
      align-items: center;

      & > .chart-toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
