app-indicator-chart {
  width: 100%;

  .chart-controls {
    display: flex;
    align-items: flex-start;
    padding: $space-xlarge $space-base; 
  }
  .chart-controls > .chart-toggle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: $space-xlarge;

    span {
      font-size: $text-tiny;
      margin-bottom: $space-small;
    }
  }
}
