wizard {
  .wizard-step {
    padding: 3rem;

    .step-header {
      margin: 2rem 0;

    }

    .step-content {
      margin-bottom: 4rem;

      .step-form-control {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
      }

      label {
        display: block;
      }

      textarea {
        width: 100%;
      }

      .review-step {
        margin-bottom: 4rem;

        .review-item {
          background-color: $gray-1;
          padding: 2rem;
          margin-bottom: 0.5rem;

          &.warning {
            background-color: $brand-warning;
          }

          &.success {
            background-color: $brand-success;
          }

          h4 > .button {
            float: right;
          }
        }
      }
    }

    .step-footer {
      float: right;
    }
  }

  .icon-related-indicators {
    float: right;
  }
}

typeahead-container {
  ul.dropdown-menu {
    width: fit-content;
  }
}
