app-back-button {
  display: block;
  margin: 0 0 $space-xxlarge -5rem;
  
  .button-app-back {
    appearance: none;
    background-color: transparent;
    border-radius: $button-border-radius;
    box-shadow: none;
    border: none;
    color: $neutral-4;
    cursor: pointer;
    font-family: $button-font-family;
    font-weight: $font-weight-bold;
    font-size: $text-small;
    overflow: visible;
    padding: $button-padding-vertical $button-padding-horizontal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

    .icon {
      transition: margin-left $speed-very-fast;
    }

    &:focus, &.focus {
      .icon {
        margin-left: -$space-small;
      }
      outline: 0;
      @include button-focus-outline();
    }

    &:hover, &.hover {
      .icon {
        margin-left: -$space-small;
      }
    }

    &:active, &.active {
      background-color: $neutral-0;
      box-shadow: none;
    }

    &:disabled, &.disabled {
      opacity: .5;
      cursor: not-allowed;
    }
  }
}