@mixin button-fill-states($background-color,$text-color) {
  &:hover, &.hover,
  &:active, &.active, {
    color: $text-color;
    background-color: darken($background-color, 5%);
  }

  &:active, &.active {
    background-color: darken($background-color, 10%);
    box-shadow: 0 0 0 0 darken($background-color, 10%);
  }

  &:focus, &.focus {
    outline: 0;
    color: $text-color;
    box-shadow: 0px 0px 0px 5px darken($background-color, 10%) inset;
    background-color: $background-color;
    @include button-focus-outline();
  }

  // Note: <buttons> and <a> handle active+focus differently. This will normalize behaviour.
  &:focus:active {
    box-shadow: inset 0 0 0 0 transparent;
  }

  &:disabled, &.disabled {
    opacity: .5;
  }
}

@mixin button-outline-states($background-color) {
  &:hover, &.hover,
  &:active, &.active, {
    border-color: darken($background-color, 5%);
  }

  &:active, &.active {
    border-color: darken($background-color, 10%);
  }

  &:focus, &.focus {
    color: $white;
    outline: 0;
    box-shadow: 0px 0px 0px 5px darken($background-color, 10%) inset;
    background-color: $background-color;
    @include button-focus-outline();
  }

  // Note: <buttons> and <a> handle active+focus differently. This will normalize behaviour.
  &:focus:active {
    box-shadow: inset 0 0 0 0 transparent;
  }

  &:disabled, &.disabled {
    opacity: .5;
  }
}

.button {
  font-family: $button-font-family;
  font-weight: $font-weight-bold;
  display: inline-block;
  -webkit-appearance: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  font-size: $text-small;
  line-height: 1.5;
  padding: $button-padding-vertical $button-padding-horizontal;
  border-radius: $button-border-radius;
  background-color: #fff;
  color: $neutral-4;
  box-shadow: none;
  border: none;

  &:hover, &.hover,
  &:active, &.active, {
    color: $neutral-4;
    background-color: lighten( $neutral-1, 10% );
  }

  &:active, &.active {
    box-shadow: inset 0 1px 2px -1px rgba(black, .1);
  }

  &:focus, &.focus {
    color: $neutral-5;
    background-color: lighten( $neutral-1, 10% );
    outline: 0;
  }

  // Note: <buttons> and <a> handle active+focus differently. This will normalize behaviour.
  &:focus:active {
    box-shadow: inset 0 1px 2px -1px rgba(black, .1);
  }

  &:disabled, &.disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}

.button-primary {
  color: $white;
  background-color: $brand-primary;
  border: 3px solid darken($brand-primary, 5%);

  @include button-fill-states($brand-primary, $white);
}

.button-secondary {
  color: $brand-secondary;
  background-color: transparent;
  border: 3px solid $brand-secondary;

  @include button-outline-states($brand-secondary);
}

.button-positive {
  color: $white;
  background-color: $brand-positive;
  border: 3px solid darken($brand-positive, 5%);

  @include button-fill-states($brand-positive, $white);
}

.button-danger {
  color: #fff;
  background-color: $brand-danger;
  border: 3px solid darken($brand-danger, 5%);

  @include button-fill-states($brand-danger, $white);
}

.button-warning {
  color: #fff;
  background-color: $brand-warning;
  border: 3px solid darken($brand-warning, 5%);

  @include button-fill-states($brand-warning, $white);
}

.button-inverted {
  color: $brand-primary;
  background-color: $neutral-0;
  border: 3px solid darken($brand-primary, 5%);

  @include button-fill-states($neutral-0, $brand-primary);
}

.button-secondary-inverted {
  color: $neutral-0;
  background-color: transparent;
  border: 3px solid $neutral-0;

  @include button-outline-states($neutral-0);
}

.button-link {
  background-color: transparent;
  border: none;

  &:hover, &.hover,
  &:active, &.active,
  &:focus, &.focus,
  &:focus:active {
    box-shadow: none;
    color: darken($brand-primary, 10%);
    background-color: transparent;
  }
}

.button-large {
  font-size: $text-base;
  padding: $button-padding-vertical-large $button-padding-horizontal-large;
  border-radius: $button-border-radius-large;
}

.button-small {
  padding: $button-padding-vertical-small $button-padding-horizontal-small;
  border-width: 2px;
}

.button-group {
  display: flex;
  align-items: center;

  > button {
    margin: 0;
  }
}

.button-icon-left {
  i {
    margin-right: 0.75rem;
  }
}

.button-icon-right {
  i {
    margin-left: 0.75rem;
  }
}
