.chart {
  height: 100%;
}

.chart-controls {
  min-width: 500px;

  .chart-toggle {
    flex-wrap: wrap;
  }
}

.chart-graphic {
  height: 100%;
  width: 100%;
}

ccc-line-graph {
  position: relative;
  display: block;
  box-shadow: 2px 2px 10px rgba(0,0,0,.05);
  height: 0;
}

.card-block {
  margin: 0 2rem;
}

app-chart .chart-legend {
  .chart-legend-line {
    background: $chart-line;
    display: inline-block;
    width: 12px;
    height: 3px;
    margin-right: $space-tiny;
    margin-bottom: 2px;
  }

  .chart-legend-minmax {
    background: rgba($chart-line, 0.4);
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 1.65rem;
    opacity: 1;
    outline: $chart-minmax-outline;
  }
}

app-chart .chart-options.slider {
  padding: 0rem 4.5rem 3rem 6rem;
}