.site-footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  background-color: $neutral-1;

  .footer-nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: $space-xlarge $space-large;

    @media all and (max-width: 59.250rem) {
      padding-top: $space-xlarge;
      flex-flow: column nowrap;
    }

    .logo {
      flex: none;
      padding: 0;
      line-height: 0;
      border: 0;
      overflow: hidden;
      text-decoration: none;

      @media (max-width: 47.5rem) {
        margin-bottom: 1.6rem;
      }

      > img {
        width: 24rem;
        height: 4.8rem;
      }
    }

    .nav-buttons {
      display: flex;
      flex-flow: column nowrap;
      white-space: nowrap;

      > * {
        margin: 0 1.6rem;
      }

      @media all and (min-width: 23.875rem) {
        flex-flow: row wrap;
        justify-content: center;
      }

      @media all and (min-width: 59.250rem) {
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  .fine-print {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: $space-large $space-xlarge 5rem $space-xlarge;
    background-color: $neutral-2;
    color: $neutral-5;
    text-align: center;

    @media all and (min-width: 60.938rem) {
      padding: $space-large $space-xlarge;
    }

    p {
      margin: $space-tiny auto;

      a {
        border-bottom-width: 0;

        &:hover {
          border-bottom-width: 1px;
        }
      }

      &.grant {
        font-size: $text-tiny;
      }
    }
  }
}
