.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label, .label {
  margin-bottom: 0.25rem;
  font-weight: $font-weight-bold;

  > .required {
    color: $neutral-3;
    font-size: $text-tiny;
    font-style: italic;
    text-align: right;
    text-transform: uppercase;
  }
}

.form-control, textarea {
  display: block;
  margin: $space-base 0 $space-large;
  width: 100%;
  max-width: 60rem;
  position: relative;
  padding: $button-padding-vertical;
  color: inherit;
  font-size: inherit;
  font-weight: $font-weight-regular;
  border: 1px solid $neutral-1;
  border-radius: $field-border-radius;

  &:focus {
    @include button-focus-outline();
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
    resize: none;

    app-editable-input & {
      border-color: $neutral-2;
      background-color: transparent;
      opacity: 1;
      cursor: default;
    }
  }
}

input.ng-invalid {
  &:not(.ng-pristine) {
    box-shadow: 0 0 0 2px rgba($brand-danger, 0.8);
  }
}

select {
  box-shadow: none;
  position: relative;
}

textarea {
  resize: vertical;
}

.input-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: $space-base 0 $space-large;

  > .form-control {
    margin: 0;
  }

  .button {
    margin-left: $space-medium;
    z-index: 1;
  }
}

typeahead-container {
  ul.dropdown-menu {
    width: fit-content;
  }
}

.form-help-button {
  flex: 0 1 auto;
  align-self: flex-end;
}
