label, .label {
  margin-bottom: 0.25rem;
  font-weight: $label-weight;
  display: flex;
}

.required, .optional {
  font-size: $required-size;
  margin: 0 0 $space-tiny $space-small;
  line-height: 1.35;
  text-transform: uppercase;
  align-self: flex-end;
}

.required {
  color: $required-color;
}

.optional {
  color: $optional-color;
  font-weight: $font-weight-regular;
}

.form-control-container {
  margin-bottom: 2rem;
  max-width: 60rem;
  position: relative;
}

.form-control, textarea {
  display: block;
  margin: $space-base 0 $space-large;
  width: 100%;
  max-width: 60rem;
  position: relative;
  padding: $button-padding-vertical;
  color: inherit;
  font-size: inherit;
  font-weight: $field-text-weight;
  border: $field-border;
  border-radius: $field-border-radius;

  &:focus {
    @include button-focus-outline();
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
    resize: none;

    app-editable-input & {
      border-color: $field-disabled-border-color;
      background-color: transparent;
      opacity: 1;
      cursor: default;
    }
  }
}

input.ng-invalid {
  &:not(.ng-pristine) {
    box-shadow: $field-error-border;
  }
}

select {
  box-shadow: none;
  position: relative;
}

textarea {
  resize: vertical;
}

.input-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: $space-base 0 $space-large;

  > .form-control {
    margin: 0;
  }

  .button {
    margin-left: $space-medium;
    z-index: 1;
  }
}

typeahead-container {
  ul.dropdown-menu {
    width: fit-content;
  }
}

.form-control-error, .form-control-hint {
  font-size: $hint-size;
  line-height: 1.35;
}

.form-control-error {
  color: $error-color;
}