.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label, .label {
  margin-bottom: 0.25rem;
  font-weight: $font-weight-bold;

  > .required {
    color: $neutral-3;
    font-size: $text-tiny;
    font-style: italic;
    text-align: right;
    text-transform: uppercase;
  }
}

.form-control, textarea {
  display: block;
  margin: $space-base 0 $space-large;
  width: 100%;
  max-width: 60rem;
  position: relative;
  padding: $button-padding-vertical $space-base;
  color: inherit;
  font-size: inherit;
  font-weight: $font-weight-regular;
  border: 1px solid $neutral-1;
  border-radius: $field-border-radius;
}

.required {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &:after {
    content: "(required)";
    font-size: $text-tiny;
    position: absolute;
    top: 0; right: 0;
    color: $brand-danger;
  }
}

input.ng-invalid {
  &:not(.ng-pristine) {
    outline: 2px solid $brand-danger;
  }
}

select {
  box-shadow: none;
  position: relative;
}

textarea {
  resize: vertical;
}

.inline-buttons {
  position: relative;

  > .buttons {
    position: absolute;
    right: 10px;
    top: 2px;
    padding: 1px;

    > .button {
      line-height: 20px;
      padding: 1px 5px;
      font-size: 14px;
    }
  }
}

.input-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin: $space-base 0 $space-large;

  > .form-control {
    margin: 0;
  }

  > .button {
    z-index: 1;
  }
}
