// Autocomplete/freeform text used in vulnerability assessment and action steps
app-freeform-multiselect, .freeform-multiselect {
  .selected-option {
    display: inline-block;
    background-color: $brand-primary;
    border-radius: 15px;
    color: $white;
    padding: 0 12px;
    margin: 10px 5px 5px 0;

    &:last-child {
      margin-right: 0;
    }
    > .close {
      margin-left: 10px;
      color: $white;
      opacity: 1;
    }
  }
}
