// Autocomplete/freeform text used in vulnerability assessment and action steps
app-freeform-multiselect, .multiselect {
  .selected-option {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: $brand-teal-light;
    color: $neutral-5;
    border-radius: 30px;
    padding: 4px 6px 6px 12px;

    &:not(:last-child) {
      margin-right: $space-medium;
    }
    &.error {
      background-color: $brand-danger;
      color: $white;

      > .button {
        opacity: .4;
      }
    }

    > .button {
      margin-left: $space-base;
      color: inherit;
      opacity: .2;

      &:hover {
        opacity: .7;
      }
    }
  }
}
