// Modal, Bootstrap
.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  background-color: $neutral-5;

  &.in {
    opacity: $modal-overlay-opacity;
  }
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  max-height: calc(100% - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 0;
  right: inherit;
  bottom: inherit;
  z-index: ($zindex-modal + 1);
  box-shadow: $modal-shadow;
}

.modal-dialog {
  position: relative;
  width: $modal-width;
  max-width: $modal-width-max;
  margin: auto;

  &.modal-lg {
    width: $modal-width-large;
  }

  &.modal-sm {
    width: $modal-width-small;
  }

  @include respond-to(xxs) {
    margin: $space-medium;
  }
}

.modal-content {
  position: relative;
  background-color: $white;
  border-radius: $modal-border-radius;
  border: 1px solid $neutral-1;
  box-shadow: none;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $modal-heading-padding-top $modal-header-padding $modal-header-padding;
  border-bottom: none;
  background-color: $neutral-1;
}

.modal-title {
  flex: auto;
  margin: 0;
  font-size: $text-medium;
  font-weight: $font-weight-bold;
}

.modal-close {
  flex: none;
  margin-left: $space-xxlarge;
}

.modal-body {
  position: relative;
  padding: $modal-body-padding $modal-body-padding $space-medium;
}

.modal-footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: $modal-footer-padding 0;

  .button:not(:first-child) {
    margin-left: $space-xlarge;
  }

  .button-primary {
    min-width: $modal-footer-primary-button-min-width;
  }

  .secondary-links {
    margin-left: $space-xxlarge;

    a {
      margin-left: $space-xxlarge;
    }
  }
}

// Ensure the app-modal-template element never takes up space in the DOM
// Since the app-modal-template uses container: body, this shouldn't
//  ever affect modal content
app-modal-template {
  display: none;
}
