.primary-nav-container {
  border-right: 2px solid $neutral-0;
  padding: 1rem 0.25rem;
}
.primary-nav {
  margin: 0;
  padding: 0;
}
.primary-nav > .list-item {
  list-style-type: none;
  padding: 0.25rem 2rem;

  .link {
    font-size: $text-base;
    color: $neutral-5;
    margin: 0;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: $button-border-radius;
    position: relative;
    display: block;

    &.current:before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      position: absolute;
      left: 0.5rem;
      top: 50%;
      margin-top: -3px; // Helping to vertically center the dot
      background-color: $brand-primary;
      border-radius: 3px;
    }

    &:hover, &.hover,
    &:active, &.active, {
      background-color: $neutral-0;
    }

    &:active, &.active {
      color: darken( $brand-primary, 2% );
    }

    &:focus, &.focus {
    outline: 0;
    border-radius: $button-border-radius;
    background-color: $neutral-0;
    }

    // Note: <buttons> and <a> handle active+focus differently. This will normalize behaviour.
    &:focus:active {
      color: darken( $brand-primary, 2% );
      background-color: $neutral-0;
    }
  }
}
