app-password-validator-popover {
  .popover-title {
    font-size: $text-base;
    margin-bottom: $space-medium;
  }

  .validator-list {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
  }

  .validator-list-item {
    .icon {
      font-size: $text-base;
      color: $neutral-1;
    }

    .valid {
      color: $brand-positive;
    }
  }
}
