// Progress bars, Bootstrap

@mixin progress-bar-variant($color) {
  background-color: $color;

  // Deprecated parent class requirement as of v3.2.0
  .progress-striped & {
    @include gradient-striped;
  }
}

//
// Progress bars
// --------------------------------------------------



// Bar itself
// -------------------------

// Outer container
.progress {
  overflow: hidden;
  height: $progress-bar-height;
  // margin-bottom: $line-height-computed;
  background-color: $progress-bar-background;
  border-radius: $progress-border-radius;
}

// Bar of progress
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: $progress-bar-font-size;
  line-height: $progress-bar-line-height;
  color: $progress-bar-color;
  text-align: center;
  background-color: $progress-bar-highlight-background-default;
  @include transition(width .6s ease);
}


// Variations
// -------------------------

.progress-bar-action {
  .progress-bar {
    @include progress-bar-variant($progress-bar-highlight-background-action);
  }
}
