.table {
  border-radius: $border-radius;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px $table-border-color;
  color: $table-color;
  line-height: 1.35;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
  min-width: $table-min-width;

  thead {
    tr {
      border-bottom: 2px solid $table-border-color;
    }

    th, td {
      background-color: $table-header-background;
      font-weight: $table-header-weight;
      padding: $space-medium 0; 
      text-align: left;
    }

    th:first-child {
      padding-left: $space-medium;
    }

    th:first-child,
    td:first-child {
      border-top-left-radius: $border-radius;
    }

    tr:first-child th:last-child,
    tr:first-child td:first-child {
      border-top-right-radius: $border-radius;
    }
  }

  tbody {
    tr {
      padding: $space-medium 0; 
      border-bottom: 2px solid $table-border-color;
    }

    th, td {
      background: $table-row-background;
      font-weight: $table-row-weight;
      padding: $space-medium $space-large $space-medium 0;
      vertical-align: center;
      text-align: left;
    }

    td:first-child {
      padding-left: $space-large;
    }

    tr:last-child th:first-child,
    tr:last-child td:first-child {
      border-bottom-left-radius: $border-radius;
    }

    tr:last-child th:last-child,
    tr:last-child td:last-child {
      border-bottom-right-radius: $border-radius;
    }

    tr:hover {
      background-color: $neutral-1;
    }
  }
}

.table-responsive {
  overflow: auto;
  white-space: nowrap;
}

.table-mobile-stacked {
  @include respond-to(xs) {

    thead {
      display: none;
    }

    tr {
      border-bottom: 1px solid $table-border-color;
    }

    tbody [data-th] {
      display: block;
      text-align: right;
      border: none;
      padding: 1rem;

      &:before {
        content: attr(data-th);
        font-weight: $font-weight-bold;
        display: inline-block;
        margin-right: 1rem;
        float: left;
      }
    }
  }
}

table {
  .hidden-header {
    color: transparent;
    font-size: 1px;
    pointer-events: none;
  }
}