.top-concerns {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
}

.concern {
  position: relative;
  flex: none;
  width: 24%;
  min-width: 18rem;
  min-height: 17.8rem;
  margin: 0 1% 1% 0;
  border: $concern-border;
  border-radius: $border-radius;
  padding: 11rem $space-medium $space-xlarge;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center $space-xlarge;
  background-size: 8.4rem;
  outline: $concern-outline;
  outline-offset: -($concern-outline-width + 1px);

  &::before {
    display: none;
    content: '';
  }

  .concern-actions {
    position: absolute;
    top: $space-base;
    right: $space-base;

    .icon-lock {
      color: $concern-readonly-icon-color;
      font-size: $text-base;
      pointer-events: none;
    }

    .button {
      opacity: 0;
      transition: opacity .25s;
    }
  }

  .concern-data {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;

    .concern-name {
      color: $concern-title-color;
      font-size: $concern-title-size;
      line-height: $concern-title-line-height;
      text-align: center;
      width: 100%;
    }

    .concern-stats {
      margin-top: $space-tiny;
      color: $concern-stats-color;
      font-size: $concern-stats-size;
      line-height: $concern-stats-line-height;
      text-align: center;
      width: 100%;
    }
  }

  &:hover:not(.pre-selected) {
    border: $concern-border-hover;
    box-shadow: 0 0 20px rgba($neutral-4, 0.5);
    outline: $concern-outline-hover;

    .concern-actions .button {
      opacity: 1;
    }

    .concern-name {
      color: $concern-title-color-hover;
    }
  }

  @media screen and (max-width: 80rem) {
    width: 32%;
  }

  @media screen and (max-width: 64rem) {
    width: 49%;
  }

  @media screen and (max-width: 38rem) {
    @include compact-concern();
    width: 100%;
    margin-right: 0;
    padding-left: 8rem;
    background-position: 2rem center;
  }
}

.top-concerns.empty-state {
  text-align: center;
  background: $empty-state-background;
  flex-direction: column;
  padding: $space-xlarge $space-xxlarge $space-xxlarge;

  .empty-state-header {
    font-size: $empty-state-header-size;
    color: $empty-state-header-color;
    margin-bottom: 0.5rem;
  }

  .empty-state-text {
    font-style: $empty-state-text-style;
    max-width: $empty-state-text-max-width;
    margin: 0 auto;
  }
}

///////////////////////
// Top concern images
///////////////////////

.concern {
  ///////////////////////
  // Hazards
  ///////////////////////
  &.icon-air-borne-disease {
    background-image: url(../images/hazards/air-borne-disease.svg);
  }
  &.icon-atmospheric-co2-concentrations {
    background-image: url(../images/hazards/atmospheric-co2-concentrations.svg);
  }
  &.icon-avalanche {
    background-image: url(../images/hazards/avalanche.svg);
  }
  &.icon-changed-seasonal-patterns {
    background-image: url(../images/hazards/changed-seasonal-patterns.svg);
  }
  &.icon-changed-seasonal-patterns {
    background-image: url(../images/hazards/changed-seasonal-patterns.svg);
  }
  &.icon-coastal-flood {
    background-image: url(../images/hazards/coastal-flood.svg);
  }
  &.icon-cold-wave {
    background-image: url(../images/hazards/cold-wave.svg);
  }
  &.icon-drought {
    background-image: url(../images/hazards/drought.svg);
  }
  &.icon-extratropical-storm {
    background-image: url(../images/hazards/extratropical-storm.svg);
  }
  &.icon-extreme-cold-days {
    background-image: url(../images/hazards/extreme-cold-days.svg);
  }
  &.icon-extreme-hot-days {
    background-image: url(../images/hazards/extreme-hot-days.svg);
  }
  &.icon-extreme-winter-conditions {
    background-image: url(../images/hazards/extreme-winter-conditions.svg);
  }
  &.icon-flash-flood {
    background-image: url(../images/hazards/flash-and-surface-flood.svg);
  }
  &.icon-fog {
    background-image: url(../images/hazards/fog.svg);
  }
  &.icon-forest-fire {
    background-image: url(../images/hazards/forest-fire.svg);
  }
  &.icon-groundwater-flood {
    background-image: url(../images/hazards/groundwater-flood.svg);
  }
  &.icon-hail {
    background-image: url(../images/hazards/hail.svg);
  }
  &.icon-heat-wave {
    background-image: url(../images/hazards/heat-wave.svg);
  }
  &.icon-heavy-snow {
    background-image: url(../images/hazards/heavy-snow.svg);
  }
  &.icon-hurricane {
    background-image: url(../images/hazards/hurricane.svg);
  }
  &.icon-insect-infestation {
    background-image: url(../images/hazards/insect-infestation.svg);
  }
  &.icon-landslide {
    background-image: url(../images/hazards/landslide.svg);
  }
  &.icon-lightning-thunderstorm {
    background-image: url(../images/hazards/lightning-and-thunderstorms.svg);
  }
  &.icon-monsoon {
    background-image: url(../images/hazards/monsoon.svg);
  }
  &.icon-ocean-acidification {
    background-image: url(../images/hazards/ocean-acidification.svg);
  }
  &.icon-permanent-inundation {
    background-image: url(../images/hazards/permanent-inundation.svg);
  }
  &.icon-rain-storm {
    background-image: url(../images/hazards/rain-storm.svg);
  }
  &.icon-reduced-snowpack {
    background-image: url(../images/hazards/reduced-snowpack.svg);
  }
  &.icon-river-flood {
    background-image: url(../images/hazards/river-flood.svg);
  }
  &.icon-rockfall {
    background-image: url(../images/hazards/rockfall.svg);
  }
  &.icon-salt-water-intrusion {
    background-image: url(../images/hazards/salt-water-intrusion.svg);
  }
  &.icon-severe-wind {
    background-image: url(../images/hazards/severe-wind.svg);
  }
  &.icon-storm-surge {
    background-image: url(../images/hazards/storm-surge.svg);
  }
  &.icon-subsidence {
    background-image: url(../images/hazards/subsidence.svg);
  }
  &.icon-tornado {
    background-image: url(../images/hazards/tornado.svg);
  }
  &.icon-tropical-storm {
    background-image: url(../images/hazards/tropical-storm.svg);
  }
  &.icon-vector-borne-disease {
    background-image: url(../images/hazards/vector-borne-disease.svg);
  }
  &.icon-water-borne-disease {
    background-image: url(../images/hazards/water-borne-disease.svg);
  }
  &.icon-wildfires {
    background-image: url(../images/hazards/wildfires.svg);
  }

  ///////////////////////
  // Community systems
  ///////////////////////
  &.icon-agriculture {
    background-image: url(../images/community-system/agriculture.svg);
  }
  &.icon-business-continuity {
    background-image: url(../images/community-system/business-continuity.svg);
  }
  &.icon-community-and-culture {
    background-image: url(../images/community-system/community-and-culture.svg);
  }
  &.icon-ecological-function {
    background-image: url(../images/community-system/ecological-function.svg);
  }
  &.icon-emergency-management {
    background-image: url(../images/community-system/emergency-management.svg);
  }
  &.icon-emergency-services {
    background-image: url(../images/community-system/emergency-services.svg);
  }
  &.icon-emotional-and-mental-health {
    background-image: url(../images/community-system/emotional-and-mental-well-being.svg);
  }
  &.icon-employment-and-job-access {
    background-image: url(../images/community-system/employment-and-job-access.svg);
  }
  &.icon-energy {
    background-image: url(../images/categories/energy.svg);
  }
  &.icon-energy-delivery {
    background-image: url(../images/community-system/energy-delivery.svg);
  }
  &.icon-fisheries {
    background-image: url(../images/community-system/fishery.svg);
  }
  &.icon-forestry {
    background-image: url(../images/community-system/forestry.svg);
  }
  &.icon-food-supply {
    background-image: url(../images/community-system/food-supply.svg);
  }
  &.icon-government-continuity {
    background-image: url(../images/community-system/government-continuity.svg);
  }
  &.icon-housing-access {
    background-image: url(../images/community-system/housing-access.svg);
  }
  &.icon-industrial-operations {
    background-image: url(../images/community-system/industrial-operations.svg);
  }
  &.icon-industrial {
    background-image: url(../images/community-system/industrial.svg);
  }
  &.icon-internet-and-communications {
    background-image: url(../images/community-system/internet-and-communications.svg);
  }
  &.icon-law-and-order {
    background-image: url(../images/community-system/law-and-order.svg);
  }
  &.icon-public-health {
    background-image: url(../images/community-system/public-health.svg);
  }
  &.icon-public-safety {
    background-image: url(../images/community-system/public-safety.svg);
  }
  &.icon-quality-of-life {
    background-image: url(../images/community-system/quality-of-life.svg);
  }
  &.icon-recreation {
    background-image: url(../images/community-system/recreation.svg);
  }
  &.icon-tourism {
    background-image: url(../images/community-system/tourism.svg);
  }
  &.icon-transportation {
    background-image: url(../images/community-system/transportation.svg);
  }
  &.icon-waste-management {
    background-image: url(../images/community-system/waste-management.svg);
  }
  &.icon-wastewater-storm-management {
    background-image: url(../images/community-system/wastewater-and-storm-management.svg);
  }
  &.icon-water-supply {
    background-image: url(../images/community-system/water-supply.svg);
  }
}
