// Typeahead
typeahead-container {
  z-index: $zindex-typeahead;
  
  ul.dropdown-menu {
    width: fit-content;
  }

  .dropdown-menu {
    min-width: 23rem;
    overflow-x: hidden;

    li > a {
      text-overflow: ellipsis;
      overflow-x: hidden;
    }
  }
}
