.va-popover {
  max-width: $adaptive-need-popover-max-width!important;

  .popover-title {
    font-size: $adaptive-need-popover-title-size;
    line-height: $adaptive-need-popover-title-line-height;
  }

  .adaptive-need-table-container {
    flex: 0 0 auto;

    .adaptive-need-table {
      border-spacing: 0px;
      border-collapse: collapse;
    }

    td {
      width: $adaptive-need-table-cell-size;
      height: $adaptive-need-table-cell-size;
    }

    th {
      text-align: center;
    }

    td.selected {
      box-shadow: 0 0 0 2px rgba($white,80%);
      z-index: ($zindex-modal)-1px;
      position: relative;
      
      // IE11
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        outline: 2px solid rgba($white,80%);
      }
    }

    .table-label {
      color: $adaptive-need-table-label-color;
      font-weight: $adaptive-need-table-label-weight;
      font-size: $adaptive-need-table-label-size;
    }
    
    .table-header-vertical {
      max-width: 1rem;
    }

    .table-header-vertical span {
      transform: rotate(270deg) 
                 translateX(-40px);
      white-space: nowrap;
      display: block;
    }

    .arrow-shaft, .arrow-end {
      position: relative;
    }

    .arrow-shaft:after,
    .arrow-end:before,
    .arrow-end:after {
      content: "";
      display: block;
      position: absolute;
      background: $adaptive-need-table-label-arrow-background;
    }

    .table-horizontal-label {
      &.arrow-shaft:after {
        right: -10rem;
        top: 50%;
        width: $adaptive-need-table-label-arrow-shaft-length;
        height: $adaptive-need-table-label-arrow-thickness;
        
        // IE11
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          top: 2rem;
        }
      }
      
      &.arrow-end:before,
      &.arrow-end:after {
        width: $adaptive-need-table-label-arrow-thickness;
        height: $adaptive-need-table-label-arrow-end-length;
        left: -$adaptive-need-table-label-arrow-end-length;
      }

      &.arrow-end:after {
        top: 1rem;
        transform: rotate(-45deg);
        
        // IE11
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          top: 1.2rem;
        }
      }

      &.arrow-end:before {
        bottom: 0.8rem;
        transform: rotate(45deg);
        
        // IE11
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          top: 1.95rem;
        }
      }
    }

    .table-vertical-label {
      padding-left: 1rem;

      &.arrow-shaft:after {
        bottom: -10rem;
        right: 40%;
        width: $adaptive-need-table-label-arrow-thickness;
        height: $adaptive-need-table-label-arrow-shaft-length;
        
        // IE11
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          bottom: -11.5rem;
        }
      }
      
      &.arrow-end:before,
      &.arrow-end:after {
        width: $adaptive-need-table-label-arrow-end-length;
        height: $adaptive-need-table-label-arrow-thickness;
        top: -$adaptive-need-table-label-arrow-end-length;
      }

      &.arrow-end:after {
        right: 0.6rem;
        transform: rotate(-45deg);
      }

      &.arrow-end:before {
        left: 1.15rem;
        transform: rotate(45deg);
      }
    }
  }
}

va-adaptive-need-box {
  border-radius: $border-radius;
  width: $adaptive-need-size;
  height: $adaptive-need-size;
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: $adaptive-need-empty-color;
  text-align: center;
  flex: 0 0 20px;
  vertical-align: top;

  .adaptive-need-box {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0; 
  }
}

.adaptive-need-box-empty {
  display: inline-block;
  width: ($adaptive-need-size)-2px;
  height: ($adaptive-need-size)-2px;
  border: $grouped-risk-priority-empty-border;
  margin-right: $space-small;
}

.adaptive-need-box, 
.adaptive-need-table td {
  &.pi-1.ac-4, &.pi-0.ac-3, &.pi-0.ac-4 {
    background: $adaptive-need-low;
  }

  &.pi-3.ac-4, &.pi-2.ac-4, &.pi-2.ac-3, &.pi-1.ac-3, &.pi-1.ac-2, &.pi-0.ac-2, &.pi-0.ac-1 {
    background: $adaptive-need-mod-low;
  }

  &.pi-4.ac-4, &.pi-3.ac-3, &.pi-2.ac-2, &.pi-1.ac-1, &.pi-0.ac-0 {
    background: $adaptive-need-mod;
  }

  &.pi-4.ac-3, &.pi-4.ac-2, &.pi-3.ac-2, &.pi-3.ac-1, &.pi-2.ac-1, &.pi-2.ac-0, &.pi-1.ac-0 {
    background: $adaptive-need-mod-high;
  }

  &.pi-4.ac-1, &.pi-3.ac-0, &.pi-4.ac-0 {
    background: $adaptive-need-high;
  }
}
