.va-risk-popover-trigger {
  .icon {
    color: $brand-teal;
  }

  &:hover, &:focus {
    .icon {
      color: darken($brand-teal, 10);
    }
  }
}

.va-risk-popover {
  .indicators-list {
    padding-left: $space-xlarge;
  }

  .indicators-list-item:not(:last-child) {
    margin-bottom: $space-small;
  }
}
