.wizard-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;

  wizard {
    flex: 1;
  }

  &.wizard-no-nav {
    flex-wrap: nowrap;
    flex-direction: column;

    .wizard-header,
    .step-header {
      text-align: center;
    }

    .wizard-steps {
      flex: 1 0 auto;
    }

    .form-control-container {
      margin: 0 auto 2rem;
    }
  }
}

.wizard-header {
  margin: $space-xxlarge 0 $space-xlarge;
  flex: 1 0 100%;

  .wizard-title-small {
    color: $wizard-title-small-color;
    font-size: $wizard-title-small-size;
    font-weight: $wizard-title-small-weight;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
  .wizard-title-large {
    color: $wizard-title-large-color;
    font-size: $wizard-title-large-size;
    font-weight: $wizard-title-large-weight;
  }
}

.wizard-step {
  padding: $space-xxlarge;
  background-color: $wizard-background;
  border-radius: $border-radius;
  border: $wizard-step-border;
  box-shadow: 0 0 20px rgba($neutral-5, 0.1);
  flex: 1 auto;
  position: relative;
}

.step-header {
  margin-bottom: $space-xxlarge;

  .step-title {
    font-size: $wizard-step-header-size;
    font-weight: $wizard-step-header-weight;
  }

  p {
    color: $wizard-step-prompt-color;
    font-size: $wizard-step-prompt-size;
    max-width: $paragraph-max-width;
  }
}

.step-content {
  margin-bottom: $space-xxlarge;
}

.review-section {
  margin-bottom: $space-xlarge!important;

  .review-section-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $space-base;
  }

  .review-section-header {
    font-size: $review-header-size;
    font-weight: $review-header-weight;
    margin-bottom: $space-small;
  }
  
  .review-item {
    background-color: $review-item-background;
    padding: $space-medium $space-medium 0 $space-medium;
    position: relative;

    &:last-child {
      padding-bottom: $space-medium;
    }

    .answer-label {
      color: $review-item-label-color;
      font-weight: $review-item-label-weight;
      margin-right: $space-small;
    }

    &.warning {
      &:after {
        content: "recommended";
        font-size: $required-size;
        color: $recommended-color;
        position: absolute;
        top: 50%;
        margin-top: -0.85rem;
        right: $space-xlarge;
        text-transform: uppercase;
      }
    }
  }
}

.review-feedback {
  color: $review-feedback-color;
  padding: $space-xlarge;
  border-radius: $border-radius;
  border: 1px solid $neutral-1;

  .review-feedback-header {
    font-size: $review-feedback-header-size;
    font-weight: $review-feedback-header-weight;
  }

  &.warning {
    background: $review-feedback-background;
  }

  &.success {
    background: $review-feedback-background;
  }

  .feedback-header {
    font-size: $review-feedback-list-size;
    margin-bottom: $space-small;
  }

  .feedback-steps {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    
    li {
      display: flex;
      background: $review-feedback-row-background;
      margin-bottom: $space-small;
      border-radius: $border-radius;
      padding: $space-small $space-medium;

      .icon {
        font-size: $review-feedback-icon-size;
        background: $review-feedback-icon-background;
        padding: $space-medium;
        border-radius: 100%;
        align-self: center;
        margin-right: $space-large;
      }
    }
  }
}

// Styles below use a lot of !important because they need to override
// styles that are being added by the archwizard plugin that we are using.
wizard-navigation-bar {
  flex: 1 0 $wizard-navigation-width;

  .steps-indicator {
    padding: 0!important;

    li {    
      margin: $space-medium 0!important;
      padding-bottom: 0!important;
      align-self: flex-start;
      
      &:hover {
        div {
          a {
            .step-indicator-number {
              box-shadow: $wizard-step-number-ring; 
            }
            .step-indicator-title {
              color: $wizard-step-link-color-hover;
            }
          }
        }
      }

      div {
        a {
          border-bottom: none; // Hide border added by <a> tags
          margin-left: 0!important;
        }
      }

      &:first-child {
        .step-indicator-number:before {
          display: none;
        }
      }

      &:last-child {
        .step-indicator-number:after {
          display: none;
        }
      }
    }

    li:before {
      display: none; // Hide default ng2-archwizard styling
    }

    li:after {
      display: none; // Hide default ng2-archwizard styling
    }
  }

  li {
    &.current, &.editing, &.done:last-child {
      .step-indicator-number {
        background-color: $wizard-step-number-background-current;
        border-color: $wizard-step-number-background-current;
        box-shadow: $wizard-step-number-ring-current; 
        color: $wizard-step-number-color-special;
        @include light-on-dark();
      }
    }
  }

  .step-indicator-number {
    color: $wizard-step-number-color;
    border: $wizard-step-number-border;
    border-radius: 100%;
    display: inline-block;
    font-weight: $wizard-step-number-weight;
    font-size: $wizard-step-number-size;
    font-variant-numeric: tabular-nums;
    line-height: 0;
    padding: $wizard-step-padding;
    position: relative;
    transition: 0.25s;

    &:before, &:after {
      background: $wizard-step-number-divider-color;
      content: "";
      display: block;
      width: $wizard-step-number-divider-width;
      height: $space-xlarge;
      left: 50%;
      position: absolute;
      z-index: -1;
    }

    &:before {
      top: -$space-xlarge;
    }

    &:after {
      bottom: -$space-xlarge;
    }

    &.complete {
      background-color: $wizard-step-number-background-complete;
      border-color: $wizard-step-number-background-complete;
      color: $wizard-step-number-color-special;
      @include light-on-dark();
    }
  }

  .step-indicator-title {
    color: $wizard-step-link-color;
    font-size: $wizard-step-link-size;
    font-weight: $wizard-step-link-weight;
    margin-left: $space-medium;
    text-transform: none;
  }
}

.step-footer {
  display: flex;
  justify-content: space-between;

  .step-footer-navigation {
    margin-left: auto;
  }
}