.wizard-header {
  margin: $space-xxlarge 0 $space-xlarge;

  .wizard-title-small {
    color: $wizard-title-small-color;
    font-size: $wizard-title-small-size;
    font-weight: $wizard-title-small-weight;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
  .wizard-title-large {
    color: $wizard-title-large-color;
    font-size: $wizard-title-large-size;
    font-weight: $wizard-title-large-weight;
  }
}

wizard {
  .wizard-step {
    padding: $space-xxlarge;
    background-color: $wizard-background;
    border-radius: $border-radius;
    border: $wizard-step-border;
    box-shadow: 0px 0px 20px rgba($neutral-5, 0.1);
    position: relative;
  }

  .step-header {
    font-size: $wizard-step-header-size;
    font-weight: $wizard-step-header-weight;
  }
  
  .step-intro {
    max-width: $paragraph-max-width;
    margin-bottom: $space-xxlarge;

    p {
      color: $wizard-step-prompt-color;
      font-size: $wizard-step-prompt-size;
    }
  }

  .step-content {
    margin-bottom: 4rem;

    .step-form-control {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }

    label {
      display: block;
    }

    textarea {
      width: 100%;
    }
  }

  .review-step {
    margin-bottom: 4rem;

    .review-item {
      background-color: $neutral-1;
      padding: 2rem;
      margin-bottom: 0.5rem;

      &.warning {
        background-color: $brand-warning;
      }

      &.success {
        background-color: $brand-success;
      }

      h4 > .button {
        float: right;
      }
    }
  }
}

// Lots of the code for the navigation bar has to
// override default ng2-archwizard styling... thus the 
// overuse of !important. 
wizard-navigation-bar {
  .steps-indicator {
    padding: 0!important;

    li {    
      margin: $space-medium 0!important;
      padding-bottom: 0!important;
      
      &:hover {
        div {
          a {
            .step-indicator-number {
              box-shadow: $wizard-step-number-ring; 
            }
            .step-indicator-title {
              color: $wizard-step-link-color-hover;
            }
          }
        }
      }

      div {
        a {
          border-bottom: none; // Hide border added by <a> tags
          margin-left: 0!important;
        }
      }

      &:first-child {
        .step-indicator-number:before {
          display: none;
        }
      }

      &:last-child {
        .step-indicator-number:after {
          display: none;
        }
      }
    }

    li:before {
      display: none; // Hide default ng2-archwizard styling
    }

    li:after {
      display: none; // Hide default ng2-archwizard styling
    }
  }

  li {
    &.current, &.editing, &.done:last-child {
      .step-indicator-number {
        background-color: $wizard-step-number-background-current;
        border-color: $wizard-step-number-background-current;
        box-shadow: $wizard-step-number-ring-current; 
        color: $white;
        @include light-on-dark();
      }
    }
  }

  .step-indicator-number {
    color: $wizard-step-number-color;
    border: $wizard-step-number-border;
    border-radius: 100%;
    display: inline-block;
    font-weight: $wizard-step-number-weight;
    font-size: $wizard-step-number-size;
    font-variant-numeric: tabular-nums;
    line-height: 0;
    padding: $wizard-step-padding;
    position: relative;
    transition: 0.25s;

    &:before, &:after {
      background: $wizard-step-number-divider-color;
      content: "";
      display: block;
      width: $wizard-step-number-divider-width;
      height: $space-xlarge;
      left: 50%;
      position: absolute;
      z-index: -1;
    }

    &:before {
      top: -$space-xlarge;
    }

    &:after {
      bottom: -$space-xlarge;
    }

    &.complete {
      background-color: $wizard-step-number-background-complete;
      border-color: $wizard-step-number-background-complete;
      color: $white;
      @include light-on-dark();
    }
  }

  .step-indicator-title {
    color: $wizard-step-link-color;
    font-size: $wizard-step-link-size;
    font-weight: $wizard-step-link-weight;
    margin-left: $space-medium;
    text-transform: none;
  }
}
