.wizard-header {
  margin: $space-xxlarge 0 $space-xlarge;

  .wizard-title-small {
    color: $wizard-title-small-color;
    font-size: $wizard-title-small-size;
    font-weight: $wizard-title-small-weight;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
  }
  .wizard-title-large {
    color: $wizard-title-large-color;
    font-size: $wizard-title-large-size;
    font-weight: $wizard-title-large-weight;
  }
}

wizard {
  .step-intro {
    max-width: $paragraph-max-width;
    margin-bottom: $space-xxlarge;

    p {
      color: $wizard-step-prompt-color;
      font-size: $wizard-step-prompt-size;
    }
  }
  .step-header {
    font-size: $wizard-step-header-size;
    font-weight: $wizard-step-header-weight;
  }

  .wizard-step {
    padding: $space-xxlarge;
    background-color: $wizard-background;
    border-radius: $border-radius;
    border: $wizard-step-border;
    box-shadow: 0px 0px 20px rgba($neutral-5, 0.1);
    position: relative;

    .step-content {
      margin-bottom: 4rem;

      .step-form-control {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
      }

      label {
        display: block;
      }

      textarea {
        width: 100%;
      }
    }
  }

  .review-step {
    margin-bottom: 4rem;

    .review-item {
      background-color: $neutral-1;
      padding: 2rem;
      margin-bottom: 0.5rem;

      &.warning {
        background-color: $brand-warning;
      }

      &.success {
        background-color: $brand-success;
      }

      h4 > .button {
        float: right;
      }
    }
  }
}

wizard-navigation-bar {
  .steps-indicator {
    padding: 0!important;

    li:before {
      display: none;
    }

    li:after {
      display: none;
    }

    li {    
      margin: $space-medium 0!important;
      padding-bottom: 0!important;

      &:hover {
        a {
          color: $wizard-step-link-color-hover;
          text-transform: uppercase;
        }
      }

      div {
        a {
          border-bottom: none;
          margin-left: 0!important;
        }
      }

      &.current, &.editing, &.done:last-child {
        .step-indicator-number {
          background-color: $wizard-step-number-background-current;
          border-color: $wizard-step-number-background-current;
          box-shadow: 0px 0px 0px 4px $main-background, 
                      0px 0px 0px 6px $wizard-step-number-background-current;
          color: $white;
        }
      }

      &:first-child {
        .step-indicator-number:before {
          display: none;
        }
      }

      &:last-child {
        .step-indicator-number:after {
          display: none;
        }
      }
    }
  }

  .step-indicator-number {
    color: $wizard-step-number-color;
    border: $wizard-step-number-border;
    border-radius: 100%;
    display: inline-block;
    font-weight: $wizard-step-number-weight;
    font-size: $wizard-step-number-size;
    font-variant-numeric: tabular-nums;
    padding: $wizard-step-padding;
    position: relative;
    line-height: 0;
    transition: 0.25s;

    &:before {
      content: "";
      display: block;
      width: 2px;
      height: $space-xlarge;
      top: -$space-xlarge;
      left: 50%;
      background: $wizard-step-number-divider;
      position: absolute;
      z-index: -1;
    }

    &:after {
      content: "";
      display: block;
      width: 2px;
      height: $space-xlarge;
      bottom: -$space-xlarge;
      left: 50%;
      background: $wizard-step-number-divider;
      position: absolute;
      z-index: -1;
    }

    &.complete {
      background-color: $wizard-step-number-background-complete;
      border-color: $wizard-step-number-background-complete;
      color: $white;
    }
  }

  .step-indicator-title {
    color: $wizard-step-link-color;
    font-size: $wizard-step-link-size;
    font-weight: $wizard-step-link-weight;
    margin-left: $space-medium;
    text-transform: none;
  }
}

typeahead-container {
  ul.dropdown-menu {
    width: fit-content;
  }
}
