<div class="step-intro">
  <h3 class="step-header">Identify risk</h3>
  <p>Match a hazard to a subset of people, structures or assets (sometimes referred to as a &ldquo;community system&rdquo;) that the selected hazard may impact</p>
</div>
<div class="step-content">
  <form [formGroup]="form">
  <div class="step-form-control">
    <label for="hazard">Hazard <span title="required">Required</span></label>
    <input type="text" id="hazard" class="form-control" formControlName="weather_event"
                                typeaheadOptionField="name"
                                (typeaheadOnSelect)="itemSelected('weather_event', $event)"
                                (typeaheadOnBlur)="itemBlurred('weather_event')"
                                (blur)="itemBlurred('weather_event')"
                                [typeahead]="weatherEvents"
                                [typeaheadMinLength]="0"
                                [typeaheadScrollable]="true"
                                [typeaheadOptionsInScrollableView]="5"
                                [container]="'body'">
    <div *ngIf="form.controls.weather_event.errors && (form.controls.weather_event.dirty || form.controls.weather_event.touched)">
      <span *ngIf="form.controls.weather_event.errors.required || form.controls.weather_event.errors.autocomplete">Please select a hazard to assess.</span>
    </div>
  </div>
  <div class="step-form-control">
    <label for="community-system">Community system <span title="required">Required</span></label>
    <input type="text" id="community-system" class="form-control" formControlName="community_system"
                                typeaheadOptionField="name"
                                (typeaheadOnSelect)="itemSelected('community_system', $event)"
                                (typeaheadOnBlur)="itemBlurred('community_system')"
                                (blur)="itemBlurred('community_system')"
                                [typeahead]="communitySystems"
                                [typeaheadMinLength]="0"
                                [typeaheadScrollable]="true"
                                [typeaheadOptionsInScrollableView]="5"
                                [container]="'body'">
    <div *ngIf="form.controls.community_system.errors && (form.controls.community_system.dirty || form.controls.community_system.touched)">
      <span *ngIf="form.controls.community_system.errors.required || form.controls.community_system.errors.autocomplete">Please select a community system to focus on.</span>
    </div>
  </div>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button" 
            *ngIf="!risk?.id" 
            (click)="cancel()">Cancel</button>
    <button type="button" class="button" 
            *ngIf="risk?.id" 
            (click)="finish()">Finish later</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button button-primary"
            [disabled]="!form.valid"
            nextStep>Continue</button>
  </div>
</footer>
