<div class="step-header">
  <h3>Identify risk</h3>
</div>
<div class="step-content">
  <p>Match a hazard to a subset of people, structures or assets (sometimes referred to as a "community system") that the selected hazard may impact</p>
  <form [formGroup]="form">
  <div class="step-form-control">
    <label>Hazards
      <input class="form-control" formControlName="weather_event"
                                  tabindex="1"
                                  typeaheadOptionField="name"
                                  (typeaheadOnSelect)="itemSelected('weather_event', $event)"
                                  (typeaheadOnBlur)="itemBlurred('weather_event')"
                                  (blur)="itemBlurred('weather_event')"
                                  [typeahead]="weatherEvents"
                                  [typeaheadMinLength]="0"
                                  [typeaheadScrollable]="true"
                                  [typeaheadOptionsInScrollableView]="5"
                                  [container]="'body'">
      <div *ngIf="form.controls.weather_event.errors && (form.controls.weather_event.dirty || form.controls.weather_event.touched)">
        <span *ngIf="form.controls.weather_event.errors.required">*Required</span>
        <span *ngIf="form.controls.weather_event.errors.autocomplete">*Not found</span>
      </div>
    </label>
  </div>
  <div>
    <label>Community system
      <input class="form-control" formControlName="community_system"
                                  typeaheadOptionField="name"
                                  tabindex="2"
                                  (typeaheadOnSelect)="itemSelected('community_system', $event)"
                                  (typeaheadOnBlur)="itemBlurred('community_system')"
                                  (blur)="itemBlurred('community_system')"
                                  [typeahead]="communitySystems"
                                  [typeaheadMinLength]="0"
                                  [typeaheadScrollable]="true"
                                  [typeaheadOptionsInScrollableView]="5"
                                  [container]="'body'">
      <div *ngIf="form.controls.community_system.errors && (form.controls.community_system.dirty || form.controls.community_system.touched)">
        <span *ngIf="form.controls.community_system.errors.required">*Required</span>
        <span *ngIf="form.controls.community_system.errors.autocomplete">*Not found</span>
      </div>
    </label>
  </div>
  </form>
</div>
<div class="step-footer">
  <div class="step-footer-exit">
    <button *ngIf="!risk?.id" type="button" tabindex="4" (click)="cancel()">Cancel</button>
    <button *ngIf="risk?.id" type="button" tabindex="4" (click)="finish()">Finish later</button>
  </div>

  <div class="step-footer-navigation">
    <button type="button"
            tabindex="3"
            [disabled]="!form.valid"
            nextStep>Continue</button>
  </div>
</div>
