<div class="action-picker-prompt">
  <div class="modal-header action-picker-content">
    <h2>How do you want to start?</h2>
    <button type="button" class="button button-modal-close"
        (click)="closeModal()" aria-label="Close"><i class="icon-cancel"></i></button>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="modal-body col-5"
           [routerLink]="['/actions/action/suggested/', riskId]">
        <div class="action-picker-prompt-title action-picker-content">
          <i class="icon-lightbulb"></i>
          <h2>Begin from suggested actions</h2>
        </div>
        <p class="action-picker-content">We've gathered actions that some cities have undertaken over the years and will recommend some for you to start from!</p>
        <button class="btn btn-primary">Recommended!</button>
      </div>
    </div>
    <div class="modal-footer">
      <a routerLink="/actions/action/wizard">Or, start from scratch</a>
    </div>
  </div>
</div>
