<div class="action-picker action-picker-content">
  <div class="modal-header">
    <div class="container">
      <p class="row">Suggestions for</p>
      <h2 class="row"
          *ngIf="risk">{{ risk.weatherEvent.name }} on {{ risk.communitySystem.name }}</h2>
    </div>
    <button type="button" class="button button-modal-close"
        (click)="closeModal()" aria-label="Close"><i class="icon-cancel"></i></button>
  </div>
  <div class="container">
    <h2>Suggested actions</h2>
    <p>Actions below were chosen for you based on your region.</p>
    <div class="row justify-content-md-center">
      <div class="modal-body col-5">
        <p>TODO: action cards go here</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary"
              routerLink="/actions/action/wizard">Nevermind, I'll start from scratch</button>
    </div>
  </div>
</div>
