<div class="modal-header">
  <h1>How do you want to start?</h1>
  <button type="button" class="button button-modal-close"
      (click)="closeModal()" aria-label="Close"><i class="icon-cancel"></i></button>
</div>
<div class="modal-body" routerLink="/actions/action/suggested">
  <h2>Begin from suggested actions</h2>
  <p>We've gathered actions that some cities have undertaken over the years and will recommend some for you to start from!</p>
  <button class="btn btn-primary">Recommended!</button>
</div>
<div class="modal-footer">
  <a routerLink="/actions/action/wizard">Or, start from scratch</a>
</div>
