<!-- "How do you want to start?" prompt -->
<div class="action-picker" *ngIf="showPrompt && (loading || suggestedActions.length > 0)">
  <header class="modal-header">
    <h1 class="modal-title">Take action</h1>
    <button type="button"
      class="button button-large button-icon button-inverse-dark modal-close"
      aria-label="Close" (click)="closeModal()">
      <i class="icon-cancel"></i>
    </button>
  </header>
  <div class="modal-body">
    <div class="display-flex flex-vertical" *ngIf="loading">
      <div class="loading-wrapper">
        <div class="loading loading-spinner loading-large"></div>
      </div>
    </div>
    <div class="suggested-actions-cta" *ngIf="!loading">
      <div class="suggested-actions-overview">
        <div class="recommended">Recommended</div>
        <h2 class="title">Begin with suggested actions</h2>
        <p class="description">We&rsquo;ve gathered actions that some cities have undertaken over the years and will recommend some for you to start with.</p>
      </div>
      <button *ngIf="!loading" class="button button-positive suggested-actions-button" (click)="showPrompt = false">
        Get started
      </button>
    </div>
    <footer class="modal-footer" *ngIf="!loading">
      <button class="button-link" (click)="goToWizard()">No thanks. I&rsquo;ll start from scratch.</button>
    </footer>
  </div>
</div>

<!-- Alternate prompt when no actions were found -->
<div class="action-picker" *ngIf="!loading && showPrompt && suggestedActions.length === 0">
  <header class="modal-header">
    <h1 class="modal-title">Develop a custom action step</h1>
    <button type="button"
      class="button button-large button-icon button-inverse-dark modal-close"
      aria-label="Close" (click)="closeModal()">
      <i class="icon-cancel"></i>
    </button>
  </header>
  <div class="modal-body">
    <p class="no-suggested-actions">
      Sorry, we couldn&rsquo;t find any actions that matched this risk.
      You can still develop a custom action step that addresses this risk.
    </p>
    <footer class="modal-footer">
      <button class="button button-primary" (click)="goToWizard()">Get started</button>
    </footer>
  </div>
</div>

<!-- action picker (second dialog) -->
<div class="action-picker" *ngIf="!showPrompt">
  <div class="modal-header">
    <h1 class="modal-title">Suggested actions</h1>
    <button type="button"
      class="button button-large button-icon button-inverse-dark modal-close"
      aria-label="Close" (click)="closeModal()">
      <i class="icon-cancel"></i>
    </button>
  </div>
  <div class="modal-body" *ngIf="!loading">
    <p class="suggested-actions-description">
      When faced with similar challenges, cities in your region have chosen to undertake the following actions.
    </p>
    <div class="suggested-action" *ngFor="let suggestion of suggestedActions">
      <div class="action-main">
        <div class="action-name-container"
            [ngClass]="{'suggestion-closed': !isOpen(suggestion)}">
            <h2 class="action-name">
              {{suggestion.name}}
            </h2>
            <button type="button"
                  class="button-link toggle-button toggle-button-less"
                  (click)="toggleMore(suggestion)"
                  *ngIf="isOpen(suggestion)">Show less</button>
        </div>
        <button type="button"
                class="button-link toggle-button toggle-button-more"
                (click)="toggleMore(suggestion)"
                *ngIf="!isOpen(suggestion)">
            Show more
        </button>
        <button class="button button-primary"
                (click)="goToWizard(suggestion)">Choose and customize</button>
      </div>
      <ul class="action-metadata-list">
        <li class="action-metadata-item">City: {{ suggestion.plan_city }}</li>
        <li class="action-metadata-item" *ngIf="suggestion.plan_due_date">
          Date planned: {{ suggestion.plan_due_date | date: 'longDate' }}
        </li>
        <li class="action-metadata-item" *ngIf="suggestion.categories?.length">
          Categories: <i *ngFor="let category of suggestion.categories"
           class="{{ category.icon }}"
           tooltip="{{ category.name }}"
           placement="bottom"></i>
        </li>
      </ul>
      <footer class="suggested-action-footer" *ngIf="suggestion.plan_name">
        <p *ngIf="!suggestion.plan_hyperlink" class="action-source">
          Source: {{ suggestion.plan_name }}
        </p>
        <p *ngIf="suggestion.plan_hyperlink" class="action-source">
          Source: <a href="{{ suggestion.plan_hyperlink }}" target="_blank">{{ suggestion.plan_name }}</a>
        </p>
      </footer>
    </div>
    <div class="modal-footer">
      <button class="button-link" (click)="goToWizard()">No thanks. I&rsquo;ll start from scratch.</button>
    </div>
  </div>
</div>
