<div class="main-container">
  <main class="main-content pricing-faq" role="main">
    <div class="page-header">
        <h1 class="page-title-large">Frequently asked questions</h1>
    </div>
    <div class="section-content">
      <ul class="faq-list">
          <li class="faq">
            <h4 class="question">Who should use Temperate?</h4>
            <p class="answer">
              Temperate was designed to help people with limited resources doing climate change
              adaptation planning at the city or local level. There’s no need to have any
              scientific expertise or other specific background knowledge. Simply create an
              account and we’ll walk you through it from there!
            </p>
          </li>
          <li class="faq">
            <h4 class="question">Does Temperate include all the data I need?</h4>
            <p class="answer">No. Temperate includes projected temperature and precipitation data.</p>
            <p class="answer">For a list of other resources <a href="/assets/outside-resources.pdf">click here</a></p>
          </li>
          <li class="faq">
            <h4 class="question">My community has signed the Global Covenant of Mayors
              for Climate and Energy. Can I still use Temperate?</h4>
            <p class="answer">
              Yes! Temperate uses the same hazards and community systems that the Global
              Covenant asks their signatories to assess.
            </p>
            <p class="answer">
              Learn more about the
              <a href="https://www.globalcovenantofmayors.org/" target="_blank">
              Global Covenant of Mayors for Climate and Energy</a>.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">Where does your data come from?</h4>
            <p class="answer">
              See our <a routerLink="/methodology">Methodology</a> page.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">Where do your “suggested actions” come from?</h4>
            <p class="answer">
              The suggested actions in Temperate come from over 40 cities across the United States,
              as compiled by Dr. Melissa Stults. See the <a routerLink="/methodology">Methodology</a> page
              for more in-depth information. As more people use Temperate, we hope to see them add
            actions that are “public” to other Temperate users. Each action will be evaluated
              by the experts at ICLEI-USA before being included in Temperate as a suggested action.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">What happens to my work if I don’t upgrade at the end of my free trial?</h4>
            <p class="answer">
              You can export the information you entered as a CSV file. Any actions you created and tagged as public may still be available to users of Temperate.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">What if I have a suggestion to improve Temperate?</h4>
            <p class="answer">
              We&rsquo;d love to hear it! Please <a href="mailto:temperate@iclei.org">contact us</a>.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">I'm new to climate change data and need a primer. Where can I start?</h4>
            <p class="answer">
              Check out our <a href="https://s3-us-west-2.amazonaws.com/temperate/data_intro/story_html5.html" target="_blank">introduction to the data here</a>.
            </p>
          </li>
        </ul>
      </div>
  </main>
</div>
