<div class="main-container">
  <main class="main-content pricing-faq" role="main">
    <div class="page-header">
        <h1 class="page-title-large">Frequently asked questions</h1>
    </div>
    <div class="section-content">
      <ul class="faq-list">
          <li class="faq">
            <h4 class="question">Who should use Temperate?</h4>
            <p class="answer">
              Temperate was designed to help people with limited resources doing climate change 
              adaptation planning at the city or local level. There&rsquo;s no need to have any 
              scientific expertise or other specific background knowledge. Simply create an 
              account and we&rsquo;ll walk you through it from there!
            </p>
          </li>
          <li class="faq">
            <h4 class="question">What if data for my city is not in Temperate?</h4>
            <p class="answer">
              Temperate currently features more than 1,000 cities in the United States. If 
              you&rsquo;re interested in using Temperate but we don&rsquo;t have data on your 
              city, <a href="mailto:support@temperate.io">let us know!</a> We are actively 
              seeking funding and this information will help us with our efforts.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">My city has signed the <a href="https://www.globalcovenantofmayors.org/" target="_blank">
            Global Covenant of Mayors for Climate and Energy.</a> Can I still use Temperate?</h4>
            <p class="answer">
              Yes! Temperate uses the same hazards and community systems that the Global 
              Covenant asks their signatories to assess.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">Where does your data come from?</h4>
            <p class="answer">
              See our <a routerLink="/methodology">Methodology</a> page.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">Where do your &ldquo;suggested actions&rdquo; come from?</h4>
            <p class="answer">
              The suggested actions in Temperate come from over 40 cities across the United States, 
              as compiled by Dr. Melissa Stults. See the <a routerLink="/methodology">Methodology</a> page 
              for more in-depth information. As more people use Temperate, we hope to see them add 
              actions that are &ldquo;public&rdquo; to other Temperate users. Each action will be evaluated 
              by the experts at ICLEI-USA before being included in Temperate as a suggested action.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">What happens to my work if I don&rsquo;t upgrade at the end of my free trial?</h4>
            <p class="answer">
              You can export the information you entered as a CSV file. Any actions you created and tagged as public may still be available to users of Temperate.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">What if I have a suggestion to improve Temperate?</h4>
            <p class="answer">
              We&rsquo;d love to hear it! Please contact us <a href="mailto:temperate@iclei.org">here.</a>
            </p>
          </li>
        </ul>
      </div>
  </main>
</div>
