<div class="main-container page-template">
  <main class="main-content" role="main">
    <div class="page-header">
        <h1 class="page-title-large">Frequently asked questions</h1>
  </div>
  <div class="page-content">
    <ul class="faq-list">
          <li class="faq">
            <h4 class="question">What happens to my work if I don’t continue the free trial?</h4>
            <p class="answer">
              You can export the information you put into Temperate as a CSV file.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">What if I’m not from the US?</h4>
            <p class="answer">
              If you’re interested in using Temperate but we don’t have your city,
              please <a class="link" href="">let us know</a>! We are actively seeking
              funding and this information will help us with our efforts.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">What is the Global Covenant of Mayors?</h4>
            <p class="answer">
              We processed the Localized Constructed Analogs (LOCA) for North America
              and the Global Daily Downscaled Projections (NEX-GDDP), and two carbon
              scenarios (RCP 4.5 and RCP 8.5). <a class="link" href="">Learn more here</a>
            </p>
          </li>
          <li class="faq">
            <h4 class="question">What if I’m not in the Global Covenant of Mayors?</h4>
            <p class="answer">
              You don’t have to be to use Temperate! We are gearing this product
              for those who need to submit reports to Carbonn, but you can use
              it (and the best practices established by the GCOM) to create a
              plan on your terms.
            </p>
          </li>
          <li class="faq">
            <h4 class="question">Where does your data come from?</h4>
            <p class="answer">
              We processed the Localized Constructed Analogs (LOCA) for North America
              and the Global Daily Downscaled Projections (NEX-GDDP), and two carbon
              scenarios (RCP 4.5 and RCP 8.5). <a class="link" href="">Learn more here</a>
            </p>
          </li>
          <li class="faq">
            <h4 class="question">Where do the “strategies” come from?</h4>
            <p class="answer">
              Strategies that you will find in Temperate come from the work of
              Missy Stults … you can find her thesis <a class="link" href="">here</a>.
            </p>
          </li>
        </ul>
      </div>
  </main>
</div>
