<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- CSS Imports -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-rc.1/leaflet.css" />

    <!-- CSS Build -->
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    <div class="app-fullscreen">
      <nav class="nav-primary">
        Hey
      </nav>

      <div class="flex-container">
        <div class="sidebar-nav">
          <nav>
            <button>Hey</button>
            <button>Cool</button>
          </nav>
        </div>
        <div class="sidebar-content content-scrollable">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate numquam magni, quibusdam voluptatum id? Vero cum debitis nostrum voluptatibus perspiciatis voluptates laudantium, repellat sint officiis excepturi animi, voluptate facere illo.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, vel, adipisci? Facilis tempore consequatur, eius, non iure ullam sit. Praesentium, ab reprehenderit voluptatem perferendis delectus ut veritatis tempora facilis. Architecto.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate numquam magni, quibusdam voluptatum id? Vero cum debitis nostrum voluptatibus perspiciatis voluptates laudantium, repellat sint officiis excepturi animi, voluptate facere illo.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, vel, adipisci? Facilis tempore consequatur, eius, non iure ullam sit. Praesentium, ab reprehenderit voluptatem perferendis delectus ut veritatis tempora facilis. Architecto.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate numquam magni, quibusdam voluptatum id? Vero cum debitis nostrum voluptatibus perspiciatis voluptates laudantium, repellat sint officiis excepturi animi, voluptate facere illo.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, vel, adipisci? Facilis tempore consequatur, eius, non iure ullam sit. Praesentium, ab reprehenderit voluptatem perferendis delectus ut veritatis tempora facilis. Architecto.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate numquam magni, quibusdam voluptatum id? Vero cum debitis nostrum voluptatibus perspiciatis voluptates laudantium, repellat sint officiis excepturi animi, voluptate facere illo.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, vel, adipisci? Facilis tempore consequatur, eius, non iure ullam sit. Praesentium, ab reprehenderit voluptatem perferendis delectus ut veritatis tempora facilis. Architecto.</p>
        </div>
        <div class="flex-expand">
          <nav class="nav-primary">
            Hey
          </nav>
          <div class="flex-container">
            <div class="map-attribution bottom right">
              <span class="map-attribution-text">Copyright CartoDB and Jazz</span>
              <span class="map-attribution-label">Attribution</span>
              <button class="map-attribution-button">
                <i class="icon-info-1"></i>
              </button>
            </div>
            <div id="map">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Javascript Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v1.0.0-rc.1/leaflet.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
