<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>

    <!-- CSS Imports -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-rc.1/leaflet.css" />

    <!-- CSS Build -->
    <link rel="stylesheet" href="http://localhost:3000/assets/css/main.css" />
  </head>
  <body>
    
    <div class="container">
      <div class="demo-info">
        <p>Flexible Column count with <code>.column</code></p>
      </div>
      <div class="row">
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
      </div>
      
      <div class="demo-info">
        <p>Defined column widths with <code>.column-#</code></p>
      </div>
      <div class="row">
        <div class="column-1">
          <div class="demo-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ducimus molestiae consequatur accusantium amet possimus vitae labore, quaerat consequuntur, assumenda ratione, voluptatem commodi eveniet exercitationem. Veniam unde nostrum earum suscipit.</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
      </div>

      <div class="demo-info">
        <p>Align all columns within a row using <code>.align-$</code> on a row</p>
        <pre>.align-right, .align-center, .align-justify, .align-spaced</pre>
      </div>
      <div class="row align-right">
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
      </div>
      <div class="row align-center">
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
      </div>
      <div class="row align-justify">
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
      </div>
      <div class="row align-spaced">
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
        <div class="column-1">
          <div class="demo-content">column</div>
        </div>
      </div>

      <div class="demo-info">
        <p>Vertically align all columns within a row using <code>.columns-$</code> on a row</p>
        <pre>.columns-top, .columns-middle, .columns-bottom, .columns-stretch</pre>
      </div>
      <div class="row columns-top">
        <div class="column-1">
          <div class="demo-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, exercitationem.</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
      </div>
      <div class="row columns-center">
        <div class="column-1">
          <div class="demo-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, exercitationem.</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
      </div>
      <div class="row columns-bottom">
        <div class="column-1">
          <div class="demo-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, exercitationem.</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
      </div>
      <div class="row columns-stretch">
        <div class="column-1">
          <div class="demo-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, exercitationem.</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
        <div class="column">
          <div class="demo-content">column</div>
        </div>
      </div>

      <div class="demo-info">
        <p>Vertically align specific columns within a row using <code>.column-$</code> on a column. <em>Note the lack of s on <code>.column</code></em></p>
        <pre>.column-top, .column-middle, .column-bottom, .column-stretch</pre>
      </div>
      <div class="row columns-top">
        <div class="column-1">
          <div class="demo-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, exercitationem.</div>
        </div>
        <div class="column column-top">
          <div class="demo-content">top</div>
        </div>
        <div class="column column-center">
          <div class="demo-content">center</div>
        </div>
        <div class="column column-bottom">
          <div class="demo-content">bottom</div>
        </div>
        <div class="column column-stretch">
          <div class="demo-content">stretch</div>
        </div>
      </div>

      <div class="demo-info">
        <p>Stack all <code>.column-#</code> within a row at defined breakpoints</p>
        <pre>.stack-md, .stack-sm, .stack-xs</pre>
      </div>
      <div class="row stack-md">
        <div class="column">
          <div class="demo-content">stack md</div>
        </div>
        <div class="column">
          <div class="demo-content">stack md</div>
        </div>
        <div class="column">
          <div class="demo-content">stack md</div>
        </div>
      </div>
      <div class="row stack-sm">
        <div class="column">
          <div class="demo-content">stack sm</div>
        </div>
        <div class="column">
          <div class="demo-content">stack sm</div>
        </div>
        <div class="column">
          <div class="demo-content">stack sm</div>
        </div>
      </div>
      <div class="row stack-xs">
        <div class="column">
          <div class="demo-content">stack xs</div>
        </div>
        <div class="column">
          <div class="demo-content">stack xs</div>
        </div>
        <div class="column">
          <div class="demo-content">stack xs</div>
        </div>
      </div>
    </div>
    
    <!-- Javascript Imports -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  </body>
</html>
