<button id="contact-iclei-button"
   class="button button-icon-left button-positive button-floating"
   *ngIf="isButtonVisible()"
   (click)="openModal(template)">
  <span class="icon icon-mail"></span>
  Send us a message
</button>

<ng-template #template>
  <header class="modal-header">
    <h1 class="modal-title">Contact ICLEI</h1>
    <button type="button" class="button button-large button-icon button-inverse-dark modal-close"
      data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
      <i class="icon-cancel"></i>
    </button>
  </header>
  <div class="modal-body">
    <p>Ask questions, share feedback, and report bugs. We&rsquo;re here to help!</p>
    <iframe name="help-iframe" id="help-iframe" src="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8">
    </iframe>
    <form ngNoForm id="help" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" target="help-iframe">
      <input type=hidden name="orgid" value="00D700000008ZTW">
      <input type=hidden name="retURL" value="{{ url }}">
      <input type=hidden id="name" name="name" value="{{ user.first_name }} {{ user.last_name }}">
      <input type=hidden id="email" name="email" value="{{ user.email }}">
      <input type=hidden id="city" name="city" value="{{ user.primary_organization.location.getFullName() }}">
      <input type=hidden id="city" name="city" value="{{ user.primary_organization.name }}">
      <input type="hidden" id="recordType" name="recordType" value="0120g000000cfLg">
      <input type="hidden" id="external" name="external" value="1">
      <div class="form-control-container">
        <label for="subject">Subject</label>
        <input id="subject" class="form-control" maxlength="200" name="subject" size="20" type="text"
          value="I need some help with Temperate">
      </div>
      <div class="form-control-container">
        <label for="description">Description</label>
        <textarea id="description" class="form-control" autofocus></textarea>
      </div>
    </form>
    <footer class="modal-footer">
      <div class="button-group">
        <button form="help" type="submit" class="button button-primary"
          (click)="modalRef.hide()">Send</button>
        <button type="button" class="button"
          data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">Cancel</button>
      </div>
    </footer>
  </div>
</ng-template>
