<a *ngIf="router.url !== '/?ref=footer' && router.url !== '/'" (click)="openModal(template)">
  <i class="contact-iclei-icon icon-help-circled"></i>
</a>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Contact ICLEI</h4>
  </div>
  <div class="modal-body">
    <p>Ask questions, share feedback, and report bugs. We're here to help!</p>
    <iframe name="help-iframe" id="help-iframe" src="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8">
    </iframe>
    <form ngNoForm id="help" action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST" target="help-iframe">
      <input type=hidden name="orgid" value="00D700000008ZTW">
      <input type=hidden name="retURL" value="{{ url }}">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <label for="name">Name</label>
          </div>
          <div class="col-sm-5">
            <input id="name" maxlength="80" name="name" type="text"
              value="{{ user.first_name }} {{ user.last_name }}">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label for="email">Email</label>
          </div>
          <div class="col-sm-5">
            <input id="email" maxlength="80" name="email" size="20" type="text"
              value="{{ user.email }}">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label for="city">City</label>
          </div>
          <div class="col-sm-5">
            <input id="city" maxlength="80" name="city" size="20" type="text"
              value="{{ user.primary_organization.location.properties.name }}">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label for="org">Organization</label>
          </div>
          <div class="col-sm-5">
            <input id="city" maxlength="80" name="city" size="20" type="text"
              value="{{ user.primary_organization.name }}">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label for="city">Subject</label>
          </div>
          <div class="col-sm-5">
            <input id="subject" maxlength="200" name="subject" size="20" type="text"
              value="I need some help with Temperate">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label for="city">Description</label>
          </div>
          <div class="col-sm-5">
            <textarea name="description"></textarea>
          </div>
        </div>
      </div>
      <input type="hidden" id="recordType" name="recordType" value="0120g000000cfLg">
      <input type="hidden" id="external" name="external" value="1">
    </form>
    <footer class="modal-footer">
      <div class="button-group">
        <button type="button" class="button button-secondary button-small"
          data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">Nevermind</button>
        <input form="help" type="submit" class="button button-primary button-small" name="Submit"
          (click)="modalRef.hide()">
      </div>
    </footer>
  </div>
</ng-template>
