{% load i18n %}
{% load premailer %}
{% premailer %}
<html>
    <style type="text/css">
        h1 { border:1px solid black }
        p { color:red;}
    </style>
    <h1>
    {% trans "Activate account at" %} {{ site.name }}:
    </h1>

    <p><a href="https://{{ site.domain }}{% url 'registration_activate' activation_key %}">https://{{ site.domain }}{% url 'registration_activate' activation_key %}</a>

    <br />
    <em>
        {% blocktrans %}Link is valid for {{ expiration_days }} days.{% endblocktrans %}
    </em></p>
</html>
{% endpremailer %}
