{% load premailer %}
{% premailer %}
<html>
    <p>Hello there!</p>
    <p>We’re thrilled you’ve chosen Temperate to help develop your city’s climate adaptation plan.</p>
    <p>Click the link below to confirm your email address and activate your account. The link expires in {{ expiration_days }} days.</p>
    <p><a href="https://{{ site.domain }}{% url 'registration_activate' activation_key %}">Activate your Temperate account</a></p>
    <p>&nbsp;</p>
    <p>If you have any trouble activating your account, contact <a href="mailto:{{ support_email }}">{{ support_email }}</a> for assistance.</p>
</html>
{% endpremailer %}
