{% load premailer %}
{% premailer %}
<html>
    <p>Hello there!</p>
    <p>You’ve been invited to join <a href="https://temperate.io">Temperate</a>, your climate adaptation planning companion.</p>

    <p>
        <strong>Organization:</strong> {{ user.primary_organization.name }}
        <br/>
        <strong>Location:</strong> {{ user.primary_organization.location }}
    </p>

    <p>Accept your invitation via the link below. The link expires in {{ expiration_days }} days.</p>
    <p><a href="https://{{ site.domain }}{% url 'registration_activate' activation_key %}">Sign up for Temperate</a>
</html>
{% endpremailer %}
