{% extends "base.html" %}
{% load i18n %}

<head>
    <title>{% block title %}Reset your password{% endblock %}</title>
</head>

{% block content %}

<div class="row stack-xs">
  <div class="column-6">
    <section class="section-user">
      <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn-primary btn" type="submit">{% trans 'Submit' %}</button>
        <a href="{% url 'auth_login' %}" class="btn">{% trans 'Cancel' %}</a>
      </form>
    </section>
  </div>
</div>

{% endblock %}
