{% extends "base.html" %}
{% load i18n %}

<head>
    <title>{% block title %}Change password{% endblock %}</title>
</head>

{% block content %}

<div class="row stack-xs">
  <div class="column-6">
    <section class="section-user">
      <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn-primary btn" type="submit" value="{% trans 'Submit' %}" />
        <a href="{% url 'edit_profile' %}" class="btn">{% trans 'Cancel' %}</a>
      </form>
    </section>
  </div>
</div>

{% endblock %}
