{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

<head>
    <title>{% block title %}Sign up{% endblock %}</title>
</head>

<body>
    {% block content %}
    <form method="post" action="." class="form-registration">
      {% csrf_token %}
      <h3>Get started with an account</h3>
      <div>
        {% bootstrap_form form %}
        <div class="form-group">
          <button class="btn btn-primary" type="submit">{% trans 'Submit' %}</button>
          <a href="{% url 'auth_login' %}" class="btn">{% trans 'Cancel' %}</a>
        </div>
      </div>
    </form>
    {% endblock %}
</body>
