<div class="main-container">
  <main class="main-content city-profile" role="main">
    <header class="page-header">
      <h1 class="page-title-large">City Profile</h1>
      <p class="paragraph-intro">Enter information about your location, including any long-term goals you hope to achieve.</p>
      <p>These questions can be answered at any point in the process of developing your plan.</p>
      <button class="button button-primary" (click)="save()">Save changes</button>
    </header>

    <section class="page-section">
      <accordion *ngIf="cityProfile" [closeOthers]="true">

        <!-- START About section -->
        <accordion-group [(isOpen)]="isOpen[sections.About]">
          <header accordion-heading>
            <h2 class="panel-label">About your city</h2>
            <span class="badge badge-danger" *ngIf="!cityProfile.sectionCompleted(sections.About)">
              {{ cityProfile.getSectionRequiredCount(sections.About) }} required
            </span>
            <span class="icon icon-ok-circled completed" *ngIf="cityProfile.sectionCompleted(sections.About)"
                  tooltip="All required fields completed"></span>
            <span class="icon icon-accordion" [ngClass]="isOpen[sections.About] ? 'icon-chevron-down' : 'icon-chevron-right'"></span>
          </header>
          <div class="form-control-container">
            <label for="economic-sector" class="profile-required">
              What is your main economic sector?
            </label>
            <select class="form-control" [(ngModel)]="cityProfile.about_economic_sector">
              <option [value]="''">---</option>
              <option *ngFor="let sector of sectors" [value]="sector">{{ sector }}</option>
            </select>
          </div>
          <div class="form-control-container">
            <label for="operational-budget" class="profile-required">
              What is your operational budget (USD)?
            </label>
            <input id="operational-budget" class="form-control"
                   type="number"
                   min="0"
                   [(ngModel)]="cityProfile.about_operational_budget_usd">
            <div *ngIf="errors.about_operational_budget_usd" class="form-control-error">
              <p *ngFor="let error of errors.about_operational_budget_usd">{{ error }}</p>
            </div>
          </div>
          <div class="form-control-container">
            <label for="adaptation-status">
              What is the status of your adaptation or resilience commitment?
            </label>
            <select id="adaptation-status"
                    class="form-control"
                    [(ngModel)]="cityProfile.about_adaptation_status">
              <option [value]="''">---</option>
              <option *ngFor="let opt of commitments" [value]="opt.name">{{ opt.label }}</option>
            </select>
          </div>
          <div class="form-control-container">
            <label for="commitment-status">
              What is the status of your commitment to climate change mitigation?
            </label>
            <select id="commitment-status"
                    class="form-control"
                    [(ngModel)]="cityProfile.about_commitment_status">
              <option [value]="''">---</option>
              <option *ngFor="let opt of commitments" [value]="opt.name">{{ opt.label }}</option>
            </select>
          </div>
          <div class="form-control-container">
            <label for="mitigation-status">
              What is the status of your climate change mitigation plan?
            </label>
            <select id="mitigation-status"
                    class="form-control"
                    [(ngModel)]="cityProfile.about_mitigation_status">
              <option [value]="''">---</option>
              <option *ngFor="let opt of commitments" [value]="opt.name">{{ opt.label }}</option>
            </select>
          </div>
          <div class="form-control-container">
            <label for="sustainability-description">
              Describe the sustainability goal of your city
            </label>
            <textarea id="sustainability-description" class="form-control" rows="6"
                   [(ngModel)]="cityProfile.about_sustainability_description"></textarea>
          </div>
          <div class="form-control-container">
            <label for="sustainability-progress">
              Describe your city's progress on meeting the goal above
            </label>
            <textarea id="sustainability-progress" class="form-control" rows="6"
                   [(ngModel)]="cityProfile.about_sustainability_progress"></textarea>
          </div>
          <div class="form-control-container">
            <label for="master-planning">
              Describe the extent to which adaptation planning has been incorporated into master planning
            </label>
            <textarea id="master-planning" class="form-control" rows="6"
                   [(ngModel)]="cityProfile.about_master_planning"></textarea>
          </div>
        </accordion-group>
        <!-- END About section -->

        <!-- START Assessments section -->
        <accordion-group [(isOpen)]="isOpen[sections.Assessments]">
          <header accordion-heading>
            <h2 class="panel-label">Assessments</h2>
            <span class="badge badge-danger" *ngIf="!cityProfile.sectionCompleted(sections.Assessment)">
              {{ cityProfile.getSectionRequiredCount(sections.Assessment) }} required
            </span>
            <span class="icon icon-ok-circled completed" *ngIf="cityProfile.sectionCompleted(sections.Assessment)"
                  tooltip="All required fields completed"></span>
            <span class="icon icon-accordion" [ngClass]="isOpen[sections.Assessments] ? 'icon-chevron-down' : 'icon-chevron-right'"></span>
          </header>
          <div class="form-control-container">
            <label for="assessment-status" class="profile-required">
              Has your city already begun a vulnerability assessment?
            </label>
            <div id="assessment-status" class="button-group form-control-container" data-toggle="buttons" role="radiogroup">
              <button class="button button-primary" role="radio"
                      [ngClass]="{active: cityProfile.assessment_status === opt.name}"
                      *ngFor="let opt of assessmentStatusOptions"
                      (click)="cityProfile.assessment_status = opt.name">
                {{ opt.label }}
              </button>
            </div>
          </div>

          <div class="profile-subgroup" *ngIf="cityProfile.assessment_status === sectionStatuses.Yes">
            <div class="form-control-container">
              <label for="hazards-considered">
                What
                &nbsp;
                <span class="button-link" [popover]="climateHazardsPopover"
                      popoverTitle="Climate hazards" placement="right" triggers="mouseenter:mouseleave">
                  climate hazards
                </span>
                &nbsp;
                did you assess?
              </label>
              <app-radio-button-group [id]="'hazards-considered'" [options]="hazardOptions"
                                      [(option)]="cityProfile.assessment_hazards_considered">
              </app-radio-button-group>
            </div>
            <div class="form-control-container">
              <label for="critical-assets">
                What
                &nbsp;
                <span class="button-link" [popover]="criticalAssetsPopover"
                      popoverTitle="Critical assets" placement="right" triggers="mouseenter:mouseleave">
                  critical assets
                </span>
                &nbsp;
                did you consider?
              </label>
              <app-radio-button-group [id]="'critical-assets'" [options]="numberOptions"
                                      [(option)]="cityProfile.assessment_assets_considered">
              </app-radio-button-group>
            </div>
            <div class="form-control-container">
              <label for="vulnerable-populations">
                What
                &nbsp;
                <span class="button-link" [popover]="vulnerablePopulationsPopover"
                      popoverTitle="Vulnerable populations" placement="right" triggers="mouseenter:mouseleave">
                  vulnerable populations
                </span>
                &nbsp;
                did you consider?
              </label>
              <app-radio-button-group [id]="'vulnerable-populations'" [options]="numberOptions"
                                      [(option)]="cityProfile.assessment_populations_identified">
              </app-radio-button-group>
            </div>
          </div>
        </accordion-group>
        <!-- END Assessments section -->

        <!-- START Plans section -->
        <accordion-group [(isOpen)]="isOpen[sections.Plan]">
          <header accordion-heading>
            <h2 class="panel-label">Plans</h2>
            <span class="badge badge-danger" *ngIf="!cityProfile.sectionCompleted(sections.Plan)">
              {{ cityProfile.getSectionRequiredCount(sections.Plan) }} required
            </span>
            <span class="icon icon-ok-circled completed" *ngIf="cityProfile.sectionCompleted(sections.Plan)"
                  tooltip="All required fields completed"></span>
            <span class="icon icon-accordion" [ngClass]="isOpen[sections.Plan] ? 'icon-chevron-down' : 'icon-chevron-right'"></span>
          </header>
          <div class="form-control-container">
            <label for="plan-status" class="profile-required">
              Does your city have a plan that addresses adaptation?
            </label>
            <div id="plan-status" class="button-group form-control-container" data-toggle="buttons" role="radiogroup">
              <button class="button button-primary" role="radio"
                      [ngClass]="{active: cityProfile.plan_status === opt.name}"
                      *ngFor="let opt of sectionStatusOptions"
                      (click)="cityProfile.plan_status = opt.name">
                {{ opt.label }}
              </button>
            </div>
          </div>
          <div class="profile-subgroup" *ngIf="cityProfile.plan_status === sectionStatuses.Yes">
            <div class="form-control-container">
              <label for="plan-type">
                What type of plan was it?
              </label>
              <app-radio-button-group [id]="'plan-type'" [options]="planTypes"
                                      [(option)]="cityProfile.plan_type">
              </app-radio-button-group>
            </div>
          </div>
        </accordion-group>
        <!-- END Plans section -->

        <!-- START Adaptation Actions section -->
        <accordion-group [(isOpen)]="isOpen[sections.Action]">
          <header accordion-heading>
            <h2 class="panel-label">Adaptation actions</h2>
            <span class="badge badge-danger" *ngIf="!cityProfile.sectionCompleted(sections.Action)">
              {{ cityProfile.getSectionRequiredCount(sections.Action) }} required
            </span>
            <span class="icon icon-ok-circled completed" *ngIf="cityProfile.sectionCompleted(sections.Action)"
                  tooltip="All required fields completed"></span>
            <span class="icon icon-accordion" [ngClass]="isOpen[sections.Action] ? 'icon-chevron-down' : 'icon-chevron-right'"></span>
          </header>
          <div class="form-control-container">
            <label for="action-status" class="profile-required">
              Has your city identified specific adaptation actions?
            </label>
            <div id="action-status" class="button-group form-control-container" data-toggle="buttons" role="radiogroup">
              <button class="button button-primary" role="radio"
                      [ngClass]="{active: cityProfile.action_status === opt.name}"
                      *ngFor="let opt of sectionStatusOptions"
                      (click)="cityProfile.action_status = opt.name">
                {{ opt.label }}
              </button>
            </div>
          </div>
          <div class="profile-subgroup" *ngIf="cityProfile.action_status === sectionStatuses.Yes || cityProfile.action_status === sectionStatuses.InProgress">
            <div class="form-control-container">
              <label for="actions-prioritized">
                How did you select and prioritize actions?
              </label>
              <app-checkbox-group [id]="'actions-prioritized'" [options]="actionPriorities"
                                  [(selected)]="cityProfile.action_prioritized">
              </app-checkbox-group>
            </div>
            <div class="form-control-container">
              <label for="action-progress">
                Describe your city's progress in undertaking these actions
              </label>
              <textarea id="action-progress" class="form-control" rows="6"
                     [(ngModel)]="cityProfile.action_prioritized_description"></textarea>
            </div>
          </div>
        </accordion-group>
        <!-- END Adaptation Actions section -->

      </accordion>
    </section>
  </main>
</div>

<ng-template #climateHazardsPopover>
  Dangerous climate-related physical events that may cause loss of life,
  injury, or other health impacts, as well as damage and loss to property,
  infrastructure, livelihoods, service provision, ecosystems, and environmental resources
</ng-template>

<ng-template #criticalAssetsPopover>
  Assets, systems and services that are essential to the functioning of a society and economy
</ng-template>

<ng-template #vulnerablePopulationsPopover>
  <p>
    These include individuals or groups of people who are less able than the general population
    to anticipate, cope with, resist and recover from the impacts of disasters.
  </p>
  <p>
    Vulnerable populations may be described by race or ethnicity, culture, socio-economic status,
    geography, gender, disability, and age, or other characteristics, and may be disproportionally
    likely to be affected by climate hazards
  </p>
</ng-template>
