<ng-template #riskPopoverTemplate>
  <p>Donec dictum hendrerit dui, nec dictum ante molestie eleifend. Quisque accumsan nisl lectus, in vulputate erat iaculis quis. Aenean at nisl vehicula, fermentum leo vel, ultricies sapien.
  </p>
  <div *ngIf="indicators?.length">
    <h4>Related Indicators</h4>
    <p *ngFor="let indicator of indicators">
      <a (click)="openIndicatorModal(indicator)">{{ indicator.label }}</a>
    </p>
  </div>
</ng-template>

<div class="va-risk" #popover="bs-popover" [popover]="riskPopoverTemplate"
  container="body"
  outsideClick="true"
  popoverTitle="{{ risk.weather_event.name }} on {{ risk.community_system.name }}"
  placement="right">{{ risk.title() }}
</div>

<app-modal-template #indicatorModal
     title="{{ selectedIndicator?.label }}">
  <app-indicator-chart
    *ngIf="selectedIndicator"
    [indicator]="selectedIndicator"
    [city]="city">
  </app-indicator-chart>
</app-modal-template>
