<div class="main-container">
  <main class="main-content" role="main">
    <header class="page-header">
      <h1 class="page-title-large">Review</h1>
      <button class="button" (click)="planService.export()">Download CSV</button>
      <button class="button button-primary" (click)="submitPlan()">Submit to ICLEI-USA</button>
    </header>
    <div>
      <button class="button button-link"
              [ngClass]="{active: activeTab === tabs.OVERVIEW}"
              (click)="activeTab = tabs.OVERVIEW">Plan overview</button>
      <button class="button button-link"
              [ngClass]="{active: activeTab === tabs.ADAPTATION_PLAN}"
              (click)="activeTab = tabs.ADAPTATION_PLAN">Adaptation plan</button>
    </div>
    <app-plan-summary *ngIf="activeTab === tabs.OVERVIEW"
                      [org]="organization"></app-plan-summary>
    <app-adaptation-review *ngIf="activeTab === tabs.ADAPTATION_PLAN"
                           [risks]="risks"></app-adaptation-review>
  </main>
</div>

<app-confirmation-modal #confirmSubmitModal></app-confirmation-modal>
