<div class="main-container">
  <main class="main-content" role="main">
    <header class="page-header">
      <h1 class="page-title-large">Review</h1>
      <div class="page-buttons">
        <button class="button-link" (click)="planService.export()">
          <span class="icon icon-download"></span>
          Download CSV
        </button>
        <app-submit-plan-button class="button button-small button-primary">
          Submit to ICLEI-USA
        </app-submit-plan-button>
      </div>
    </header>

    <div class="nav-tabs">
      <button class="button-tab tab-item"
              [ngClass]="{active: activeTab === tabs.OVERVIEW}"
              (click)="activeTab = tabs.OVERVIEW">Plan overview</button>
      <button class="button-tab tab-item"
              [ngClass]="{active: activeTab === tabs.ADAPTATION_PLAN}"
              (click)="activeTab = tabs.ADAPTATION_PLAN">Adaptation plan</button>
    </div>

    <div class="tab-content">
      <app-plan-summary *ngIf="activeTab === tabs.OVERVIEW"
                        [org]="organization"></app-plan-summary>
      <app-adaptation-review *ngIf="activeTab === tabs.ADAPTATION_PLAN"
                             [risks]="risks"></app-adaptation-review>
    </div>
  </main>
</div>
