.flex-container {
  display: flex;
  -webkit-justify-content: space-around;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}

.flex-expand {
  background-color: $black;
  color: $white;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.app-fullscreen {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/* * * *
 * Containers
 * * * */
.content-scrollable {
  overflow-y: auto;
}

.container-fluid {
  position: relative;
}

.container {
  position: relative;
  margin: 0 auto;
  /* Widths/breakpoints should be figured out later and assigned to variables */
  max-width: 1000px;
}

/* Style for this specific application */
.container-fluid {
  height: 300px;
}

.container-fullheight {
  height: calc(100vh - 150px);
  min-height: 45rem;
  display: block;
}

.container-hero, .container-cta {
  background: linear-gradient(to top left, darken($brand-primary,10%), $brand-primary);
  position: relative;
}

.container-standard {
  padding: 12rem 1rem;
  text-align: center;

  .container-content {
    max-width: 70rem;
    margin: 0 auto;

    .heading {
      font-size: $text-display;
    }
  }
}

.page-header {
  margin: $space-xxlarge 0;
}

.page-content {
  padding: $space-xxlarge;
  background-color: $page-content-background;
  border-radius: $border-radius;
  border: $page-content-border;
  box-shadow: 0px 0px 20px rgba($neutral-5, 0.1);
  flex: 0 1 auto;
  position: relative;
}

.page-section {
  margin-bottom: $space-xxlarge;
}
