.main-container {
  display: flex;

  .main-content {
    flex: 0 1 $content-max-width;
    padding: 2rem 4rem;
    // width: 0; is for d3.js charts to respond on resize.
    // refer to: https://stackoverflow.com/questions/7985021/css-flexbox-issue-why-is-the-width-of-my-flexchildren-affected-by-their-content
    width: 0;
    margin: auto;
    padding: $space-large $space-medium;

    @media all and (min-width: 31.250em) {
      padding: $space-large $space-xxlarge;
      max-width: $content-max-width;
    }
  }
}
  
.page-template {
  @media all and (min-width: 45.625em) {
    margin: auto;
    max-width: 85rem;
  }

  .page-header {
    margin: 0 $space-xxlarge;
    
    @media all and (min-width: 31.250em) {
      margin: 0;
    }
    @media all and (min-width: 45.625em) {
      max-width: 75rem;
      margin: $space-xxlarge;
    }
  }

  .page-content {
    @media all and (min-width: 45.625em) {
      margin: auto;
    }
  }
}

.app-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;

  .app-main {
    flex: 1 0 auto;
    background-color: $main-background;
  }
}