<div class="input-group">
  <input class="form-control" type="text" [disabled]="!isEditing" [value]="value" (input)="input($event)">

  <div class="button-group">
    <button type="button" class="button button-icon-only" (click)="edit()" *ngIf="!isEditing">
      <i class="icon icon-edit"></i>
    </button>
    <button type="button" class="button button-primary" [disabled]="!value" (click)="save()" *ngIf="isEditing">
      Save
    </button>
    <button type="button" class="button button-danger" (click)="cancel()" *ngIf="isEditing">
      Cancel
    </button>
  </div>
</div>
