<div class="step-header">
  <h2 class="step-title">Geographic area</h2>
  <p>
    Create a plan for your organization’s community or draw an area of interest. All of the climate change data in Temperate will be specific to the area you select.
  </p>
</div>

<div class="step-content">
  <form [formGroup]="form">
    <div class="nav-tabs">
      <button class="button-tab tab-item"
              [ngClass]="{active: areaTab === areaTabs.EnterCity}"
              (click)="setTab(areaTabs.EnterCity)">
        <span class="icon icon-search"></span>
        Enter City
      </button>
      <button class="button-tab tab-item"
              [ngClass]="{active: areaTab === areaTabs.DrawArea}"
              (click)="setTab(areaTabs.DrawArea)">
        <span class="icon icon-draw-polygon"></span>
        Draw Area
      </button>
    </div>
    <div class="tab-content" *ngIf="areaTab === areaTabs.EnterCity">
      <app-org-location-geocoder formControlName="location"></app-org-location-geocoder>
      <div class="form-control-error"
            *ngIf="form.controls.location.errors && (form.controls.location.dirty || form.controls.location.touched)">
        <span *ngIf="form.controls.location.errors.required || form.controls.location.errors.autocomplete">
          This is a required field.</span>
        <span *ngIf="form.controls.location.errors.server">
          *{{ form.controls.location.errors.server }}</span>
        <span *ngIf="form.controls.location.errors.city">
          City not found.</span>
      </div>
    </div>
    <div class="tab-content" *ngIf="areaTab === areaTabs.DrawArea">
      <h3 class="draw-header">
        Draw your plan’s boundaries
      </h3>
      <p class="map-help">
        <span
          [ngClass]="polygonArea >= maxArea ? 'error' : null">
          Please create a region that is under {{ maxArea | number }} sq mi.
        </span>
        <span *ngIf="polygonArea !== null">
          Total: <strong><span [ngClass]="polygonArea > maxArea ? 'error' : null">{{ polygonArea | number : '1.0-0' }}</span></strong> out of max <strong>{{ maxArea | number }} sq mi.</strong>
        </span>
      </p>
      <p class="error" *ngIf="polygonOutOfBounds">
        Please limit your region to within the continental United States.
      </p>
      <p class="error" *ngIf="form.controls.bounds.errors && form.controls.bounds.errors.server">
        *{{ form.controls.bounds.errors.server }}
      </p>
      <div class="map-layer-switcher">
        <label>
          <input
            name="tribalAreasToggle"
            type="checkbox"
            [(ngModel)]="showTribalAreas"
            [ngModelOptions]="{standalone: true}"/>
          Show tribal areas
        </label>
        <label>
          <input
            name="countiesToggle"
            type="checkbox"
            [(ngModel)]="showCounties"
            [ngModelOptions]="{standalone: true}"/>
          Show counties
        </label>
      </div>
      <div #overlayPopup
        class="overlay-popup"
        [hidden]="!showOverlayLabel">
        <p *ngFor="let name of areaNames">{{name}}</p>
      </div>
      <div class="map-container">
        <aol-map>
          <aol-control-zoom></aol-control-zoom>
          <aol-interaction-default></aol-interaction-default>
          <aol-interaction-draw
            #draw
            *ngIf="!polygon"
            type="Polygon"
            (drawStart)="drawingStarted = true"
            (drawEnd)="setPolygon($event)"
          ></aol-interaction-draw>
          <aol-interaction-translate
            *ngIf="polygon"
            [layers]="canDrag"
            (translating)="onTranslating()">
          </aol-interaction-translate>

          <aol-view [zoom]="12">
            <aol-coordinate
              [y]="initialLocation.geometry.coordinates[1]"
              [x]="initialLocation.geometry.coordinates[0]"
              [srid]="wgs84"></aol-coordinate>
          </aol-view>
          <aol-layer-vector [zIndex]="4" #bounds>
            <aol-source-vector>
            </aol-source-vector>
          </aol-layer-vector>
          <aol-layer-vectortile
            *ngIf="showTribalAreas"
            [renderMode]="'hybrid'"
            [renderBuffer]="5"
            [style]="styleTribalFeature"
            [zIndex]="2">
            <aol-source-vectortile
              [url]="tribalAreasVectorUri">
              <aol-format-mvt></aol-format-mvt>
              <aol-tilegrid [maxZoom]="14"></aol-tilegrid>
            </aol-source-vectortile>
          </aol-layer-vectortile>
          <aol-layer-vectortile
            *ngIf="showCounties"
            [renderMode]="'hybrid'"
            [renderBuffer]="5"
            [opacity]="0.5"
            [style]="styleCountyFeature"
            [zIndex]="1">
            <aol-source-vectortile
              [url]="countiesVectorUri">
              <aol-format-mvt></aol-format-mvt>
              <aol-tilegrid [maxZoom]="7"></aol-tilegrid>
            </aol-source-vectortile>
          </aol-layer-vectortile>
        </aol-map>
        <button
          class="button redraw-btn"
          *ngIf="polygon || drawingStarted"
          (click)="clearBounds()">
          <i class="icon icon-cw"></i>Re-draw
        </button>
      </div>
    </div>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-navigation">
    <button type="button" class="button button-primary"
            [disabled]="!isStepComplete()" nextStep>Next</button>
  </div>
</footer>
