<div class="loading-wrapper" *ngIf="communitySystems === undefined">
  <div class="loading loading-spinner loading-large"></div>
</div>
<div class="card-content top-concerns empty-state"
     *ngIf="communitySystems?.length === 0">
     <p class="empty-state-header">None yet</p>
     <p class="empty-state-text">Choose community systems that you want to focus on in this adaptive plan.</p>
</div>
<div class="top-concerns" *ngIf="communitySystems?.length > 0">
  <div *ngFor="let communitySystem of communitySystems" class="concern"
        [ngClass]="communitySystem.display_class">
    <div class="concern-actions">
      <button class="button button-danger button-small button-icon"
              title="Remove"
              (click)="remove(communitySystem)"><i class="icon-cancel"></i></button>
    </div>
    <div class="concern-data">
      <div class="concern-name">
        {{ communitySystem.name }}
      </div>
    </div>
  </div>
</div>
