<h3><strong>Password must:</strong></h3>
<div>
  <i *ngIf="!valid('minlength')" class="icon icon-square"></i>
  <i *ngIf="valid('minlength')" class="icon icon-check-square valid"></i>
  Have at least 8 characters
</div>
<div>
  <i *ngIf="!valid('entirelyNumeric')" class="icon icon-square"></i>
  <i *ngIf="valid('entirelyNumeric')" class="icon icon-check-square valid"></i>
  Have at least 1 letter
</div>
<div>
  <i *ngIf="!valid('similar')" class="icon icon-square"></i>
  <i *ngIf="valid('similar')" class="icon icon-check-square valid"></i>
  Be different from email, first name and last name
</div>
<div>
  <i *ngIf="!valid('common')" class="icon icon-square"></i>
  <i *ngIf="valid('common')" class="icon icon-check-square valid"></i>
  Not be a commonly used password (for example, password)
</div>
