<h3 class="popover-title">Password must:</h3>
<ul class="validator-list">
  <li class="validator-list-item">
    <span *ngIf="!valid('entirelyNumeric')" class="icon icon-circle-empty"></span>
    <span *ngIf="valid('entirelyNumeric')" class="icon icon-ok-circled valid"></span>
    Contain at least 1 letter
  </li>
  <li class="validator-list-item">
    <span *ngIf="!valid('similar')" class="icon icon-circle-empty"></span>
    <span *ngIf="valid('similar')" class="icon icon-ok-circled valid"></span>
    Be different from your email, first name and last name
  </li>
  <li class="validator-list-item">
    <span *ngIf="!valid('common')" class="icon icon-circle-empty"></span>
    <span *ngIf="valid('common')" class="icon icon-ok-circled valid"></span>
    Not be a commonly used password, like &ldquo;password&rdquo;
  </li>
  <li class="validator-list-item">
    <span *ngIf="!valid('minlength')" class="icon icon-circle-empty"></span>
    <span *ngIf="valid('minlength')" class="icon icon-ok-circled valid"></span>
    Have at least 8 characters
  </li>
</ul>
