<div class="loading-wrapper" *ngIf="!(weatherEvents?.length > 0) && (areConcernsCalculated < 2)">
  <div class="loading loading-spinner loading-small loading-primary"></div>
</div>
<div class="card-content top-concerns empty-state"
     *ngIf="!(weatherEvents?.length > 0) && (areConcernsCalculated >= 2)">
     <p class="empty-state-header">None yet</p>
     <p class="empty-state-text">Choose hazards that you believe are your city&rsquo;s top concerns.</p>
</div>
<div class="top-concerns">
  <div *ngFor="let weatherEvent of weatherEvents" class="concern {{weatherEvent.display_class}}"
        [ngClass]="{'pre-selected':isReadOnly(weatherEvent)}">
    <div class="concern-actions">
      <span *ngIf="isReadOnly(weatherEvent)"
          class="icon icon-lock"
          title="This hazard cannot be removed"></span>
      <button *ngIf="!isReadOnly(weatherEvent)"
        class="button button-danger button-small button-icon"
        title="Remove from top concerns"
        (click)="remove(weatherEvent)"><i class="icon-cancel"></i></button>
    </div>
    <div class="concern-data">
      <div class="concern-name">
        {{ weatherEvent.name }}
      </div>
      <div class="concern-stats" *ngIf="hasConcern(weatherEvent)">
        {{ format(weatherEvent.concern) }}<ng-template [ngIf]="hasUnits(weatherEvent.concern)">{{ units(weatherEvent.concern) }}</ng-template>
        {{ weatherEvent.concern.tagline }}
      </div>
    </div>
  </div>
</div>
