<wizard #wizard navBarLocation="left" navBarLayout="large-empty-symbols">
    <va-new-risk-step-identify #identifyStep wizardStep
                               stepTitle="{{ identifyStep.title }}"
                               navigationSymbol="{{ identifyStep.navigationSymbol }}">
    </va-new-risk-step-identify>

    <wizard-step optionalStep stepTitle="Hazard" navigationSymbol="2">

        <h3>Hazard</h3>

        <button type="button" nextStep>Continue</button>
        <button type="button" previousStep>Back</button>
    </wizard-step>

    <wizard-step optionalStep stepTitle="Impact" navigationSymbol="3">

        <h3>Impact</h3>

        <button type="button" nextStep>Continue</button>
        <button type="button" previousStep>Back</button>
    </wizard-step>

    <wizard-step optionalStep stepTitle="Adaptive capacity" navigationSymbol="4">

        <h3>Adaptive capacity</h3>

        <button type="button" nextStep>Continue</button>
        <button type="button" previousStep>Back</button>
    </wizard-step>

    <wizard-completion-step enableBackLinks stepTitle="Review" navigationSymbol="5">

        <h3>Review</h3>

        <button type="button" (click)="onWizardFinish()">Finish</button>
    </wizard-completion-step>
</wizard>
