<div class="step-header">
  <p *ngIf="isDisabled" class="alert alert-warning">
    You must match a hazard to a community system to complete this step.
  </p>
  <h3 class="step-title">Adaptive capacity</h3>
  <p *ngIf="!isDisabled">
    Determine how capable you think your city is at mitigating the future impact of <strong>{{ risk.weather_event?.name | lowercase }} on {{ risk.community_system?.name | lowercase }}</strong> here.
  </p>
</div>

<div class="step-content">
  <form [formGroup]="form">
    <div class="step-form-control">
      <label for="adaptive-capacity">Adaptive capacity <span class="required">Required</span></label>
      <app-option-dropdown id="adaptive-capacity"
                           [control]="form.controls['adaptive_capacity']"
                           [options]="capacityOptions"
                           [disabled]="isDisabled">
      </app-option-dropdown>
    </div>
    <div class="step-form-control">
      <label for="related-adaptive-values">Related adaptive values</label>
      <app-freeform-multiselect id="related-adaptive-values" formControlName="related_adaptive_values" [options]="adaptiveValues"></app-freeform-multiselect>
      <div *ngIf="form.controls.related_adaptive_values.errors">
        <span *ngIf="form.controls.related_adaptive_values.errors.server">
          *{{ form.controls.related_adaptive_values.errors.server }}
        </span>
      </div>
    </div>
    <div class="step-form-control">
      <label for="adaptive-capacity-description">Description</label>
      <textarea id="adaptive-capacity-description" formControlName="adaptive_capacity_description"></textarea>
    </div>
  </form>
</div>
<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button" 
            *ngIf="!risk?.id" 
            (click)="cancel()">Cancel</button>
    <button type="button" class="button" type="button" 
            *ngIf="risk?.id" 
            (click)="finish()">Finish later</button>
  </div>

  <div class="step-footer-navigation">
    <button type="button" class="button" nextStep>Skip Step</button>
    <button type="button" class="button button-primary" 
            [disabled]="form.invalid || !isStepComplete()" 
            nextStep>Continue</button>
  </div>
</footer>
