<div class="step-header">
  <p *ngIf="isDisabled" class="alert alert-warning">
    You must give this action a name to complete this step.
  </p>
  <h3 id="funding-title" class="step-title">Funding</h3>
  <p>
     How will you be funding this action? If you're not sure how to fund it,
     <a href="https://s3.amazonaws.com/temperate-public-documents/temperate-umd-financing-options.pdf" target="_blank">
      here are some ideas,
    </a>
    courtesy of the
    <a href="https://efc.umd.edu/" target="_blank">
      University of Maryland's Environmental Finance Center.
    </a>
  </p>
</div>

<div class="step-content">
  <form [formGroup]="form">
    <div class="form-control-container">
      <textarea formControlName="funding" aria-labelledby="funding-title"></textarea>
      <div class="form-control-hint">These details are not shared in any way with other municipalities, nor used by the application.</div>
    </div>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button-link"
            *ngIf="!action?.name"
            (click)="cancel()">Cancel</button>
    <button type="button" class="button-link"
            *ngIf="!!action?.name"
            (click)="finish()">Finish action later</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button"
            nextStep>Skip step</button>
    &nbsp;
    <button type="button" class="button button-primary"
            [disabled]="!form.valid"
            nextStep>Next</button>
  </div>
</footer>
