<div class="step-header">
  <h3 id="funding-title" class="step-title">Funding</h3>
  <p>How will you be funding this action? Once this action is created, you will have the opportunity to find funding for actions.</p>
</div>

<div class="step-content">
  <form [formGroup]="form">
    <div class="form-control-container">
      <textarea formControlName="funding" aria-labelledby="funding-title"></textarea>
      <div class="form-control-hint">These details are not shared in any way with other cities, nor used by the application. They are solely to fulfill requirements for the Global Covenant of Mayors</div>
    </div>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button" 
            *ngIf="!action?.name"
            (click)="cancel()">Cancel</button>
    <button type="button" class="button" 
            *ngIf="!!action?.name"
            (click)="finish()">Finish later</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button"  
            nextStep>Skip Step</button>
    <button type="button" class="button button-primary" 
            [disabled]="!form.valid" 
            nextStep>Continue</button>
  </div>
</footer>
