<div class="step-header">
  <h3>Funding</h3>
</div>
<div class="step-content">
  <form [formGroup]="form">
    <p>
      How will you be funding this action? Once this action is created, you will have the opportunity to find funding for actions.
    </p>
    <h4>Financial details</h4>
    <div class="action-card-financial-block">
      <textarea formControlName="funding"></textarea>
      <p>
        These details are not shared in any way with other cities, nor used by the application. They are solely a part of the Compact of Mayors
      </p>
    </div>
  </form>
</div>
<div class="step-footer">
  <button type="button"
          tabindex="3"
          [disabled]="!form.valid"
          nextStep>Continue</button>
  <button type="button" previousStep>Back</button>
</div>
