<div class="chart"
     [ngClass]="{'card': true, 'card-full': true, 'collapsed': isCollapsed}">
  <div class="card-header" role="tab" id="headingOne">
    <a class="add-top-concern">Add as top concern<i class="icon-question-circle-o"></i></a>
    <a (click)="isCollapsed = !isCollapsed">
      <h2 class="heading card-title">
        {{ indicator.label }}
        <i [ngClass]="{'accordion': true, 'icon-angle-right': isCollapsed, 'icon-angle-down': !isCollapsed}"></i>
      </h2>
    </a>
  </div>
  <div *ngIf="!isCollapsed" [collapse]="isCollapsed">
    <div class="card-block">
      <div class="chart-controls">
        <div class="chart-toggle">
          <span>Scenario</span>
          <ccc-scenario-toggle [scenario]="scenario"
                               (onScenarioSelected)="scenarioSelected($event)">
          </ccc-scenario-toggle>
        </div>
        <div class="chart-toggle">
          <span>Models</span>
          <ccc-model-modal [dataset]="dataset"
                           [models]="models"
                           (onModelsChanged)="modelsChanged($event)">
          </ccc-model-modal>
        </div>
        <div class="chart-toggle" *ngIf="indicator?.available_units">
          <span>Units:</span>
          <ccc-units-dropdown [unit]="unit"
                              [units]="indicator.available_units"
                              (unitSelected)="unitSelected($event)"></ccc-units-dropdown>
        <div class="chart-toggle">
          <span>Dataset</span>
          <ccc-dataset-toggle [dataset]="dataset"
                              [city]="city"
                              [models]="models"
                              (onDatasetSelected)="datasetSelected($event)">
          </ccc-dataset-toggle>
        </div>
      </div>
      <app-chart [indicator]="indicator"
             [city]="city"
             [models]="models"
             [dataset]="dataset"
             [scenario]="scenario"
             [unit]="unit"
             [extraParams]="extraParams"></app-chart>
    </div>
  </div>
</div>
