<div class="step-header">
  <h2 class="step-title">Choose your city&rsquo;s top hazards</h2>
  <p>The hazards selected here will give you a starting point in Temperate and establish a scope for your plan. You can always add additional hazards later.</p>
</div>

<div class="step-content">
  <form [formGroup]="form">
    <div class="concerns-header">
      <h3 class="concern-title">We recommend selecting 3–6 hazards</h3>
      <p class="concern-explanation">Some hazards are pre-selected based on your city's location 
        <span class="icon icon-question-circle"
              tooltip="{{ tooltipText.explainHazardConcerns }}">
        </span>
      </p>
    </div>
    <app-add-weather-events formControlName="selectedEvents"></app-add-weather-events>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button"
            previousStep>Previous</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button button-primary"
            nextStep [disabled]="form.invalid || !isStepComplete()">Next</button>
  </div>
</footer>
