<main class="main-content login-page" role="main">
  <section class="container-standard">
    <div class="container-content">
      <div *ngIf="activated" class="alert alert-positive">
        Your Temperate account is now active. Login to get started.
      </div>
      <div *ngIf="reset" class="alert alert-positive">
        Your Temperate password was reset. Login to get started.
      </div>
      <div *ngIf="resetExpired" class="alert alert-warning">
        The password reset link expired. Click &ldquo;Forgot Pasword&rdquo; to get another link sent to you.
      </div>
      <app-login-form></app-login-form>
    </div>
  </section>
</main>
