app-add-weather-events {
  .switch-list > .switch-item {
    &.selected {
      cursor: auto;
      &:hover {
        .icon-status:after {
          content: "\E869";
          color: $switch-checked-icon-color;
        }
      }
    }
  }
}
