app-add-weather-events {
  .list > .item {
    padding: 1rem;
    font-size: 24px;

    background-color: $gray-0;
    cursor: pointer;

    &:hover {
      background-color: $gray-1;
    }

    &.selected {
      background-color: $gray-1;
      cursor: auto;
    }

    .icon {
      color: $gray-3;
    }
  }
}
