app-option-dropdown {
  .dropdown-toggle .icon {
    margin-left: $space-medium;
  }

  .dropdown-menu {
    min-width: 32rem;
    max-width: 40rem;
  }

  .dropdown-menu > li {
    cursor: pointer;
    border-bottom: $dropdown-menu-border;

    > .dropdown-item {
      display: flex;
      flex-direction: column;
      white-space: normal;
      padding-top: $space-base;
      padding-bottom: $space-base;

      .dropdown-label {
        font-size: $dropdown-label-font-size;
        font-weight: $dropdown-label-font-weight;
      }

      .dropdown-description {
        font-size: $dropdown-description-font-size;
        padding-bottom: $space-small;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
