app-top-community-systems {
  .empty-state {
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 8rem;
      margin-bottom: $space-medium;
      background: url(../images/empty-states/community-concerns.svg) no-repeat center;
      background-size: contain;
    }
  }
}