<div class="btn-group" dropdown placement="bottom right">
  <button dropdownToggle type="button" class="button button-profile button-small dropdown-toggle">
    <i class="icon-user-circle"></i> <i class="icon-chevron-up"></i>
  </button>
  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
    <li role="menuitem">
      <a class="dropdown-item">
        {{ user.name() }}
        <p class="email">{{ user.email }}</p>
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="javascript:" routerLink="/settings" routerLinkActive="disabled">
        <i class="icon-cog"></i> Settings
      </a>
    </li>
    <li role="menuitem">
      <a class="dropdown-item" href="javascript:" (click)="logout()">
        <i class="icon-sign-out"></i>
        Log out
      </a>
    </li>
  </ul>
</div>
