<div class="step-intro">
  <p *ngIf="isDisabled" class="alert alert-warning">
    You must match a hazard to a community system to complete this step.
  </p>
  <h3 class="step-header">Impact</h3>
  <p *ngIf="!isDisabled">
    How will this hazard affect <strong>{{ risk.community_system?.name | lowercase }}</strong> over the next five years?
  </p>
</div>

<div class="step-content">
  <form [formGroup]="form">
    <div class="step-form-control">
      <label for="impact-magnitude">Potential Impact <span class="required">Required</span></label>
      <app-option-dropdown id="impact-magnitude"
                           [control]="form.controls['impact_magnitude']"
                           [options]="relativeOptions"
                           [disabled]="isDisabled">
      </app-option-dropdown>
    </div>
    <div class="step-form-control">
      <label for="impact-description">Description <span class="required">Required</span></label>
      <textarea id="impact-description" formControlName="impact_description" required></textarea>
    </div>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button" 
            *ngIf="!risk?.id" 
            (click)="cancel()">Cancel</button>
    <button type="button" class="button" 
            *ngIf="risk?.id" 
            (click)="finish()">Finish later</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button" 
            nextStep>Skip Step</button>
    <button type="button" class="button button-primary" 
            [disabled]="form.invalid || !isStepComplete()"
            nextStep>Continue</button>
  </div>
</footer>