<div class="step-header">
  <p *ngIf="isDisabled" class="alert alert-warning">
    You must match a hazard to a community system to complete this step.
  </p>

  <h3>Impact</h3>
  <!--TODO (issue #366): Calculate # years from plan's goal date -->
  <p *ngIf="!isDisabled">
    How will this hazard affect <strong>{{ risk.community_system?.name | lowercase }}</strong> over the next five years?
  </p>
</div>
<div class="step-content">
  <form [formGroup]="form">
    <div class="step-form-control">
      <h5>Potential Impact</h5>
        <app-option-dropdown [control]="form.controls['impact_magnitude']"
                             [options]="relativeOptions"
                             [disabled]="isDisabled">
        </app-option-dropdown>
    </div>
    <div class="step-form-control">
      <h5>Impact Description</h5>
      <textarea formControlName="impact_description" required></textarea>
    </div>
  </form>
</div>
<div class="step-footer">
  <div class="step-footer-exit">
    <button *ngIf="!risk?.id" type="button" tabindex="4" (click)="cancel()">Cancel</button>
    <button *ngIf="risk?.id" type="button" tabindex="4" (click)="finish()">Finish later</button>
  </div>

  <div class="step-footer-navigation">
    <button type="button" nextStep>Skip Step</button>
    <button type="button" nextStep [disabled]="form.invalid || !isStepComplete()">Continue</button>
  </div>
</div>
