<div class="step-intro">
  <h3 class="step-header">Review</h3>
</div>
<div class="step-content">
  <section class="review-step">
    <div class="review-section-header-container">
      <h4 class="review-section-header">Overview</h4>
      <button class="button button-icon icon-edit" goToStep="0"></button>
    </div>
    <div class="review-item"
         [ngClass]="{warning: !action.name}">
      <span class="answer-label">Description: </span>
      <div class="review-description">{{ action.name || '--' }}</div>
    </div>
    <div class="review-item">
      <span class="answer-label">Risk: </span>
      {{ risk?.weather_event?.name || '--' }} on {{ risk?.community_system?.name || '--' | lowercase }}
    </div>
  </section>

  <section class="review-step">
    <div class="review-section-header-container">
      <h4 class="review-section-header">Details</h4>
      <button class="button button-icon icon-edit" goToStep="1"></button>
    </div>
    <div class="review-item"
         [ngClass]="{warning: !action.action_type}">
      <span class="answer-label">Type of action: </span>
      {{ action.action_type || '--' }}
    </div>
    <div class="review-item"
         [ngClass]="{warning: !action.action_goal}">
      <span class="answer-label">Action goal: </span>
      {{ action.action_goal || '--' }}
    </div>
    <div class="review-item"
         [ngClass]="{warning: !action.implementation_details}">
      <span class="answer-label">Implementation details: </span>
      <div class="review-description">{{ action.implementation_details || '--' }}</div>
    </div>
    <div class="review-item">
      <span class="answer-label">Public/Private: </span>
      {{ action.visibility | titlecase }}
    </div>
  </section>

  <section class="review-step">
    <div class="review-section-header-container">
      <h4 class="review-section-header">Outcomes</h4>
      <button class="button button-icon icon-edit" goToStep="2"></button>
    </div>
    <div class="review-item"
         [ngClass]="{warning: !action.improvements_adaptive_capacity}">
      <span class="answer-label">Effect on adaptive capacity: </span>
      <div class="review-description">{{ action.improvements_adaptive_capacity || '--' }}</div>
    </div>
    <div class="review-item"
         [ngClass]="{warning: !action.improvements_impacts }">
      <span class="answer-label">Reduction in potential impact: </span>
      <div class="review-description">{{ action.improvements_impacts || '--' }}</div>
    </div>
    <div class="review-item"
         [ngClass]="{warning: !action.collaborators }">
      <span class="answer-label">Collaborators</span>
      <div *ngIf="!action.collaborators?.length">--</div>
      <div class="multiselect" *ngIf="action.collaborators?.length">
        <div class="selected-option" *ngFor="let collaborator of action.collaborators">
            {{ collaborator }}
        </div>
      </div>
    </div>
  </section>

  <section class="review-step">
    <div class="review-section-header-container">
      <h4 class="review-section-header">Categories</h4>
      <button class="button button-icon icon-edit" goToStep="3"></button>
    </div>
    <div class="review-item"
         [ngClass]="{warning: !action.categories}">
      <span class="answer-label">Categories: </span>
      <div *ngIf="!action.categories?.length">--</div>
      <div class="multiselect" *ngIf="action.categories?.length">
        <div class="selected-option" *ngFor="let category of action.categories">
            {{ category.name }}
        </div>
      </div>
    </div>
  </section>

  <section class="review-step">
    <div class="review-section-header-container">
      <h4 class="review-section-header">Funding</h4>
      <button class="button button-icon icon-edit" goToStep="4"></button>
    </div>
    <div class="review-item"
         [ngClass]="{warning: !action.funding}">
      <span class="answer-label">Funding: </span>
      <div class="review-description">{{ action.funding || '--' }}</div>
    </div>
  </section>

  <div class="review-feedback warning" *ngIf="!action.isComplete()">
    <p class="review-feedback-header">This is a great start</p>
    <p>You've filled out the most important parts of your action, but there are still a few details that would be helpful to fill out, which are highlighted in yellow.</p>
    <ul class="feedback-steps">
      <li>
        <span class="icon icon-funding"></span>
        <div>
          <p class="feedback-header">Get funding for this action</p>
          <p>When you fill out more information, you can apply for funding.</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="review-feedback success" *ngIf="action.isComplete()">
    <p class="review-feedback-header">This looks good!</p>
    <p>You've developed a well-considered action that addresses this risk. You now have the following options:</p>
    <ul class="feedback-steps">
      <li>
        <span class="icon icon-edit"></span>
        <div>
          <p class="feedback-header">Create another action</p>
          <p>You still have more assessed risks to develop actions to counteract.</p>
        </div>
      </li>
      <li>
        <span class="icon icon-funding"></span>
        <div>
          <p class="feedback-header">Get funding for this action</p>
          <p>This action will appear on your Adaptation Actions page. Click on the $ icon to find funding.</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button button-secondary"   
            *ngIf="!action?.name"
            (click)="cancel()">Cancel</button>
    <button type="button" class="button button-secondary"  
            *ngIf="!!action?.name"
            (click)="finish()">Finish later</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button button-primary"   
            *ngIf="!action?.name"
            (click)="finish()">Finish</button>
  </div>
</footer>