<div class="main-container">
  <main class="main-content" role="main">
    <header class="page-header">
      <h1 class="page-title-small">Your Adaptive Plan</h1>
      <h2 class="page-title-large">Dashboard</h2>
    </header>

    <section class="dashboard-container">
      <div class="dashboard-content">
        <div class="dashboard-loader loading-wrapper" *ngIf="this.groupedRisks === undefined">
          <div class="loading loading-spinner loading-large loading-primary"></div>
        </div>

        <div class="dashboard-empty" *ngIf="this.groupedRisks?.length === 0">
          <h4 class="empty-state-header">You haven&rsquo;t started your assessment yet</h4>
          <p class="empty-state-text">
            To get started, <button type="button" class="button-link" (click)="openModal(weatherEventsModal)">add some hazards</button>
            your city is concerned about.
          </p>
        </div>

        <app-grouped-risk
            *ngFor="let risks of groupedRisks"
            [risks]="risks"
            [weatherEvent]="risks[0].weather_event">
        </app-grouped-risk>

        <footer class="dashboard-footer" *ngIf="this.groupedRisks?.length">
          <button type="button" class="button"
                  (click)="openModal(weatherEventsModal)">Add a hazard</button>
        </footer>
      </div>
    </section>

    <aside class="dashboard-sidebar">
      <div class="aside-block-container">
        <app-city-profile-summary></app-city-profile-summary>
      </div>
      <div class="aside-block-container">
        <div class="aside-block">
          <h3 class="aside-title">Review</h3>
          <p>Review your plan in its entirety or submit a completed plan to ICLEI-USA for review.</p>
          <a routerLink="/review-plan">Review your plan</a>
          <footer class="aside-footer">
            <button class="button button-small"
               (click)="planService.export()"
               tooltip="Download your plan as a CSV">Download</button>
            <app-submit-plan-button class="button button-small">
              Submit
            </app-submit-plan-button>
          </footer>
        </div>
      </div>
    </aside>

  </main>
</div>

<app-modal-template #weatherEventsModal title="Add hazard">
  <app-add-weather-events [formControl]="selectedEventsControl"
                          [readOnlyEvents]="weatherEventsAtLastSave"></app-add-weather-events>
  <footer class="modal-footer">
    <button class="button button-primary"
            (click)="saveWeatherEventsModal(weatherEventsModal)">Save</button>
    <button class="button"
            (click)="cancelModal(weatherEventsModal)">Cancel</button>
  </footer>
</app-modal-template>

<app-modal-template #trialWarningModal
                    [modalOptions]="{ignoreBackdropClick: false, keyboard: true}"
                    title="Your trial is ending">
  <p>
    You have
    <span *ngIf="trialDaysRemaining !== 1">{{ trialDaysRemaining }} more days</span>
    <span *ngIf="trialDaysRemaining === 1">1 more day</span>
    in your free trial! Upgrade to continue using Temperate
  </p>
  <div class="modal-footer">
    <div class="button-group">
      <button class="button button-primary"
              (click)="upgradeSubscription()">Upgrade</button>
      <button class="button"
              (click)="cancelModal(trialWarningModal)">Not now</button>
    </div>
  </div>
</app-modal-template>
