<div class="step-intro">  
  <p *ngIf="isDisabled" class="alert alert-warning">
    You must match a hazard to a community system to complete this step.
  </p>
  <h3 class="step-header">Hazard</h3>
  <p *ngIf="!isDisabled">
    How will <strong>{{ risk.weather_event.name | lowercase }}</strong> change over time?
  </p>
</div>
<div class="step-content">
  <div class="icon-related-indicators tooltip-wrapper" *ngIf="risk.weather_event?.indicators"
       tooltip="{{ relatedIndicatorsTooltip() }}">
    <button class="button button-positive button-icon-left"
            [disabled]="!indicators?.length"
            (click)="indicatorsModal.open()"><i class="icon-indicators"></i><span class="slide-text">View related indicators</span></button>
  </div>
  <form [formGroup]="form">
    <div class="step-form-control">
      <label for="probability">Probability <span class="required">Required</span></label>
        <app-option-dropdown id="probability"
                             [control]="form.controls['probability']"
                             [options]="relativeOptions"
                             [disabled]="isDisabled">
        </app-option-dropdown>
    </div>
    <fieldset class="step-form-control">
      <label>Frequency <span class="icon icon-question-circle" tooltip="{{ tooltipText.frequency }}"></span> <span class="required">Required</span></label>
      <div class="button-group" role="group">
        <button class="button"
                [disabled]="isDisabled"
                [ngClass]="{active: form.controls.frequency.value === opt}"
                *ngFor="let opt of directionalOptionsKeys"
                (click)="updateDirectionalControl(form.controls.frequency, opt)">
          {{ directionalOptions.get(opt)?.label }}
        </button>
      </div>
    </fieldset>
    <fieldset class="step-form-control">
      <label>Intensity <span class="icon icon-question-circle" tooltip="{{ tooltipText.intensity }}"></span> <span class="required">Required</span></label>
      <div class="button-group" role="group">
        <button class="button"
                [disabled]="isDisabled"
                [ngClass]="{active: form.controls.intensity.value === opt}"
                *ngFor="let opt of directionalOptionsKeys"
                (click)="updateDirectionalControl(form.controls.intensity, opt)">
          {{ directionalOptions.get(opt)?.label }}
        </button>
      </div>
    </fieldset>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button" 
            *ngIf="!risk?.id" 
            (click)="cancel()">Cancel</button>
    <button type="button" class="button" 
            *ngIf="risk?.id" 
            (click)="finish()">Finish later</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button" 
            nextStep>Skip Step</button>
    <button type="button" class="button button-primary" 
            [disabled]="form.invalid || !isStepComplete()" 
            nextStep>Continue</button>
  </div>
</footer>


<app-modal-template #indicatorChartModal
    title="Viewing indicators related to {{ risk.weather_event?.name | lowercase }}">

  <app-force-collapse-chart-container
      [indicators]="indicators"
      [city]="city">
  </app-force-collapse-chart-container>
</app-modal-template>
