<div class="step-header">
  <div *ngIf="isDisabled" class="alert alert-warning">
    You must match a hazard to a community system to complete this step.
  </div>
  <h3 class="step-title">Hazard</h3>
  <p *ngIf="!isDisabled">
    How will <strong>{{ risk.weather_event.name | lowercase }}</strong> change over time?
    <span class="icon icon-question-circle"
          tooltip="{{ probabilityTooltipText }}">
    </span>
  </p>
</div>

<div class="step-content">
  <div class="icon-related-indicators tooltip-wrapper" *ngIf="risk.weather_event?.indicators"
       tooltip="{{ relatedIndicatorsTooltip() }}">
    <button class="button button-positive button-icon-left"
            [disabled]="!indicators?.length"
            (click)="indicatorsModal.open()"><i class="icon-indicators"></i><span class="slide-text">Climate data</span></button>
  </div>
  <form [formGroup]="form">
    <div class="form-control-container">
      <label for="probability">Probability of this hazard occurring</label>
      <app-option-dropdown buttonId="probability"
                           [control]="form.controls['probability']"
                           [options]="relativeOptions"
                           [disabled]="isDisabled">
      </app-option-dropdown>
    </div>
    <div class="form-control-container">
      <label>How often do you expect this hazard to occur in the next five years?</label>
      <div class="button-group" data-toggle="buttons" role="radiogroup">
        <button class="button button-primary" role="radio"
                [disabled]="isDisabled"
                [ngClass]="{active: form.controls.frequency.value === opt}"
                *ngFor="let opt of directionalFrequencyOptionsKeys"
                (click)="updateDirectionalControl(form.controls.frequency, opt)">
          {{ frequencyOptions.get(opt)?.label }}
        </button>
      </div>
    </div>
    <div class="form-control-container">
      <label>How intense do you expect this hazard to be in the next five years?</label>
      <div class="button-group" role="group">
        <button class="button button-primary" role="radio"
                [disabled]="isDisabled"
                [ngClass]="{active: form.controls.intensity.value === opt}"
                *ngFor="let opt of directionalIntensityOptionsKeys"
                (click)="updateDirectionalControl(form.controls.intensity, opt)">
          {{ intensityOptions.get(opt)?.label }}
        </button>
      </div>
    </div>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button-link"
            *ngIf="!risk?.id"
            (click)="cancel()">Cancel</button>
    <button type="button" class="button-link"
            *ngIf="risk?.id"
            (click)="finish()">Finish assessment later</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button"
            nextStep>Skip step</button>
    <button type="button" class="button button-primary"
            [disabled]="form.invalid || !isStepComplete()"
            nextStep>Next</button>
  </div>
</footer>


<app-modal-template #indicatorChartModal
    title="Climate data related to {{ risk.weather_event?.name | lowercase }}">

  <app-force-collapse-chart-container
      [indicators]="indicators"
      [city]="city">
  </app-force-collapse-chart-container>
</app-modal-template>
