<div class="step-header">
  <h2 class="center">Invite colleagues</h2>
</div>
<div class="step-content" [formGroup]="form">
  Invitation step
  <app-user-emails formControlName="invites" [errors]="inviteErrors"></app-user-emails>
  <div *ngIf="form.controls.invites.errors">
    <span *ngIf="form.controls.invites.errors.server">
      *{{ form.controls.invites.errors.server }}
    </span>
  </div>
</div>
<div class="step-footer">
  <button type="button"
          class="button button-primary"
          (click)="confirm()">
    <span *ngIf="!shouldSkip()">
      Send {{ form.controls.invites.value.length }}
      {{ form.controls.invites.value.length === 1 ? 'invite' : 'invites' }}
      and continue
    </span>
    <span *ngIf="shouldSkip()">
      Skip
    </span>
  </button>
</div>
