<div class="input-group" *ngIf="!isDisabled">
  <input class="form-control" placeholder="Type to search. Add new item by clicking the +"
         [attr.id]="inputId"
         autocomplete="off"
         [(ngModel)]="selected"
         (typeaheadOnSelect)="add()"
         [typeahead]="availableOptions"
         [typeaheadMinLength]="1"
         [typeaheadScrollable]="true"
         [typeaheadOptionsInScrollableView]="5"
         [typeaheadOptionsLimit]="100"
         [container]="'body'">
  <button class="button button-icon" type="button" (click)="add()"><i class="icon-plus"></i></button>
</div>
<div class="input-group" *ngIf="isDisabled">
  <input class="form-control" placeholder="Type to search. Add new item by clicking the +" disabled [attr.id]="inputId">
  <button class="button button-icon" type="button" disabled><i class="icon-plus"></i></button>
</div>
<div>
  <div *ngFor="let option of selectedOptions" class="selected-option">
    {{ option }}
    <button type="button" class="button button-icon-only" aria-label="Close"
            (click)="remove(option)" title="Remove">
      <i class="icon-cancel"></i>
    </button>
  </div>
</div>
