<div class="input-group" *ngIf="!isDisabled">
  <input #typeahead=bs-typeahead
         class="form-control"
         placeholder="Type to search. Add new item by clicking the +"
         (keyup.enter)="onEnter()"
         [attr.id]="inputId"
         autocomplete="off"
         [(ngModel)]="selected"
         (typeaheadOnSelect)="onSelect($event)"
         (change)="onUnsavedChange()"
         [typeahead]="availableOptions"
         [typeaheadMinLength]="0"
         [typeaheadIsFirstItemActive]="false"
         [typeaheadScrollable]="true"
         [typeaheadOptionsInScrollableView]="5"
         [typeaheadOptionsLimit]="100"
         [container]="'body'">
  <button class="button button-icon" type="button" [disabled]="!selected.length" (click)="onAdd()"><i class="icon-plus"></i></button>
</div>
<div class="input-group" *ngIf="isDisabled">
  <input class="form-control" placeholder="Type to search. Add new item by clicking the +" disabled [attr.id]="inputId">
  <button class="button button-icon" type="button" disabled><i class="icon-plus"></i></button>
</div>
<div>
  <ng-template ngFor let-option [ngForOf]="selectedOptions">
    <div *ngIf="option !== unsaved" class="selected-option">
      {{ option }}
      <button type="button" class="button-icon-only" aria-label="Close"
              (click)="remove(option)" title="Remove">
        <i class="icon-cancel"></i>
      </button>
    </div>
  </ng-template>
</div>
