<div class="container wizard-header"
      *ngIf="identifyStep.weather_event?.name && identifyStep.community_system?.name">
  <p class="row">Assess the effect of</p>
  <div class="row">
    <h2>
      {{ identifyStep.weather_event.name }} on {{ identifyStep.community_system.name }}
    </h2>
  </div>
</div>
<wizard #wizard
        navigationMode="free"
        navBarLocation="left"
        navBarLayout="large-filled-symbols"
        class="custom-steps">
  <app-risk-step-identify class="wizard-step"
                          #identifyStep
                          wizardStep
                          optionalStep
                          [canExit]="identifyStep.save"
                          navigationSymbol="{{ identifyStep.navigationSymbol }}">
    <ng-template wizardStepTitle>
      <span class="step-number" [ngClass]="{'complete': identifyStep.isStepComplete()}">1</span>
      {{ identifyStep.title }}
    </ng-template>
  </app-risk-step-identify>

  <app-risk-step-hazard class="wizard-step"
                        #hazardStep
                        wizardStep
                        optionalStep
                        [canExit]="hazardStep.save"
                        navigationSymbol="{{ hazardStep.navigationSymbol }}">
    <ng-template wizardStepTitle>
      <span class="step-number" [ngClass]="{'complete': hazardStep.isStepComplete()}">2</span>
      {{ hazardStep.title }}
    </ng-template>
  </app-risk-step-hazard>

  <app-risk-step-impact class="wizard-step"
                        #impactStep
                        wizardStep
                        optionalStep
                        [canExit]="impactStep.save"
                        navigationSymbol="{{ impactStep.navigationSymbol }}">
    <ng-template wizardStepTitle>
      <span class="step-number" [ngClass]="{'complete': impactStep.isStepComplete()}">3</span>
      {{ impactStep.title }}
    </ng-template>
  </app-risk-step-impact>

  <app-risk-step-capacity class="wizard-step"
                          #capacityStep
                          wizardStep
                          optionalStep
                          [canExit]="capacityStep.save"
                          navigationSymbol="{{ capacityStep.navigationSymbol }}">
    <ng-template wizardStepTitle>
      <span class="step-number" [ngClass]="{'complete': capacityStep.isStepComplete()}">4</span>
      {{ capacityStep.title }}
    </ng-template>
  </app-risk-step-capacity>

  <app-risk-step-review class="wizard-step"
                        #reviewStep
                        wizardCompletionStep
                        enableBackLinks
                        navigationSymbol="{{ reviewStep.navigationSymbol }}">
    <ng-template wizardStepTitle>
      <span class="step-number" [ngClass]="{
          'complete': identifyStep.isStepComplete() && hazardStep.isStepComplete()
                      && impactStep.isStepComplete() && capacityStep.isStepComplete()
        }">5</span>
      {{ reviewStep.title }}
    </ng-template>
  </app-risk-step-review>
</wizard>
