<wizard #wizard
        navigationMode="free"
        navBarLocation="left"
        navBarLayout="large-filled-symbols">
  <app-risk-step-identify class="wizard-step"
                          #identifyStep
                          wizardStep
                          optionalStep
                          [canExit]="identifyStep.save"
                          stepTitle="{{ identifyStep.title }}"
                          navigationSymbol="{{ identifyStep.navigationSymbol }}">
  </app-risk-step-identify>

  <app-risk-step-hazard class="wizard-step"
                        #hazardStep
                        wizardStep
                        optionalStep
                        [canExit]="hazardStep.save"
                        stepTitle="{{ hazardStep.title }}"
                        navigationSymbol="{{ hazardStep.navigationSymbol }}">
  </app-risk-step-hazard>

  <app-risk-step-impact class="wizard-step"
                        #impactStep
                        wizardStep
                        optionalStep
                        [canExit]="impactStep.save"
                        stepTitle="{{ impactStep.title }}"
                        navigationSymbol="{{ impactStep.navigationSymbol }}">
  </app-risk-step-impact>

  <app-risk-step-capacity class="wizard-step"
                          #capacityStep
                          wizardStep
                          optionalStep
                          [canExit]="capacityStep.save"
                          stepTitle="{{ capacityStep.title }}"
                          navigationSymbol="{{ capacityStep.navigationSymbol }}">
  </app-risk-step-capacity>

  <app-risk-step-review class="wizard-step"
                        #reviewStep
                        wizardCompletionStep
                        enableBackLinks
                        stepTitle="{{ reviewStep.title }}"
                        navigationSymbol="{{ reviewStep.navigationSymbol }}">
  </app-risk-step-review>
</wizard>
