<div class="aside-block">
  <!-- All complete -->
  <div class="aside-content none-inprogress" *ngIf="isDone(required) && isDone(overall)">
    <h3 class="aside-title" (click)="updateSummaries()">
      <span class="icon icon-ok-circled icon-finished-section"></span>
      City profile
    </h3>
    <a routerLink="/city-profile" class="button button-small">Manage</a>
  </div>
  
  <!-- At least partially incomplete -->
  <h3 class="aside-title" 
      (click)="updateSummaries()" 
      *ngIf="!isDone(required) || !isDone(overall)">
    City profile</h3>
  
  <!-- All in progress -->
  <div class="aside-content all-inprogress" *ngIf="!isDone(required) && !isDone(overall)">
    <p>Enter information about your city, including any long-term goals you hope to achieve</p>
    <div class="profile-progress-container required-progress">
      <div class="progress-circle"
           [ldProgressbar]="required.complete"
           [ldProgressbarMax]="required.total"
           ldProgressbarLabelType="number">
      </div>
      <span class="progress-title">Required</span>
    </div>

    <div class="profile-progress-container overall-progress">
      <span class="progress-number">{{ percentage(overall) }}%</span>
      <span class="progress-title">Overall</span>
    </div>
  </div>

  <!-- Required fields complete -->
  <div class="aside-content overall-inprogress" *ngIf="isDone(required) && !isDone(overall)">
    <div class="profile-progress-container required-progress">
      <span class="icon icon-ok-circled icon-finished-section"></span>
      <span class="progress-title">Required</span>
    </div>

    <div class="profile-progress-container overall-progress">
      <span class="progress-number">{{ percentage(overall) }}%</span>
      <span class="progress-title">Overall</span>
    </div>
  </div>

  <div class="aside-footer" *ngIf="!isDone(required) || !isDone(overall)">
    <a routerLink="/city-profile" class="button button-small">Manage</a>
  </div>
</div>
