<div class="step-header">
  <p *ngIf="isDisabled" class="alert alert-warning">
    You must give this action a name to complete this step.
  </p>
  <h3 class="step-title">Details</h3>
  <p>
    Please add some context to this action. You might include what type of work it
    entails, if it fits into one or more of the city&rsquo;s larger adaptation goals,
    and the other people, departments, organizations, and stakeholders you&rsquo;ll
    need to work with to make it happen.
  </p>
</div>

<div class="step-content">
  <form [formGroup]="form">
    <div class="form-control-container">
      <label for="action-type">Type of action</label>
      <input id="action-type"
             type="text"
             class="form-control"
             autocomplete="off"
             formControlName="action_type"
             [typeahead]="actionTypes"
             [typeaheadMinLength]="0">
    </div>
    <div class="form-control-container">
      <label for="action-goal">Action goal</label>
      <input id="action-goal" type="text" class="form-control" formControlName="action_goal">
    </div>
    <div class="form-control-container">
      <label for="implementation-details">Implementation details</label>
      <textarea id="implementation-details" formControlName="implementation_details"></textarea>
    </div>
    <div class="form-control-container">
      <label for="share">
        Share with other Temperate users
        <span class="icon icon-question-circle"
              tooltip="Shared actions can be adapted by other organizations in Temperate for their own adaptation plans">
        </span>
      </label>
      <div id="share" class="button-group form-control-container" data-toggle="buttons" role="radiogroup">
        <button class="button button-primary" role="radio"
                [disabled]="isDisabled"
                [ngClass]="{active: !form.controls['isPublic'].value}"
                (click)="updateIsPublic(false)">
          Keep private
        </button>
        <button class="button button-primary" role="radio"
                [disabled]="isDisabled"
                [ngClass]="{active: form.controls['isPublic'].value}"
                (click)="updateIsPublic(true)">
          Share action
        </button>
      </div>
    </div>
    <div class="form-control-container">
      <label for="notes">Notes</label>
      <textarea id="notes" formControlName="notes"></textarea>
    </div>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-exit">
    <button type="button" class="button-link"
            *ngIf="!action?.name"
            (click)="cancel()">Cancel</button>
    <button type="button" class="button-link"
            *ngIf="!!action?.name"
            (click)="finish()">Finish action later</button>
  </div>
  <div class="step-footer-navigation">
    <button type="button" class="button"
            nextStep>Skip step</button>
    <button type="button" class="button button-primary"
            [disabled]="!form.valid"
            nextStep>Next</button>
  </div>
</footer>
