<div class="step-header">
  <h3>Action Details</h3>
  <p>Add copy text here that talks about what action details means.</p>
</div>
<div class="step-content">
  <form [formGroup]="form">
    <div class="step-form-control">
      <label for="step-implementation-action-type">Type of action</label>
      <input id="step-implementation-action-type"
             type="text"
             formControlName="action_type"
             [typeahead]="actionTypes"
             [typeaheadMinLength]="0">
    </div>
    <div class="step-form-control">
      <label for="step-implementation-action-goal">Action goal</label>
      <input id="step-implementation-action-goal" type="text" formControlName="action_goal">
    </div>
    <div class="step-form-control">
      <label for="step-implementation-details">Implementation details</label>
      <textarea id="step-implementation-details" formControlName="implementation_details"></textarea>
    </div>
    <div class="step-form-control">
      <div>Share with other cities
        <span class="icon icon-question-circle"
              tooltip="{{ tooltipText.shareWithCities }}">
        </span>
      </div>
      <div class="btn-group">
        <button class="btn btn-primary"
                [ngClass]="{active: form.controls['isPublic'].value}"
                (click)="updateIsPublic(true)">
          Public
        </button>
        <button class="btn btn-primary"
                [ngClass]="{active: !form.controls['isPublic'].value}"
                (click)="updateIsPublic(false)">
          Private
        </button>
      </div>
    </div>
    <div class="step-form-control">
      <label for="step-implementation-notes">Notes</label>
      <textarea id="step-implementation-notes" formControlName="notes"></textarea>
    </div>
  </form>
</div>
<div class="step-footer">
  <button type="button"
          class="step-footer-exit"
          tabindex="2"
          *ngIf="!action?.name"
          (click)="cancel()">Cancel</button>
  <button type="button"
          class="step-footer-exit"
          tabindex="2"
          *ngIf="!!action?.name"
          (click)="finish()">Finish later</button>
  <div class="step-footer-navigation">
    <button type="button" nextStep>Skip Step</button>
    <button type="button" [disabled]="!form.valid" nextStep>Continue</button>
  </div>
</div>
