/* * * *
 * Typography
 * * * */
body {
  font-size: $font-size-body;
  line-height: $body-line-height;
  color: $body-font-color;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
}

.text-jumbo {
  font-size: $text-jumbo;
}

.text-display {
  font-size: $text-display;
}

.text-large {
  font-size: $text-large;
}

.text-medium {
  font-size: $text-medium;
}


.text-base {
  font-size: $text-base;
}

.text-small {
  font-size: $text-small;
}

.text-tiny {
  font-size: $text-tiny;
}
h1, h2, h3, h4, h5, h6 {
  line-height: $heading-line-height;
  color: $heading-font-color;
  font-family: $heading-font-family;
  margin-top: 0;
  margin-bottom: $heading-margin-bottom;
  font-weight: $heading-font-weight;
}

p {
  margin-top: 0;
  margin-bottom: $paragraph-margin;
}
.paragraph-intro {
  font-size: $text-base;
}

small, .small {
  font-size: 85%;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul, ol, dt {
  margin-top: 0;
  margin-bottom: $paragraph-margin;
}

pre, code {
  font-family: $monospace-font-family;
}

figcaption {
  font-family: $body-font-family;
  text-transform: uppercase;
  max-width: 15rem;
  margin: 0 auto;
}
