<div class="action-card">
  <div class="action-card-header btn-group" dropdown>
    <button dropdownToggle type="button" class="button button dropdown-toggle">
      <span class="icon-ellipsis"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                  <li role="menuitem">
                    <a class="dropdown-item">View</a>
                  </li>
                  <li role="menuitem">
                    <a class="dropdown-item">Edit</a>
                  </li>
                  <li role="menuitem">
                    <a class="dropdown-item" (click)="deleteAction(action)">Remove</a>
                  </li>
    </ul>
  </div>
  <div class="action-card-content">
    <h4>Action</h4>
    <h3>{{ action.name }}</h3>
    <h4>Risk</h4>
    <h3>{{ risk.weatherEvent.name }} on {{ risk.communitySystem.name }}</h3>
    <div *ngIf="action.categories.length" class="categories">
      <h5>Categories</h5>
      <i *ngFor="let category of action.categories"
         class="{{ category.icon }}"
         tooltip="{{ category.description }}"
         placement="bottom"></i>
    </div>
  </div>
</div>
