<div class="card card-full action-card"
      [tooltip]="!isOpen ? 'Click for details' : null"
      placement="top"
      container="body"
      [ngClass]="{'action-card-closed': !isOpen}">
  <header class="card-header" 
     (click)="actionCardToggled()">
    <h3 class="card-title">
      <span class="action-priority">
        <va-adaptive-need-box 
          [adaptiveCapacity]="risk.adaptive_capacity"
          [popoverPlacement]="'right'"
          [potentialImpact]="risk.impact_magnitude">
        </va-adaptive-need-box>
      </span>
      {{ risk.community_system.name }}
    </h3>
    <div class="action-peek" *ngIf="!isOpen">{{ action.name }}</div>
  </header>
  
  <div class="button-group more-button" dropdown>
    <button dropdownToggle type="button" class="button-icon-only dropdown-toggle">
      <span class="icon-ellipsis-h"></span>
    </button>

    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
      <li role="menuitem">
        <a class="dropdown-item" [routerLink]="['action', action.id]" [queryParams]="{step: 'review'}">View</a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" [routerLink]="['action', action.id]">Edit</a>
      </li>
      <div class="divider"></div>
      <li class="action-destructive" role="menuitem">
        <a class="dropdown-item" (click)="deleteAction()">Remove</a>
      </li>
    </ul>
  </div>

  <div class="card-content" *ngIf="isOpen">
    <div class="action-name">
      <div class="action-name-title card-content-title">Action</div>
      <div class="action-name-value card-content-value">
        <p *ngFor="let line of actionNameLines">
          {{ line }}
        </p>
      </div>
    </div>

    <div class="action-details">
      <div class="detail-container" *ngIf="action.action_type.length">
          <div class="detail-title card-content-title">Type of action</div>
          <div class="detail-value card-content-value">
            {{ action.action_type }}
          </div>
      </div>

      <div class="detail-container" *ngIf="action.categories.length">
        <div class="detail-title card-content-title">Categories</div>
        <div class="detail-content categories">
          <span *ngFor="let category of action.categories"
             class="icon category-icon {{ category.icon }}"
             tooltip="{{ category.name }}"
             placement="bottom"></span>
        </div>
      </div>
    </div>
  </div>
</div>
