/* Border-Box */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.contact-iclei {
  float: right;
  font-size: 55px;
  color: $brand-primary;
  cursor: pointer;
  margin-right: 30px;
}
