@font-face {
  font-family: 'National';
  src: url('../fonts/national/NationalWeb-Light.eot');
  src: url('../fonts/national/NationalWeb-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/national/NationalWeb-Light.woff2') format('woff2'),
       url('../fonts/national/NationalWeb-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'National';
  src: url('../fonts/national/NationalWeb-LightItalic.eot');
  src: url('../fonts/national/NationalWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/national/NationalWeb-LightItalic.woff2') format('woff2'),
       url('../fonts/national/NationalWeb-LightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'National';
  src: url('../fonts/national/NationalWeb-Regular.eot');
  src: url('../fonts/national/NationalWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/national/NationalWeb-Regular.woff2') format('woff2'),
       url('../fonts/national/NationalWeb-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'National';
  src: url('../fonts/national/NationalWeb-RegularItalic.eot');
  src: url('../fonts/national/NationalWeb-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/national/NationalWeb-RegularItalic.woff2') format('woff2'),
       url('../fonts/national/NationalWeb-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'National';
  src: url('../fonts/national/NationalWeb-Bold.eot');
  src: url('../fonts/national/NationalWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/national/NationalWeb-Bold.woff2') format('woff2'),
       url('../fonts/national/NationalWeb-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
