<a class="button button-primary" (click)="openModal(addCityTemplate)">City not available?</a>

<ng-template #addCityTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Request Your City's Data</h4>
  </div>
  <div class="container">
    <form [formGroup]="cityForm"
          (ngSubmit)="changeTemplate(submittedForm)">
      <div class="modal-body">
        <p>If Temperate doesn't offer your city yet, we can.</p>
        <div class="row form-group">
          <div class="col-sm-2">
            <label for="city">Subject</label>
          </div>
          <div class="col-sm-5">
            <input class="form-control" maxlength="200" name="subject" size="20" type="text"
              [formControl]="cityForm.controls.subject">
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-2">
            <label for="city">City</label>
          </div>
          <div class="col-sm-5">
            <input name="city" type="text" class="form-control" [formControl]="cityForm.controls.city" required autofocus>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-2">
            <label for="state">State</label>
          </div>
          <div class="col-sm-5">
            <input name="state" class="form-control" [formControl]="cityForm.controls.state" required>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-sm-2">
            <label for="description">Description</label>
          </div>
          <div class="col-sm-5">
            <textarea name="description" class="form-control" [formControl]="cityForm.controls.description"></textarea>
          </div>
        </div>
      </div>
      <footer class="modal-footer">
        <div class="button-group">
          <button type="button" class="button button-secondary button-small"
            data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">Nevermind</button>
          <button type="submit" class="button button-primary button-small"
          [disabled]="!cityForm.valid">Submit</button>
        </div>
      </footer>
    </form>
  </div>
</ng-template>

<ng-template #submittedForm>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Thanks for your message!</h4>
  </div>
  <div class="modal-body">
   We'll get back to you ASAP. In the meantime, check out our <a href="{{ url }}">resources page.</a>
  </div>
</ng-template>
