<section class="tab-section">
  <div class="review-item">
    <span class="answer-label">City:</span>
    <span class="review-description">{{ org?.getLocationName() }}</span>
  </div>

  <div class="review-item">
    <span class="answer-label">Organization name:</span>
    <span class="review-description">{{ org?.name }}</span>
  </div>

  <div class="review-item">
    <span class="answer-label">Finish date:</span>
    <span class="review-description">{{ org?.subscription_end_date | date: 'longDate' }}</span>
  </div>
</section>
