<div class="step-header">
  <h2 class="text-center">
    Create your organization
  </h2>
</div>
<div class="step-content" [formGroup]="form">
  <div class="step-form-control">
    <label>City
      <a class="pull-right" href="javascript:"
         tooltip="Temperate is customized to your city. We need this information in order to create an organization for you and your team.">
        Why do I need to provide a city?
      </a>
      <input class="form-control"
             formControlName="location"
             tabindex="1"
             typeaheadOptionField="properties.displayName"
             (typeaheadOnSelect)="itemSelected($event)"
             (typeaheadOnBlur)="itemBlurred()"
             (blur)="itemBlurred()"
             [typeahead]="cities"
             [typeaheadMinLength]="1"
             [typeaheadScrollable]="true"
             [typeaheadWaitMs]="100"
             [typeaheadOptionsInScrollableView]="5">
      <div *ngIf="form.controls.location.errors">
        <span *ngIf="form.controls.location.errors.required">*Required</span>
        <span *ngIf="form.controls.location.errors.autocomplete">*Not found</span>
        <span *ngIf="form.controls.location.errors.server">
          *{{ form.controls.location.errors.server }}
        </span>
      </div>
    </label>
    e.g. Philadelphia, PA. Please note that we only have US cities at this time.
  </div>
  <div class="step-form-control">
    <label>Organization/department
      <input class="form-control"
             formControlName="name"
             type="text"
             tabindex="2">
      <div *ngIf="form.controls.name.errors">
        <span *ngIf="form.controls.name.errors.required">*Required</span>
        <span *ngIf="form.controls.name.errors.server">
          *{{ form.controls.name.errors.server }}
        </span>
      </div>
    </label>
    e.g. Ecology Action Center. If you work from more than one department, just pick one.
  </div>
</div>
<div class="step-footer">
  <button type="button"
          tabindex="3"
          class="button button-primary"
          [disabled]="!form.valid"
          nextStep
          (click)="store()">Continue</button>
</div>
