<div class="step-header">
  <h2 class="step-title">Create your organization</h2>
  <p>
    Select the city you are creating a climate adaptation plan for. All of the climate
    change data in Temperate will be specific to the city you select.
  </p>
</div>

<div class="step-content" [formGroup]="form">
  <div class="form-control-container">
    <label>Find your city</label>
    <input class="form-control"
            formControlName="location"
            autocomplete="forced-false"
            placeholder="Start typing to search cities"
            typeaheadOptionField="properties.displayName"
            (typeaheadOnSelect)="itemSelected($event)"
            (typeaheadOnBlur)="itemBlurred()"
            (typeaheadNoResults)="onNoResults($event)"
            (blur)="itemBlurred()"
            [typeahead]="cities"
            [typeaheadMinLength]="1"
            [typeaheadScrollable]="true"
            [typeaheadWaitMs]="100"
            [typeaheadOptionsInScrollableView]="5">
    <div class="form-control-hint">
      <div *ngIf="noResults">
        Please select an available city or
        <app-add-city-modal>request that we add one.</app-add-city-modal>
        <div *ngIf="!form.controls.location.errors || !form.controls.location.errors.city">
          City not found.
        </div>
      </div>
      <div *ngIf="!noResults">
        Please note that we only have US cities at this time.
        <app-add-city-modal>Not seeing yours?</app-add-city-modal>
      </div>
    </div>
    <div class="form-control-error"
          *ngIf="form.controls.location.errors && (form.controls.location.dirty || form.controls.location.touched)">
      <span *ngIf="form.controls.location.errors.required || form.controls.location.errors.autocomplete">
        This is a required field.</span>
      <span *ngIf="form.controls.location.errors.server">
        *{{ form.controls.location.errors.server }}</span>
      <span *ngIf="form.controls.location.errors.city">
        City not found.</span>
    </div>
  </div>
  <div class="form-control-container">
    <label>Organization or department</label>
      <input class="form-control"
             formControlName="name"
             type="text">
      <div class="form-control-hint">e.g. Ecology Action Center. If you work from more than one department, just pick one.</div>
      <div class="form-control-error" *ngIf="form.controls.name.errors && (form.controls.name.dirty || form.controls.name.touched)">
        <span *ngIf="form.controls.name.errors.required">This is a required field.</span>
        <span *ngIf="form.controls.name.errors.server">
          *{{ form.controls.name.errors.server }}
        </span>
      </div>
  </div>
</div>

<div class="step-footer">
  <div class="step-footer-navigation">
    <button type="button" class="button button-primary"
            [disabled]="!form.valid"
            nextStep
            (click)="store()">Next</button>
  </div>
</div>
