<div class="step-header">
  <h2 class="step-title">Create your organization</h2>
</div>

<div class="step-content" [formGroup]="form">
  <div class="form-control-container">
    <label>Location</label>
    <app-org-location-geocoder formControlName="location"></app-org-location-geocoder>
    <div class="form-control-hint">
      <div>
        Please note that we don’t have all cities at this time.
        <app-add-city-modal>Not seeing yours?</app-add-city-modal>
      </div>
    </div>
    <div class="form-control-error"
          *ngIf="form.controls.location.errors && (form.controls.location.dirty || form.controls.location.touched)">
      <span *ngIf="form.controls.location.errors.required || form.controls.location.errors.autocomplete">
        This is a required field.</span>
      <span *ngIf="form.controls.location.errors.server">
        *{{ form.controls.location.errors.server }}</span>
      <span *ngIf="form.controls.location.errors.city">
        City not found.</span>
    </div>
  </div>
  <div class="form-control-container">
    <label>Name</label>
      <input class="form-control"
             formControlName="name"
             type="text">
      <div class="form-control-hint">e.g. Ecology Action Center. If you work from more than one department, just pick one.</div>
      <div class="form-control-error" *ngIf="form.controls.name.errors && (form.controls.name.dirty || form.controls.name.touched)">
        <span *ngIf="form.controls.name.errors.required">This is a required field.</span>
        <span *ngIf="form.controls.name.errors.server">
          *{{ form.controls.name.errors.server }}
        </span>
      </div>
  </div>
</div>

<div class="step-footer">
  <div class="step-footer-navigation">
    <button type="button" class="button button-primary"
            [disabled]="!form.valid"
            nextStep
            (click)="store()">Next</button>
  </div>
</div>
