<header class="header-primary" role="banner">
  <a *ngIf="router.url !== '/'" routerLink="/" class="logo"><img src="assets/images/temperate-mark-white.svg" alt="Temperate, by Azavea"></a>
  <a *ngIf="router.url === '/'" routerLink="/" class="logo"><img src="assets/images/temperate-logo-white.svg" alt="Temperate, by Azavea"></a>
  <div class="nav-buttons" *ngIf="authService.isAuthenticated()">
    <a class="button button-inverse-light"
       routerLink="/dashboard" >Dashboard</a>
    <a class="button button-inverse-light"
       *ngIf="showLink('/indicators')"
       routerLink="/indicators">Indicators</a>
    <app-user-dropdown></app-user-dropdown>
  </div>
  <nav class="nav-buttons" *ngIf="!authService.isAuthenticated()">
    <a class="button button-inverse-light"
       routerLink="/pricing">Pricing</a>
    <button class="button"
            routerLink="/login">Log In</button>
    <button class="button button-primary"
            (click)="openModal(newUserForm)">Sign up</button>
  </nav>
</header>

<div class="banner" *ngIf="authService.isAuthenticated() && isFreeTrial">
  <span>There
    <span *ngIf="trialDaysRemaining !== 1"> are {{ trialDaysRemaining }} days </span>
    <span *ngIf="trialDaysRemaining === 1"> is 1 day </span>
    left in your free trial. Keep making progress on your city's adaptation plan and <a class="button-link" routerLink="/subscription">upgrade your plan.</a>
  </span>
  <a routerLink="/subscription" class="button">Upgrade</a>
</div>

<!-- Create Account Modal template -->
<ng-template #newUserForm>
  <app-new-user-form (closed)="modalRef.hide()"></app-new-user-form>
</ng-template>
