<header class="header-primary" role="banner">
  <a *ngIf="authService.isAuthenticated()" routerLink="/" class="logo logo-mark"><img src="assets/images/temperate-mark-white.svg" alt="Temperate, by Azavea"></a>
  <a *ngIf="!authService.isAuthenticated()" routerLink="/" class="logo"><img src="assets/images/temperate-logo-white.svg" alt="Temperate, by Azavea"></a>
  <div class="nav-buttons" *ngIf="authService.isAuthenticated()">
    <a class="button button-inverse-light"
       *ngIf="showLink()"
       routerLink="/dashboard"
       routerLinkActive="current">Dashboard</a>
    <a class="button button-inverse-light"
       *ngIf="showLink()"
       routerLink="/indicators"
       routerLinkActive="current">Indicators</a>
    <app-user-dropdown></app-user-dropdown>
  </div>
  <nav class="nav-buttons" *ngIf="!authService.isAuthenticated()">
    <a class="button button-inverse-light"
       routerLink="/pricing"
       routerLinkActive="current">Pricing</a>
    <a class="button button-inverse-light"
       routerLink="/faq"
       routerLinkActive="current">FAQ</a>
    <button class="button"
            routerLink="/login">Log In</button>
    <button class="button button-primary"
            *ngIf="hostname !== 'temperate.io'"
            routerLink="/register">Sign up</button>
  </nav>
</header>

<div class="banner" *ngIf="authService.isAuthenticated() && isFreeTrial && !isManageSubscriptionPage()">
  <span>There
    <span *ngIf="trialDaysRemaining !== 1"> are {{ trialDaysRemaining }} days </span>
    <span *ngIf="trialDaysRemaining === 1"> is 1 day </span>
    left in your free trial. Keep making progress on your city's adaptation plan and upgrade your plan.
  </span>
  <a routerLink="/subscription" class="button button-small">Upgrade</a>
</div>
