<div class="step-header">
  <h3>Identify risk</h3>
</div>
<div class="step-content">
  <p>Match a hazard to a subset of people, structures or assets (sometimes referred to as a "community system") that the selected hazard may impact</p>
  <form [formGroup]="form">
  <div class="step-form-control">
    <label>Hazards
      <input class="form-control" formControlName="weatherEvent"
                                  typeaheadOptionField="name"
                                  (typeaheadOnSelect)="weatherEventSelected($event)"
                                  (typeaheadNoResults)="weatherEventSelected(null)"
                                  (blur)="weatherEventBlurred($event)"
                                  [typeahead]="weatherEvents"
                                  [typeaheadMinLength]="1"
                                  [typeaheadScrollable]="true"
                                  [typeaheadOptionsInScrollableView]="5"
                                  [container]="'body'">
      <span *ngIf="form.controls.weatherEvent.errors">*Required</span>
    </label>
  </div>
  <div>
    <label>Community system
      <input class="form-control" formControlName="communitySystem"
                                  typeaheadOptionField="name"
                                  (typeaheadOnSelect)="communitySystemSelected($event)"
                                  (typeaheadNoResults)="communitySystemSelected(null)"
                                  (blur)="communitySystemBlurred($event)"
                                  [typeahead]="communitySystems"
                                  [typeaheadMinLength]="1"
                                  [typeaheadScrollable]="true"
                                  [typeaheadOptionsInScrollableView]="5"
                                  [container]="'body'">
      <span *ngIf="form.controls.communitySystem.errors">*Required</span>
    </label>
  </div>
  </form>
</div>
<div class="step-footer">
  <button type="button" [disabled]="!form.valid" nextStep (finalize)="save()">Continue</button>
  <button type="button" (click)="cancel()">Cancel</button>
</div>
