<h3>Impact</h3>

<!--TODO (issue #366): Calculate # years from plan's goal date -->
<p>How will this hazard affect COMMUNITY_SYSTEM over the next 5 years?</p>


<form [formGroup]="form">
  <div>
    <label>Impact Magnitude</label>
    <select formControlName="impactMagnitude">
      <option *ngFor="let m of magnitudes" value="{{m}}">{{m}}</option>
    </select>
  </div>
  <div>
    <label>Impact Description</label>
    <input type="text" formControlName="impactDescription" optional>
  </div>
  <div>
    <button type="button" [disabled]="!form.valid" nextStep (finalize)="save()">Continue</button>
    <button type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
