<footer class="site-footer">
  <nav class="footer-nav">
    <a routerLink="/" class="logo"><img src="assets/images/temperate-logo-full-left-neutral.svg" alt="Temperate, by Azavea"></a>
    <div class="nav-buttons">
      <a class="button button-inverse-dark"
         (click)="resetScroll()"
         routerLink="/methodology"
         routerLinkActive="current">Methodology</a>
      <a class="button button-inverse-dark"
         (click)="resetScroll()"
         routerLink="/partnerships"
         routerLinkActive="current">Partnerships</a>
      <a class="button button-inverse-dark"
         href="https://climate.azavea.com">Climate API</a>
      <a class="button button-inverse-dark"
         *ngIf="authService.isAuthenticated()"
         (click)="resetScroll()"
         routerLink="/faq"
         routerLinkActive="current">FAQ</a>
      <a class="button button-inverse-dark"
         (click)="resetScroll()"
         routerLink="/"
         routerLinkActive="current"
         [queryParams]="{ ref: 'footer' }">About</a>
    </div>
  </nav>
  <div class="fine-print">
    <p class="copyright">&copy; 2016-2018 <a href="https://azavea.com/" target="_blank">Azavea Inc.</a>, using technology to inform research for civic and social impact. All rights reserved.</p>
    <p class="grant">Temperate and the Climate API developed with support from the US Dept. of Energy (DE‐SC0011303).</p>
  </div>
</footer>
