<!--App footer-->
<footer *ngIf="router.url !== '/'" class="site-footer">
  Methodology &bull; Partnerships &bull;&nbsp;
  <a href="http://climate.azavea.com">Climate API</a>
  <a [routerLink]="['']"
     [queryParams]="{ ref: 'footer' }">&nbsp;&bull; Website</a>
</footer>
<!--Marketing page footer-->
<footer *ngIf="router.url === '/'" class="site-footer" role="contentinfo">
  <a href="index.html" class="logo"><img src="assets/images/climate-logo-white.svg" alt="Climate by Azavea logo"></a>
  <div class="site-information">
    <p>© 2016-2017 <a href="https://www.azavea.com">Azavea,</a> using technology to inform research for civic and social impact. All rights reserved.</p>
    <p>Components of the Climate API have been developed with support from the US Dept. of Energy (DE‐SC0011303).</p>
    <p>Contact us at <strong>climate@azavea.com</strong></p>
  </div>
</footer>
