<header class="modal-header">
  <h1 class="modal-title">Log in to Temperate</h1>
</header>
<div class="modal-body">
  <form class="form" id="form-login">
    <!-- Email Address/Username -->
    <div class="form-control-container">
      <label for="email-address">Email address</label>
      <input class="form-control" id="email-address"
          [(ngModel)]="username" autofocus
          type="email" name="textfield" autocomplete="email" required>
      <div class="form-control-error" *ngIf="errors.email">
        <span *ngFor="let error of errors.email">
          {{ error }}
        </span>
      </div>
    </div>

    <!-- Password -->
    <div class="form-control-container">
      <label for="password">Password</label>
      <input class="form-control" id="password"
          [(ngModel)]="password" auto
          type="password" name="password" autocomplete="current-password" required>
      <div class="form-control-error" *ngIf="errors.password">
        <span *ngFor="let error of errors.password">
          {{ error }}
        </span>
      </div>
    </div>
  </form>
  <div class="form-control-error" *ngIf="errors.non_field_errors">
      <span *ngFor="let error of errors.non_field_errors">
          {{ error }}
      </span>
  </div>
  <footer class="modal-footer">
    <button type="submit" class="button button-primary"
        (click)="submit()" form="form-login">Log in</button>
    <div class="secondary-links">
      <a routerLink="/forgot-password" [queryParams]="username ? {'username': username} : {}">
        Forgot password?
      </a> &bull;
      <a *ngIf="hostname !== 'temperate.io'" routerLink="/register">
        Don&rsquo;t have an account?
      </a>
    </div>
  </footer>
</div>
