<header class="modal-header">
  <h1 class="modal-title">Log in to Temperate</h1>
</header>
<div class="modal-body">
  <form class="form" id="form-login">
    <!-- Email Address/Username -->
    <div class="form-control-container">
      <label for="email-address">Email address</label>
      <input class="form-control" id="email-address"
          [(ngModel)]="username" autofocus
          type="email" name="textfield" autocomplete="email" required>
      <div *ngIf="errors.email" class="form-control-error">
        <p *ngFor="let error of errors.email">
          {{ error }}
        </p>
      </div>
    </div>

    <!-- Password -->
    <div class="form-control-container">
      <label for="password">Password</label>
      <input class="form-control" id="password"
          [(ngModel)]="password" auto
          type="password" name="password" autocomplete="current-password" required>
      <div *ngIf="errors.password" class="form-control-error">
        <p *ngFor="let error of errors.password">
          {{ error }}
        </p>
      </div>
    </div>
  </form>
  <div *ngIf="errors.non_field_errors" class="form-control-error">
      <p *ngFor="let error of errors.non_field_errors">
          {{ error }}
      </p>
  </div>
  <footer class="modal-footer">
    <button type="submit" class="button button-primary"
        (click)="submit()" form="form-login">Log in</button>
    <a routerLink="/forgot-password"  class="secondary-link" [queryParams]="username ? {'username': username} : {}">
      Forgot password?
    </a>
    <a routerLink="/register" class="secondary-link">
      Don't have an account?
    </a>
  </footer>
</div>
