ccc-model-modal .modal {
  .modal-body {
    padding: 0;

    > .modal-title {
      @extend .modal-header;
      @extend .modal-title;
    }

    > .modal-actions {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      padding: $space-base $modal-body-padding;

      > .button {
        @extend .button-link;
        margin-left: $space-xlarge;
      }
    }

    > .models {
      columns: 3;
      column-gap: $space-base;
      padding: $modal-body-padding;

      label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: $space-small 0;
        font-size: $font-size-base;
        font-weight: $font-weight-regular;

        > input[type=checkbox] {
          width: 1.6rem;
          height: 1.6rem;
          margin-right: $space-base;
        }
      }
    }
  }

  .modal-footer {
    padding: $modal-footer-padding;
  }
}
