<div class="step-header">
  <h2 id="plan-due-date-title" class="step-title">Expected finish date</h2>
  <p>Members of the Global Covenant of Mayors are required to submit their plan once every five years. We recommend keeping plans up to date throughout the year.</p>
</div>

<div class="step-content">
  <form [formGroup]="form">
    <div class="form-control-container">
      <input class="form-control date-picker-control"
             formControlName="plan_due_date"
             type="text"
             placeholder="mm/dd/yyyy"
             #dp="bsDatepicker"
             bsDatepicker [(ngModel)]="planDueDate"
             [minDate]="minDate"
             [bsConfig]="{ containerClass: 'theme-default' }">
      <div class="form-control-error" *ngIf="form.controls.plan_due_date.errors && (form.controls.plan_due_date.dirty || form.controls.plan_due_date.touched)">
        <span *ngIf="form.controls.plan_due_date.errors.required">Enter the date that you and your team expect to finish this plan. Don&rsquo;t worry, you can change this later</span>
        <div *ngIf="form.controls.plan_due_date.errors.bsDate">
          <span *ngIf="form.controls.plan_due_date.errors.bsDate.invalid &&
                     !form.controls.plan_due_date.errors.required">Try a valid date.</span>
          <span *ngIf="form.controls.plan_due_date.errors.bsDate.minDate">Oops, this date was set in the past!</span>
        </div>
      </div>
    </div>
  </form>
</div>

<footer class="step-footer">
  <div class="step-footer-navigation">
    <button class="button button-primary"
            type="button"
            [disabled]="!form.valid"
            nextStep>Next</button>
  </div>
</footer>
