<div class="step-header">
  <h3>Plan Due Date</h3>
</div>
<div class="step-content">
  <p>Placeholder text here</p>
  <form [formGroup]="form">
  <div class="step-form-control">
    <label>Plan Due Date
      <input class="form-control"
             formControlName="plan_due_date"
             type="text"
             placeholder="mm/dd/yyyy"
             #dp="bsDatepicker"
             bsDatepicker [(ngModel)]="planDueDate"
             [bsConfig]="{ containerClass: 'theme-default' }"
             tabindex="1">
      <div *ngIf="form.controls.plan_due_date.errors">
        <span *ngIf="form.controls.plan_due_date.errors.required">*Required</span>
      </div>
    </label>
  </div>
  </form>
</div>
<div class="step-footer">
  <button type="button"
          tabindex="3"
          [disabled]="!form.valid"
          nextStep>Continue</button>
</div>
