<header *ngIf="!submitted" class="modal-header">
  <h1 class="modal-title">Create a Temperate account</h1>
</header>
<header *ngIf="submitted" class="modal-header">
  <h1 *ngIf="activated" class="modal-title">Your account has been activated</h1>
  <h1 *ngIf="!activated" class="modal-title">We’ve emailed you an activation link</h1>
</header>
<div *ngIf="submitted" class="modal-body">
  <p *ngIf="!activated">Check your inbox at {{ model.email }} and follow the instruction to activate your account.</p>
  <p *ngIf="activated"><a routerLink="/login">Log in</a> to get started.</p>
</div>
<div *ngIf="!submitted" class="modal-body">
  <form #newUserForm="ngForm" class="form" id="app-new-user-form" (ngSubmit)="onSubmit()">
    <!-- First name -->
    <div class="form-control-container">
      <label for="first_name">First name</label>
      <input class="form-control" type="text" required autofocus autocomplete="given-name"
        [(ngModel)]="model.first_name" #first_name="ngModel" id="first_name" name="first_name">
      <div *ngIf="errors.first_name" class="form-control-error">
        <p *ngFor="let error of errors.first_name">
          {{ error }}
        </p>
      </div>
    </div>

    <!-- Last Name -->
    <div class="form-control-container">
      <label for="last_name">Last name</label>
      <input class="form-control" type="text" required autocomplete="family-name"
        [(ngModel)]="model.last_name" #last_name="ngModel" id="last_name" name="last_name">
        <div *ngIf="errors.last_name" class="form-control-error">
        <p *ngFor="let error of errors.last_name">
          {{ error }}
        </p>
      </div>
    </div>

    <!-- Email Address -->
    <div class="form-control-container">
      <label for="email">Email address</label>
      <input class="form-control" type="email" required autocomplete="email"
        [(ngModel)]="model.email" #email="ngModel" id="email" name="email"
        [disabled]="emailDisabled">
      <div *ngIf="errors.email" class="form-control-error">
        <p *ngFor="let error of errors.email">
          {{ error }}
        </p>
      </div>
    </div>

    <!-- Password -->
    <div class="form-control-container">
      <label for="password">Password</label>
      <div class="input-group">
        <input class="form-control"
               [type]="passwordVisible ? 'input' : 'password'"
               required
               autocomplete="new-password"
               [(ngModel)]="model.password"
               [appPasswordValidator]="[model.first_name, model.last_name, model.email]"
               #popover="bs-popover"
               [popover]="passwordPopover"
               placement="bottom"
               triggers=""
               (focus)="popover.show()"
               (blur)="popover.hide()"
               #password="ngModel"
               id="password"
               name="password">
        <button type="button" class="button-icon-only"
                (click)="passwordVisible = !passwordVisible">
          <span class="icon icon-eye" *ngIf="!passwordVisible"></span>
          <span class="icon icon-eye-slash" *ngIf="passwordVisible"></span>
        </button>
      </div>
      <div *ngIf="errors.password" class="form-control-error">
        <p *ngFor="let error of errors.password">
          {{ error }}
        </p>
      </div>
    </div>

    <div *ngIf="errors.non_field_errors" class="form-control-error">
      <p *ngFor="let error of errors.non_field_errors">
        {{ error }}
      </p>
    </div>

    <!-- Note this must be inside the <form> to use the password template reference -->
    <ng-template #passwordPopover>
      <app-password-validator-popover [control]="password">
      </app-password-validator-popover>
    </ng-template>
  </form>
  <footer *ngIf="!submitted" class="modal-footer">
    <div class="button-group">
      <button type="submit" [disabled]="newUserForm && newUserForm.invalid"
        class="button button-primary" form="app-new-user-form">Create account</button>
    </div>
  </footer>
</div>
