<div class="loading-wrapper" *ngIf="!mapImpacts">
  <div class="loading loading-spinner loading-large"></div>
</div>
<main class="main-content" role="main" *ngIf="mapImpacts && organization">
  <aside class="map-sidebar">
    <h1 *ngIf="showHeader">
      Maps
    </h1>
    <p class="paragraph-intro">
     Use the visualization input below to view location-based climate data for {{organization?.getLocationName()}}.
    </p>
    <label class="label-viz" for="viz-select">
      Visualization
    </label>
    <select id="viz-select"
            class="form-control form-control-dark"
            (change)="setLayer()"
            [(ngModel)]="layerIndex"
            *ngIf="mapImpacts && mapImpacts.length > 0">
      <option *ngFor="let impact of mapImpacts; index as i" [value]="i">{{ impact.label }}</option>
    </select>



    <ng-container *ngIf="layer">
      <label class="label-legend" for="map-legend">
        Legend
      </label>
      <ul id="map-legend" class="legend">
        <li class="legend-row" *ngFor="let row of layer.legend">
          <span class="swatch" [style.backgroundColor]="row.color"></span>
          &nbsp;
          <span *ngIf="row.label">{{ row.label }}</span>
          <span *ngIf="row.min_value != undefined && row.max_value != undefined">{{ row.min_value }} &ndash; {{ row.max_value }}</span>
        </li>
      </ul>

      <div class="footnotes">
        <div class="about-viz-link">
          <i *ngIf="layer.external_link" class="icon icon-question-circle"></i>
          <a *ngIf="layer.external_link"
            href="{{ layer.external_link }}"
            target="_blank">
            About this map
          </a>
        </div>
        <hr>
        <div class="attribution">
          &copy;
           <!-- TODO: Add attribution_link to impact map layer models #1345-->
           <a *ngIf="layer.attribution_link"
              href="{{ layer.attribution_link }}"
              target="_blank"
              class="attribution-text">
             {{ layer.attribution }}
           </a>
           <span *ngIf="!layer.attribution_link">{{ layer.attribution }}</span>
        </div>
      </div>
    </ng-container>
  </aside>

  <section class="map-container">
    <div class="map-content">
      <aol-map (onPreCompose)="updateMapSize()">
        <aol-control-zoom></aol-control-zoom>
        <aol-interaction-default></aol-interaction-default>
        <aol-view [zoom]="startingZoom">
          <aol-coordinate [x]="location.geometry.coordinates[0]" [y]="location.geometry.coordinates[1]" [srid]="wgs84"></aol-coordinate>
        </aol-view>
        <aol-layer-vector [zIndex]="2">
          <aol-source-vector #boundsSource>
          </aol-source-vector>
        </aol-layer-vector>
        <ng-container *ngIf="layer">
          <aol-layer-image *ngIf="layer.layer_type === layerTypes.ImageArcGISRest" [zIndex]="1">
            <aol-source-imagearcgisrest
              [projection]="webMercator"
              [url]="layer.url"
            ></aol-source-imagearcgisrest>
          </aol-layer-image>
          <aol-layer-vector
            #countyLayer
            *ngIf="layer.layer_type === layerTypes.CountyGeoJSON"
            [style]="styleCountyFeature"
            [zIndex]="1">
            <aol-source-geojson
              [featureProjection]="webMercator"
            ></aol-source-geojson>
          </aol-layer-vector>
          <aol-layer-vectortile
            #vectorTileLayer
            *ngIf="layer.layer_type === layerTypes.VectorTile"
            [renderMode]="'image'"
            [style]="styleVectorFeature"
            [zIndex]="1">
            <aol-source-vectortile [url]="layer.url">
              <aol-format-mvt></aol-format-mvt>
              <aol-tilegrid [maxZoom]="layer.max_zoom"></aol-tilegrid>
            </aol-source-vectortile>
          </aol-layer-vectortile>
        </ng-container>
      </aol-map>
      <div class="chart-options slider" *ngIf="showSlider">
          <div class="chart-options-body">
              <nouislider class="chart-options-group"
                          [config]="sliderConfig"
                          [ngModel]="selectedYear"
                          [min]="sliderMin"
                          [max]="sliderMax"
                          (slide)="changeLayerYear($event)">
              </nouislider>
          </div>
      </div>
    </div>
  </section>
</main>
