<div *ngIf="!wizardComplete">
  <div class="plan-wizard-header">
    <h2>Set up your city's plan</h2>
  </div>
  <wizard #wizard
          navigationMode="strict"
          navBarLocation="left"
          navBarLayout="large-filled-symbols">
    <app-plan-step-due-date class="wizard-step"
                            #dueDateStep
                            wizardStep
                            [canExit]="dueDateStep.save"
                            stepTitle="{{ dueDateStep.title }}"
                            navigationSymbol="{{ dueDateStep.navigationSymbol }}">
    </app-plan-step-due-date>

    <app-plan-step-hazards class="wizard-step"
                           #hazardsStep
                           wizardStep
                           optionalStep
                           [canExit]="hazardsStep.save"
                           stepTitle="{{ hazardsStep.title }}"
                           navigationSymbol="{{ hazardsStep.navigationSymbol }}">
    </app-plan-step-hazards>

    <app-plan-step-community-systems class="wizard-step"
                                     #communitySystemsStep
                                     wizardCompletionStep
                                     enableBackLinks
                                     (wizardCompleted)="onWizardCompleted($event)"
                                     stepTitle="{{ communitySystemsStep.title }}"
                                     navigationSymbol="{{ communitySystemsStep.navigationSymbol }}">
    </app-plan-step-community-systems>
  </wizard>
</div>
<div *ngIf="wizardComplete" class="wizard-done">
  <div class="loading-wrapper">
    <div class="loading loading-spinner loading-large loading-primary"></div>
  </div>
  <h2>Setting up your plan</h2>
</div>
