<div class="grouped-risk-header">
  <h4 class="grouped-risk-title">
    <span class="grouped-risk-priority">
      <va-adaptive-need-box *ngIf="isAdaptiveNeedBoxVisible()"
                            [potentialImpact]="aggregateNeed.impact"
                            [adaptiveCapacity]="aggregateNeed.capacity"></va-adaptive-need-box>
      <span class="grouped-risk-priority-empty" 
           *ngIf="!isAdaptiveNeedBoxVisible()"
           tooltip="As you assess your city’s vulnerability to this hazard, the color of 
                    this square will reflect your city’s adaptive needs"
           placement="right"></span>
    </span>
    {{ weatherEvent.name }}
    <span class="risks-number">&bull; {{ risks.length }} risks</span>
  </h4>

  <span class="indicators-trigger"
        [tooltip]="noRelatedIndicatorsTooltip"
        *ngIf="!canShowIndicators">
    <button class="indicators-trigger-button disabled button-icon-only"><span class="icon icon-indicators"></span></button>
  </span>
  
  <span class="indicators-trigger"
        tooltip="See related indicators"
        *ngIf="canShowIndicators">
    <button class="indicators-trigger-button button-icon-only" (click)="openModal()"><span class="icon icon-indicators"></span></button>
  </span>
</div>

<div class="grouped-risk-summary">
  <div class="grouped-risk-progress-container grouped-risk-progress-assessment">
    <div class="grouped-risk-progress">
      <h5 class="grouped-risk-progress-title">Vulnerability assessment</h5>
      <span class="progress-percentage">{{ percentRisksAssessed() }}%</span>
      <progressbar [max]="risks.length" [value]="numberOfRisksAssessed()"></progressbar>
    </div>
    <a class="button button-small button-primary" 
       routerLink="/assessment"
       [queryParams]="{hazard: weatherEvent?.id}">Assess</a>
  </div>
  

  <div class="grouped-risk-progress-container grouped-risk-progress-action" *ngIf="numberOfRisksAssessed() > 0">
    <div class="grouped-risk-progress">
      <h5 class="grouped-risk-progress-title">Action steps</h5>
      <span class="progress-percentage">{{ percentActionsAssessed() }}%</span>
      <progressbar [max]="risks.length" [value]="numberOfActionsAssessed()"></progressbar>
    </div>
    <a class="button button-small button-positive"
       routerLink="/actions"
       [queryParams]="{hazard: weatherEvent?.id}">Take action</a>
  </div>
</div>

<app-modal-template #indicatorChartModal
  title="Indicators related to {{ modalRisk?.weather_event.name | lowercase }}">
  <app-force-collapse-chart-container
      [indicators]="indicators"
      [city]="city">
  </app-force-collapse-chart-container>
  <footer class="modal-footer">
    <button class="button button-inverse-dark" (click)="goToIndicators()">See all indicators</button>
  </footer>
</app-modal-template>

<ng-template #noRelatedIndicatorsTooltip>
  No related indicators for {{ modalRisk?.weather_event.name | lowercase }}
</ng-template>
