<div class="header">
  <h4>{{ weatherEvent.name }} &middot; <span>{{ risks.length }} risks</span></h4>
  <button class="button button-link">See Related Indicators</button>
</div>
<div class="block-assessment">
  <div class="summary">
    <div class="summary-title">
      <h4>Assessment</h4>
      <span>{{ percentAssessed() }} %</span>
    </div>
    <progressbar [max]="risks.length" [value]="numberAssessed()"></progressbar>
  </div>
  <a routerLink="/assessment" class="button button-primary">Assess</a>
</div>
<div class="block-assessment" *ngIf="numberAssessed() > 0">
  <div class="summary">
    <div class="summary-title">
      <h4>Action steps</h4>
      <span>0%</span>
    </div>
    <progressbar [max]="risks.length" [value]="0"></progressbar>
  </div>
  <a routerLink="/actions" class="button button-positive">Take action</a>
</div>
